.backNav {
    background-color:yellow;
    font-size:1.1em;
    text-align:center;
    cursor:pointer;
    text-decoration:none;
    width:95%;
    margin: 0 auto;
    border-bottom:2px outset LightBlue;
    display:block;
    padding: 12px 24px;
    font-weight: bold;
}
.backNav:hover {
    background-color: gold;
    color: DarkBlue;
}

#LitCalTable {
    width:75%;
    margin:30px auto;
    border:1px solid Blue;
    border-radius: 6px;
    padding:10px;
    background:LightBlue;
}

#LitCalTable td {
    padding: 8px 6px;
}

td.rotate {
    width: 1.5em;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
}

td.rotate div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8em;
    font-weight:bold;
    writing-mode: vertical-rl;
    transform: rotate(180.0deg);
}

.dateEntry {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:.7em;
    font-weight:bold;
}

#LitCalMessages {
    width: 75%;
    margin:30px auto;
    border:1px solid darkslategray;
    padding:10px;
    background: lightgray;
}

#LitCalMessages th {
    font-size: 1.3em;
    padding: 10px;
}

#LitCalMessages td {
    padding: 5px;
    border-bottom: 1px solid White;
}

#LitCalMessages td:first-child {
    border-right: 1px groove White;
}

