### .env.example
### The following environment variables are useful for the Unit Test websocket server.
### In a local development environment, copy this file to .env.development to ensure that the Unit Test websocket server will run locally
###  and will use the local API instance to run tests.
### Set the same value for WS_PORT in the Unit Test frontend project folder.
### For more information, see https://github.com/Liturgical-Calendar/LiturgicalCalendarAPI/blob/development/LitCalTestServer.php

WS_PORT=8080
API_PROTOCOL=http
API_HOST=localhost
API_PORT=8000 # will not determine on which port the API will launch, only on which port the Unit Test server will look for the API
# When production, the API will add `/api/{version}` to the path
# where {version} is the version of the API that is automatically detected
# based on the current folder name (dev, v3, v4...).
# When development, no path will be added.
APP_ENV=development # development | production
