**/engineCache/*
vendor/*
.envrc
.env
.env.*
!.env.example
phpstan.neon
!phpstan.neon.dist
phpunit.xml
!phpunit.xml.dist
/*.php
/*.txt
/*.js
*.cache
*.iml
*.log
*.pid
*.supp
public/*.php
!public/index.php
!public/LitCalTestServer.php
/.aider*
.DS_Store
