LiturgicalCalendar.iml
.idea
engineCache/*
allowedOrigins.*
vendor/*
*.log
ValidateTestsAgainstSchema.php
.envrc
debuginfo.php
testYaml.php
.env
.env.*
!.env.example
phpstan.neon
server.pid
.phpunit.result.cache
.phpunit.cache
