{
  "openapi": "3.1.0",
  "servers": [
    {
      "description": "Liturgical Calendar API endpoint (latest stable)",
      "url": "https://litcal.johnromanodorazio.com/api/v3"
    },
    {
      "description": "Liturgical Calendar API endpoint (development - unstable)",
      "url": "https://litcal.johnromanodorazio.com/api/dev"
    }
  ],
  "info": {
    "description": "An API which allows to retrieve data about the **Roman Calendar** for any given year, between 1970 and 9999. The data strives for historical accuracy (memorials and feast days are only generated from the year in which they were effectively introduced). The data is based on original sources (Roman Missals, Decrees of the Congregation for Divine Worship, Mysterii Paschalis, etc.), not on data copied or retrieved from online sources which may not be accurate. The API offers multiple locales and multiple calendars, from the **General Roman Calendar** to national or diocesan calendars.",
    "version": "3.9",
    "title": "Liturgical Calendar",
    "contact": {
      "email": "priest@johnromanodorazio.com",
      "name": "Rev. John R. D'Orazio"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "tags": [
    {
      "name": "Main API endpoint",
      "description": "Retrieve a liturgical calendar"
    },
    {
      "name": "Metadata API endpoint",
      "description": "Retrieve information about available calendars"
    },
    {
      "name": "Unit Test Index endpoint",
      "description": "Retrieve or create unit tests"
    },
    {
      "name": "All possible liturgical events endpoint",
      "description": "All liturgical events by key without the calendar calculation"
    },
    {
      "name": "RegionalData",
      "description": "Retrieve / create / update National, Diocesan or Wider Region calendars "
    },
    {
      "name": "Easter",
      "description": "dates of easter whether gregorian or julian from 1583 to 1999"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events for each day of a given year",
        "operationId": "retrieveEventsGET",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year",
        "parameters": [
          {
            "in": "query",
            "name": "parameters",
            "style": "form",
            "explode": true,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/GeneralRomanCalendarRequestBody"
                },
                {
                  "$ref": "#/components/schemas/NationalCalendarRequestBody"
                },
                {
                  "$ref": "#/components/schemas/DiocesanCalendarRequestBody"
                },
                {
                  "$ref": "#/components/schemas/GeneralRomanCalendarTranslatedRequestBody"
                }
              ]
            },
            "examples": {
              "GeneralRomanCalendar": {
                "$ref": "#/components/examples/GeneralRomanCalendarRequestBody"
              },
              "NationalCalendar": {
                "$ref": "#/components/examples/NationalCalendarRequestBody"
              },
              "DiocesanCalendar": {
                "$ref": "#/components/examples/DiocesanCalendarRequestBody"
              },
              "GeneralRomanCalendarTranslated": {
                "$ref": "#/components/examples/GeneralRomanCalendarTranslatedRequestBody"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK: liturgical events for a given year according to the requested criteria",
            "headers": {
              "X-LitCal-Starttime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "High resolution timestamp in nanoseconds that indicates the start time of the calculation of the current liturgical calendar response"
              },
              "X-LitCal-Endtime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "High resolution timestamp in nanoseconds that indicates the end time of the calculation of the current liturgical calendar response"
              },
              "X-LitCal-Executiontime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "Total time in nanoseconds in which the calculation of the current liturgical calendar response was produced (difference between X-LitCal-Starttime and X-LitCal-Endtime, average is usually about 5ms!)"
              },
              "X-LitCal-Generated": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "Calculation",
                    "ClientCache",
                    "ServerCache"
                  ]
                },
                "description": "Indicates whether the current response was produced from: a fresh calculation since the response to the given request had not yet been calculated, or from client cache since the response has not changed since last request, or from server cache since the client had not yet made this same request but the calculation had already been done formerly on the server"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "Settings": {
                      "type": "object",
                      "description": "echoes back the settings that were requested for the generation of this specific liturgical calendar, as feedback to be sure that the requested settings were correctly applied",
                      "additionalProperties": false,
                      "properties": {
                        "Year": {
                          "type": "integer",
                          "minimum": 1970,
                          "maximum": 9999
                        },
                        "CalendarType": {
                          "type": "string",
                          "enum": [
                            "CIVIL",
                            "LITURGICAL"
                          ]
                        },
                        "Epiphany": {
                          "type": "string",
                          "enum": [
                            "JAN6",
                            "SUNDAY_JAN2_JAN8"
                          ],
                          "title": "Epiphany"
                        },
                        "Ascension": {
                          "type": "string",
                          "enum": [
                            "SUNDAY",
                            "THURSDAY"
                          ],
                          "title": "Ascension"
                        },
                        "CorpusChristi": {
                          "type": "string",
                          "enum": [
                            "SUNDAY",
                            "THURSDAY"
                          ],
                          "title": "CorpusChristi"
                        },
                        "Locale": {
                          "type": "string",
                          "description": "must have a value corresponding to a locale enabled on the LitCal server",
                          "default": "LA",
                          "enum": [
                            "af_NA",
                            "af_ZA",
                            "agq_CM",
                            "ak_GH",
                            "am_ET",
                            "ar_001",
                            "ar_AE",
                            "ar_BH",
                            "ar_DJ",
                            "ar_DZ",
                            "ar_EG",
                            "ar_EH",
                            "ar_ER",
                            "ar_IL",
                            "ar_IQ",
                            "ar_JO",
                            "ar_KM",
                            "ar_KW",
                            "ar_LB",
                            "ar_LY",
                            "ar_MA",
                            "ar_MR",
                            "ar_OM",
                            "ar_PS",
                            "ar_QA",
                            "ar_SA",
                            "ar_SD",
                            "ar_SO",
                            "ar_SS",
                            "ar_SY",
                            "ar_TD",
                            "ar_TN",
                            "ar_YE",
                            "as_IN",
                            "asa_TZ",
                            "ast_ES",
                            "az_Cyrl",
                            "az_Cyrl_AZ",
                            "az_Latn",
                            "az_Latn_AZ",
                            "bas_CM",
                            "be_BY",
                            "bem_ZM",
                            "bez_TZ",
                            "bg_BG",
                            "bm_ML",
                            "bn_BD",
                            "bn_IN",
                            "bo_CN",
                            "bo_IN",
                            "br_FR",
                            "brx_IN",
                            "bs_Cyrl",
                            "bs_Cyrl_BA",
                            "bs_Latn",
                            "bs_Latn_BA",
                            "ca_AD",
                            "ca_ES",
                            "ca_FR",
                            "ca_IT",
                            "ccp_BD",
                            "ccp_IN",
                            "ce_RU",
                            "ceb_PH",
                            "cgg_UG",
                            "chr_US",
                            "ckb_IQ",
                            "ckb_IR",
                            "cs_CZ",
                            "cy_GB",
                            "da_DK",
                            "da_GL",
                            "dav_KE",
                            "de_AT",
                            "de_BE",
                            "de_CH",
                            "de_DE",
                            "de_IT",
                            "de_LI",
                            "de_LU",
                            "dje_NE",
                            "dsb_DE",
                            "dua_CM",
                            "dyo_SN",
                            "dz_BT",
                            "ebu_KE",
                            "ee_GH",
                            "ee_TG",
                            "el_CY",
                            "el_GR",
                            "en_001",
                            "en_150",
                            "en_AE",
                            "en_AG",
                            "en_AI",
                            "en_AS",
                            "en_AT",
                            "en_AU",
                            "en_BB",
                            "en_BE",
                            "en_BI",
                            "en_BM",
                            "en_BS",
                            "en_BW",
                            "en_BZ",
                            "en_CA",
                            "en_CC",
                            "en_CH",
                            "en_CK",
                            "en_CM",
                            "en_CX",
                            "en_CY",
                            "en_DE",
                            "en_DG",
                            "en_DK",
                            "en_DM",
                            "en_ER",
                            "en_FI",
                            "en_FJ",
                            "en_FK",
                            "en_FM",
                            "en_GB",
                            "en_GD",
                            "en_GG",
                            "en_GH",
                            "en_GI",
                            "en_GM",
                            "en_GU",
                            "en_GY",
                            "en_HK",
                            "en_IE",
                            "en_IL",
                            "en_IM",
                            "en_IN",
                            "en_IO",
                            "en_JE",
                            "en_JM",
                            "en_KE",
                            "en_KI",
                            "en_KN",
                            "en_KY",
                            "en_LC",
                            "en_LR",
                            "en_LS",
                            "en_MG",
                            "en_MH",
                            "en_MO",
                            "en_MP",
                            "en_MS",
                            "en_MT",
                            "en_MU",
                            "en_MW",
                            "en_MY",
                            "en_NA",
                            "en_NF",
                            "en_NG",
                            "en_NL",
                            "en_NR",
                            "en_NU",
                            "en_NZ",
                            "en_PG",
                            "en_PH",
                            "en_PK",
                            "en_PN",
                            "en_PR",
                            "en_PW",
                            "en_RW",
                            "en_SB",
                            "en_SC",
                            "en_SD",
                            "en_SE",
                            "en_SG",
                            "en_SH",
                            "en_SI",
                            "en_SL",
                            "en_SS",
                            "en_SX",
                            "en_SZ",
                            "en_TC",
                            "en_TK",
                            "en_TO",
                            "en_TT",
                            "en_TV",
                            "en_TZ",
                            "en_UG",
                            "en_UM",
                            "en_US",
                            "en_VC",
                            "en_VG",
                            "en_VI",
                            "en_VU",
                            "en_WS",
                            "en_ZA",
                            "en_ZM",
                            "en_ZW",
                            "eo_001",
                            "es_419",
                            "es_AR",
                            "es_BO",
                            "es_BR",
                            "es_BZ",
                            "es_CL",
                            "es_CO",
                            "es_CR",
                            "es_CU",
                            "es_DO",
                            "es_EA",
                            "es_EC",
                            "es_ES",
                            "es_GQ",
                            "es_GT",
                            "es_HN",
                            "es_IC",
                            "es_MX",
                            "es_NI",
                            "es_PA",
                            "es_PE",
                            "es_PH",
                            "es_PR",
                            "es_PY",
                            "es_SV",
                            "es_US",
                            "es_UY",
                            "es_VE",
                            "et_EE",
                            "eu_ES",
                            "ewo_CM",
                            "fa_AF",
                            "fa_IR",
                            "ff_Latn",
                            "ff_Latn_BF",
                            "ff_Latn_CM",
                            "ff_Latn_GH",
                            "ff_Latn_GM",
                            "ff_Latn_GN",
                            "ff_Latn_GW",
                            "ff_Latn_LR",
                            "ff_Latn_MR",
                            "ff_Latn_NE",
                            "ff_Latn_NG",
                            "ff_Latn_SL",
                            "ff_Latn_SN",
                            "fi_FI",
                            "fil_PH",
                            "fo_DK",
                            "fo_FO",
                            "fr_BE",
                            "fr_BF",
                            "fr_BI",
                            "fr_BJ",
                            "fr_BL",
                            "fr_CA",
                            "fr_CD",
                            "fr_CF",
                            "fr_CG",
                            "fr_CH",
                            "fr_CI",
                            "fr_CM",
                            "fr_DJ",
                            "fr_DZ",
                            "fr_FR",
                            "fr_GA",
                            "fr_GF",
                            "fr_GN",
                            "fr_GP",
                            "fr_GQ",
                            "fr_HT",
                            "fr_KM",
                            "fr_LU",
                            "fr_MA",
                            "fr_MC",
                            "fr_MF",
                            "fr_MG",
                            "fr_ML",
                            "fr_MQ",
                            "fr_MR",
                            "fr_MU",
                            "fr_NC",
                            "fr_NE",
                            "fr_PF",
                            "fr_PM",
                            "fr_RE",
                            "fr_RW",
                            "fr_SC",
                            "fr_SN",
                            "fr_SY",
                            "fr_TD",
                            "fr_TG",
                            "fr_TN",
                            "fr_VU",
                            "fr_WF",
                            "fr_YT",
                            "fur_IT",
                            "fy_NL",
                            "ga_GB",
                            "ga_IE",
                            "gd_GB",
                            "gl_ES",
                            "gsw_CH",
                            "gsw_FR",
                            "gsw_LI",
                            "gu_IN",
                            "guz_KE",
                            "gv_IM",
                            "ha_GH",
                            "ha_NE",
                            "ha_NG",
                            "haw_US",
                            "he_IL",
                            "hi_IN",
                            "hr_BA",
                            "hr_HR",
                            "hsb_DE",
                            "hu_HU",
                            "hy_AM",
                            "ia_001",
                            "id_ID",
                            "ig_NG",
                            "ii_CN",
                            "is_IS",
                            "it_CH",
                            "it_IT",
                            "it_SM",
                            "it_VA",
                            "ja_JP",
                            "jgo_CM",
                            "jmc_TZ",
                            "jv_ID",
                            "ka_GE",
                            "kab_DZ",
                            "kam_KE",
                            "kde_TZ",
                            "kea_CV",
                            "khq_ML",
                            "ki_KE",
                            "kk_KZ",
                            "kkj_CM",
                            "kl_GL",
                            "kln_KE",
                            "km_KH",
                            "kn_IN",
                            "ko_KP",
                            "ko_KR",
                            "kok_IN",
                            "ks_IN",
                            "ksb_TZ",
                            "ksf_CM",
                            "ksh_DE",
                            "ku_TR",
                            "kw_GB",
                            "ky_KG",
                            "lag_TZ",
                            "lb_LU",
                            "lg_UG",
                            "lkt_US",
                            "ln_AO",
                            "ln_CD",
                            "ln_CF",
                            "ln_CG",
                            "lo_LA",
                            "lrc_IQ",
                            "lrc_IR",
                            "lt_LT",
                            "lu_CD",
                            "luo_KE",
                            "luy_KE",
                            "lv_LV",
                            "mas_KE",
                            "mas_TZ",
                            "mer_KE",
                            "mfe_MU",
                            "mg_MG",
                            "mgh_MZ",
                            "mgo_CM",
                            "mi_NZ",
                            "mk_MK",
                            "ml_IN",
                            "mn_MN",
                            "mr_IN",
                            "ms_BN",
                            "ms_MY",
                            "ms_SG",
                            "mt_MT",
                            "mua_CM",
                            "my_MM",
                            "mzn_IR",
                            "naq_NA",
                            "nb_NO",
                            "nb_SJ",
                            "nd_ZW",
                            "nds_DE",
                            "nds_NL",
                            "ne_IN",
                            "ne_NP",
                            "nl_AW",
                            "nl_BE",
                            "nl_BQ",
                            "nl_CW",
                            "nl_NL",
                            "nl_SR",
                            "nl_SX",
                            "nmg_CM",
                            "nn_NO",
                            "nnh_CM",
                            "nus_SS",
                            "nyn_UG",
                            "om_ET",
                            "om_KE",
                            "or_IN",
                            "os_GE",
                            "os_RU",
                            "pa_Arab",
                            "pa_Arab_PK",
                            "pa_Guru",
                            "pa_Guru_IN",
                            "pl_PL",
                            "ps_AF",
                            "ps_PK",
                            "pt_AO",
                            "pt_BR",
                            "pt_CH",
                            "pt_CV",
                            "pt_GQ",
                            "pt_GW",
                            "pt_LU",
                            "pt_MO",
                            "pt_MZ",
                            "pt_PT",
                            "pt_ST",
                            "pt_TL",
                            "qu_BO",
                            "qu_EC",
                            "qu_PE",
                            "rm_CH",
                            "rn_BI",
                            "ro_MD",
                            "ro_RO",
                            "rof_TZ",
                            "ru_BY",
                            "ru_KG",
                            "ru_KZ",
                            "ru_MD",
                            "ru_RU",
                            "ru_UA",
                            "rw_RW",
                            "rwk_TZ",
                            "sah_RU",
                            "saq_KE",
                            "sbp_TZ",
                            "sd_PK",
                            "se_FI",
                            "se_NO",
                            "se_SE",
                            "seh_MZ",
                            "ses_ML",
                            "sg_CF",
                            "shi_Latn",
                            "shi_Latn_MA",
                            "shi_Tfng",
                            "shi_Tfng_MA",
                            "si_LK",
                            "sk_SK",
                            "sl_SI",
                            "smn_FI",
                            "sn_ZW",
                            "so_DJ",
                            "so_ET",
                            "so_KE",
                            "so_SO",
                            "sq_AL",
                            "sq_MK",
                            "sq_XK",
                            "sr_Cyrl",
                            "sr_Cyrl_BA",
                            "sr_Cyrl_ME",
                            "sr_Cyrl_RS",
                            "sr_Cyrl_XK",
                            "sr_Latn",
                            "sr_Latn_BA",
                            "sr_Latn_ME",
                            "sr_Latn_RS",
                            "sr_Latn_XK",
                            "sv_AX",
                            "sv_FI",
                            "sv_SE",
                            "sw_CD",
                            "sw_KE",
                            "sw_TZ",
                            "sw_UG",
                            "ta_IN",
                            "ta_LK",
                            "ta_MY",
                            "ta_SG",
                            "te_IN",
                            "teo_KE",
                            "teo_UG",
                            "tg_TJ",
                            "th_TH",
                            "ti_ER",
                            "ti_ET",
                            "tk_TM",
                            "to_TO",
                            "tr_CY",
                            "tr_TR",
                            "tt_RU",
                            "twq_NE",
                            "tzm_MA",
                            "ug_CN",
                            "uk_UA",
                            "ur_IN",
                            "ur_PK",
                            "uz_Arab",
                            "uz_Arab_AF",
                            "uz_Cyrl",
                            "uz_Cyrl_UZ",
                            "uz_Latn",
                            "uz_Latn_UZ",
                            "vai_Latn",
                            "vai_Latn_LR",
                            "vai_Vaii",
                            "vai_Vaii_LR",
                            "vi_VN",
                            "vun_TZ",
                            "wae_CH",
                            "wo_SN",
                            "xh_ZA",
                            "xog_UG",
                            "yav_CM",
                            "yi_001",
                            "yo_BJ",
                            "yo_NG",
                            "yue_Hans",
                            "yue_Hans_CN",
                            "yue_Hant",
                            "yue_Hant_HK",
                            "zgh_MA",
                            "zh_Hans",
                            "zh_Hans_CN",
                            "zh_Hans_HK",
                            "zh_Hans_MO",
                            "zh_Hans_SG",
                            "zh_Hant",
                            "zh_Hant_HK",
                            "zh_Hant_MO",
                            "zh_Hant_TW",
                            "zu_ZA",
                            "AF",
                            "AGQ",
                            "AK",
                            "AM",
                            "AR",
                            "AS",
                            "ASA",
                            "AST",
                            "AZ",
                            "BAS",
                            "BE",
                            "BEM",
                            "BEZ",
                            "BG",
                            "BM",
                            "BN",
                            "BO",
                            "BR",
                            "BRX",
                            "BS",
                            "CA",
                            "CCP",
                            "CE",
                            "CEB",
                            "CGG",
                            "CHR",
                            "CKB",
                            "CS",
                            "CY",
                            "DA",
                            "DAV",
                            "DE",
                            "DJE",
                            "DSB",
                            "DUA",
                            "DYO",
                            "DZ",
                            "EBU",
                            "EE",
                            "EL",
                            "EN",
                            "EO",
                            "ES",
                            "ET",
                            "EU",
                            "EWO",
                            "FA",
                            "FF",
                            "FI",
                            "FIL",
                            "FO",
                            "FR",
                            "FUR",
                            "FY",
                            "GA",
                            "GD",
                            "GL",
                            "GSW",
                            "GU",
                            "GUZ",
                            "GV",
                            "HA",
                            "HAW",
                            "HE",
                            "HI",
                            "HR",
                            "HSB",
                            "HU",
                            "HY",
                            "IA",
                            "ID",
                            "IG",
                            "II",
                            "IS",
                            "IT",
                            "JA",
                            "JGO",
                            "JMC",
                            "JV",
                            "KA",
                            "KAB",
                            "KAM",
                            "KDE",
                            "KEA",
                            "KHQ",
                            "KI",
                            "KK",
                            "KKJ",
                            "KL",
                            "KLN",
                            "KM",
                            "KN",
                            "KO",
                            "KOK",
                            "KS",
                            "KSB",
                            "KSF",
                            "KSH",
                            "KU",
                            "KW",
                            "KY",
                            "LAG",
                            "LB",
                            "LG",
                            "LKT",
                            "LN",
                            "LO",
                            "LRC",
                            "LT",
                            "LU",
                            "LUO",
                            "LUY",
                            "LV",
                            "MAS",
                            "MER",
                            "MFE",
                            "MG",
                            "MGH",
                            "MGO",
                            "MI",
                            "MK",
                            "ML",
                            "MN",
                            "MR",
                            "MS",
                            "MT",
                            "MUA",
                            "MY",
                            "MZN",
                            "NAQ",
                            "NB",
                            "ND",
                            "NDS",
                            "NE",
                            "NL",
                            "NMG",
                            "NN",
                            "NNH",
                            "NUS",
                            "NYN",
                            "OM",
                            "OR",
                            "OS",
                            "PA",
                            "PL",
                            "PS",
                            "PT",
                            "QU",
                            "RM",
                            "RN",
                            "RO",
                            "ROF",
                            "RU",
                            "RW",
                            "RWK",
                            "SAH",
                            "SAQ",
                            "SBP",
                            "SD",
                            "SE",
                            "SEH",
                            "SES",
                            "SG",
                            "SHI",
                            "SI",
                            "SK",
                            "SL",
                            "SMN",
                            "SN",
                            "SO",
                            "SQ",
                            "SR",
                            "SV",
                            "SW",
                            "TA",
                            "TE",
                            "TEO",
                            "TG",
                            "TH",
                            "TI",
                            "TK",
                            "TO",
                            "TR",
                            "TT",
                            "TWQ",
                            "TZM",
                            "UG",
                            "UK",
                            "UR",
                            "UZ",
                            "VAI",
                            "VI",
                            "VUN",
                            "WAE",
                            "WO",
                            "XH",
                            "XOG",
                            "YAV",
                            "YI",
                            "YO",
                            "YUE",
                            "ZGH",
                            "ZH",
                            "ZU",
                            "af",
                            "agq",
                            "ak",
                            "am",
                            "ar",
                            "as",
                            "asa",
                            "ast",
                            "az",
                            "bas",
                            "be",
                            "bem",
                            "bez",
                            "bg",
                            "bm",
                            "bn",
                            "bo",
                            "br",
                            "brx",
                            "bs",
                            "ca",
                            "ccp",
                            "ce",
                            "ceb",
                            "cgg",
                            "chr",
                            "ckb",
                            "cs",
                            "cy",
                            "da",
                            "dav",
                            "de",
                            "dje",
                            "dsb",
                            "dua",
                            "dyo",
                            "dz",
                            "ebu",
                            "ee",
                            "el",
                            "en",
                            "eo",
                            "es",
                            "et",
                            "eu",
                            "ewo",
                            "fa",
                            "ff",
                            "fi",
                            "fil",
                            "fo",
                            "fr",
                            "fur",
                            "fy",
                            "ga",
                            "gd",
                            "gl",
                            "gsw",
                            "gu",
                            "guz",
                            "gv",
                            "ha",
                            "haw",
                            "he",
                            "hi",
                            "hr",
                            "hsb",
                            "hu",
                            "hy",
                            "ia",
                            "id",
                            "ig",
                            "ii",
                            "is",
                            "it",
                            "ja",
                            "jgo",
                            "jmc",
                            "jv",
                            "ka",
                            "kab",
                            "kam",
                            "kde",
                            "kea",
                            "khq",
                            "ki",
                            "kk",
                            "kkj",
                            "kl",
                            "kln",
                            "km",
                            "kn",
                            "ko",
                            "kok",
                            "ks",
                            "ksb",
                            "ksf",
                            "ksh",
                            "ku",
                            "kw",
                            "ky",
                            "lag",
                            "lb",
                            "lg",
                            "lkt",
                            "ln",
                            "lo",
                            "lrc",
                            "lt",
                            "lu",
                            "luo",
                            "luy",
                            "lv",
                            "mas",
                            "mer",
                            "mfe",
                            "mg",
                            "mgh",
                            "mgo",
                            "mi",
                            "mk",
                            "ml",
                            "mn",
                            "mr",
                            "ms",
                            "mt",
                            "mua",
                            "my",
                            "mzn",
                            "naq",
                            "nb",
                            "nd",
                            "nds",
                            "ne",
                            "nl",
                            "nmg",
                            "nn",
                            "nnh",
                            "nus",
                            "nyn",
                            "om",
                            "or",
                            "os",
                            "pa",
                            "pl",
                            "ps",
                            "pt",
                            "qu",
                            "rm",
                            "rn",
                            "ro",
                            "rof",
                            "ru",
                            "rw",
                            "rwk",
                            "sah",
                            "saq",
                            "sbp",
                            "sd",
                            "se",
                            "seh",
                            "ses",
                            "sg",
                            "shi",
                            "si",
                            "sk",
                            "sl",
                            "smn",
                            "sn",
                            "so",
                            "sq",
                            "sr",
                            "sv",
                            "sw",
                            "ta",
                            "te",
                            "teo",
                            "tg",
                            "th",
                            "ti",
                            "tk",
                            "to",
                            "tr",
                            "tt",
                            "twq",
                            "tzm",
                            "ug",
                            "uk",
                            "ur",
                            "uz",
                            "vai",
                            "vi",
                            "vun",
                            "wae",
                            "wo",
                            "xh",
                            "xog",
                            "yav",
                            "yi",
                            "yo",
                            "yue",
                            "zgh",
                            "zh",
                            "zu",
                            "LA",
                            "la"
                          ]
                        },
                        "ReturnType": {
                          "type": "string",
                          "enum": [
                            "ICS",
                            "JSON",
                            "XML",
                            "YML"
                          ]
                        },
                        "EternalHighPriest": {
                          "type": "boolean"
                        },
                        "NationalCalendar": {
                          "type": "string",
                          "enum": [
                            "AFGHANISTAN",
                            "ÅLAND ISLANDS",
                            "ALBANIA",
                            "ALGERIA",
                            "AMERICAN SAMOA",
                            "ANDORRA",
                            "ANGOLA",
                            "ANGUILLA",
                            "ANTIGUA & BARBUDA",
                            "ARGENTINA",
                            "ARMENIA",
                            "ARUBA",
                            "AUSTRALIA",
                            "AUSTRIA",
                            "AZERBAIJAN",
                            "BAHAMAS",
                            "BAHRAIN",
                            "BANGLADESH",
                            "BARBADOS",
                            "BELARUS",
                            "BELGIUM",
                            "BELIZE",
                            "BENIN",
                            "BERMUDA",
                            "BHUTAN",
                            "BOLIVIA",
                            "BOSNIA & HERZEGOVINA",
                            "BOTSWANA",
                            "BRAZIL",
                            "BRITISH INDIAN OCEAN TERRITORY",
                            "BRITISH VIRGIN ISLANDS",
                            "BRUNEI",
                            "BULGARIA",
                            "BURKINA FASO",
                            "BURUNDI",
                            "CAMBODIA",
                            "CAMEROON",
                            "CANADA",
                            "CANARY ISLANDS",
                            "CAPE VERDE",
                            "CARIBBEAN NETHERLANDS",
                            "CAYMAN ISLANDS",
                            "CENTRAL AFRICAN REPUBLIC",
                            "CEUTA & MELILLA",
                            "CHAD",
                            "CHILE",
                            "CHINA",
                            "CHRISTMAS ISLAND",
                            "COCOS (KEELING) ISLANDS",
                            "COLOMBIA",
                            "COMOROS",
                            "CONGO - BRAZZAVILLE",
                            "CONGO - KINSHASA",
                            "COOK ISLANDS",
                            "COSTA RICA",
                            "CÔTE D’IVOIRE",
                            "CROATIA",
                            "CUBA",
                            "CURAÇAO",
                            "CYPRUS",
                            "CZECHIA",
                            "DENMARK",
                            "DIEGO GARCIA",
                            "DJIBOUTI",
                            "DOMINICA",
                            "DOMINICAN REPUBLIC",
                            "ECUADOR",
                            "EGYPT",
                            "EL SALVADOR",
                            "EQUATORIAL GUINEA",
                            "ERITREA",
                            "ESTONIA",
                            "ESWATINI",
                            "ETHIOPIA",
                            "EUROPE",
                            "FALKLAND ISLANDS",
                            "FAROE ISLANDS",
                            "FIJI",
                            "FINLAND",
                            "FRANCE",
                            "FRENCH GUIANA",
                            "FRENCH POLYNESIA",
                            "GABON",
                            "GAMBIA",
                            "GEORGIA",
                            "GERMANY",
                            "GHANA",
                            "GIBRALTAR",
                            "GREECE",
                            "GREENLAND",
                            "GRENADA",
                            "GUADELOUPE",
                            "GUAM",
                            "GUATEMALA",
                            "GUERNSEY",
                            "GUINEA",
                            "GUINEA-BISSAU",
                            "GUYANA",
                            "HAITI",
                            "HONDURAS",
                            "HONG KONG SAR CHINA",
                            "HUNGARY",
                            "ICELAND",
                            "INDIA",
                            "INDONESIA",
                            "IRAN",
                            "IRAQ",
                            "IRELAND",
                            "ISLE OF MAN",
                            "ISRAEL",
                            "ITALY",
                            "JAMAICA",
                            "JAPAN",
                            "JERSEY",
                            "JORDAN",
                            "KAZAKHSTAN",
                            "KENYA",
                            "KIRIBATI",
                            "KOSOVO",
                            "KUWAIT",
                            "KYRGYZSTAN",
                            "LAOS",
                            "LATIN AMERICA",
                            "LATVIA",
                            "LEBANON",
                            "LESOTHO",
                            "LIBERIA",
                            "LIBYA",
                            "LIECHTENSTEIN",
                            "LITHUANIA",
                            "LUXEMBOURG",
                            "MACAO SAR CHINA",
                            "MADAGASCAR",
                            "MALAWI",
                            "MALAYSIA",
                            "MALI",
                            "MALTA",
                            "MARSHALL ISLANDS",
                            "MARTINIQUE",
                            "MAURITANIA",
                            "MAURITIUS",
                            "MAYOTTE",
                            "MEXICO",
                            "MICRONESIA",
                            "MOLDOVA",
                            "MONACO",
                            "MONGOLIA",
                            "MONTENEGRO",
                            "MONTSERRAT",
                            "MOROCCO",
                            "MOZAMBIQUE",
                            "MYANMAR (BURMA)",
                            "NAMIBIA",
                            "NAURU",
                            "NEPAL",
                            "NETHERLANDS",
                            "NEW CALEDONIA",
                            "NEW ZEALAND",
                            "NICARAGUA",
                            "NIGER",
                            "NIGERIA",
                            "NIUE",
                            "NORFOLK ISLAND",
                            "NORTH KOREA",
                            "NORTH MACEDONIA",
                            "NORTHERN MARIANA ISLANDS",
                            "NORWAY",
                            "OMAN",
                            "PAKISTAN",
                            "PALAU",
                            "PALESTINIAN TERRITORIES",
                            "PANAMA",
                            "PAPUA NEW GUINEA",
                            "PARAGUAY",
                            "PERU",
                            "PHILIPPINES",
                            "PITCAIRN ISLANDS",
                            "POLAND",
                            "PORTUGAL",
                            "PUERTO RICO",
                            "QATAR",
                            "RÉUNION",
                            "ROMANIA",
                            "RUSSIA",
                            "RWANDA",
                            "SAMOA",
                            "SAN MARINO",
                            "SÃO TOMÉ & PRÍNCIPE",
                            "SAUDI ARABIA",
                            "SENEGAL",
                            "SERBIA",
                            "SEYCHELLES",
                            "SIERRA LEONE",
                            "SINGAPORE",
                            "SINT MAARTEN",
                            "SLOVAKIA",
                            "SLOVENIA",
                            "SOLOMON ISLANDS",
                            "SOMALIA",
                            "SOUTH AFRICA",
                            "SOUTH KOREA",
                            "SOUTH SUDAN",
                            "SPAIN",
                            "SRI LANKA",
                            "ST_ BARTHÉLEMY",
                            "ST_ HELENA",
                            "ST_ KITTS & NEVIS",
                            "ST_ LUCIA",
                            "ST_ MARTIN",
                            "ST_ PIERRE & MIQUELON",
                            "ST_ VINCENT & GRENADINES",
                            "SUDAN",
                            "SURINAME",
                            "SVALBARD & JAN MAYEN",
                            "SWEDEN",
                            "SWITZERLAND",
                            "SYRIA",
                            "TAIWAN",
                            "TAJIKISTAN",
                            "TANZANIA",
                            "THAILAND",
                            "TIMOR-LESTE",
                            "TOGO",
                            "TOKELAU",
                            "TONGA",
                            "TRINIDAD & TOBAGO",
                            "TUNISIA",
                            "TURKEY",
                            "TURKMENISTAN",
                            "TURKS & CAICOS ISLANDS",
                            "TUVALU",
                            "U_S_ OUTLYING ISLANDS",
                            "U_S_ VIRGIN ISLANDS",
                            "UGANDA",
                            "UKRAINE",
                            "UNITED ARAB EMIRATES",
                            "UNITED KINGDOM",
                            "UNITED STATES",
                            "USA",
                            "URUGUAY",
                            "UZBEKISTAN",
                            "VANUATU",
                            "VATICAN",
                            "VATICAN CITY",
                            "VENEZUELA",
                            "VIETNAM",
                            "WALLIS & FUTUNA",
                            "WESTERN SAHARA",
                            "WORLD",
                            "YEMEN",
                            "ZAMBIA",
                            "ZIMBABWE"
                          ]
                        },
                        "DiocesanCalendar": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "Year",
                        "Epiphany",
                        "Ascension",
                        "CorpusChristi",
                        "Locale",
                        "ReturnType",
                        "CalendarType",
                        "EternalHighPriest"
                      ]
                    },
                    "Metadata": {
                      "type": "object",
                      "description": "contains information about the current API version, how and when the current response was produced, and keys of liturgical events that can have precedence over others, useful for further calculations of a local calendar",
                      "additionalProperties": false,
                      "properties": {
                        "Version": {
                          "type": "string",
                          "minLength": 3,
                          "maxLength": 5,
                          "pattern": "^(?:0|[1-9]\\d*)\\.(?:0|[1-9]\\d*)$"
                        },
                        "Timestamp": {
                          "type": "integer",
                          "description": "Certainly cannot be any earlier than the start of the project itself July 26, 2017; we'll set the max to Dec 12th, 9999",
                          "minimum": 1501108382,
                          "maximum": 253402214400
                        },
                        "DateTime": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "RequestHeaders": {
                          "type": "object",
                          "properties": {
                            "Accept": {
                              "type": "string",
                              "description": "If present, must contain at least one of the following",
                              "pattern": "(?:text/html|application/xml|application/json|text/calendar|application/yaml)"
                            },
                            "Accept-Language": {
                              "type": "string",
                              "anyOf": [
                                {
                                  "pattern": "^(?:AF|AGQ|AK|AM|AR|AS|ASA|AST|AZ|BAS|BE|BEM|BEZ|BG|BM|BN|BO|BR|BRX|BS|CA|CCP|CE|CEB|CGG|CHR|CKB|CS|CY|DA|DAV|DE|DJE|DSB|DUA|DYO|DZ|EBU|EE|EL|EN|EO|ES|ET|EU|EWO|FA|FF|FI|FIL|FO|FR|FUR|FY|GA|GD|GL|GSW|GU|GUZ|GV|HA|HAW|HE|HI|HR|HSB|HU|HY|IA|ID|IG|II|IS|IT|JA|JGO|JMC|JV|KA|KAB|KAM|KDE|KEA|KHQ|KI|KK|KKJ|KL|KLN|KM|KN|KO|KOK|KS|KSB|KSF|KSH|KU|KW|KY|LAG|LB|LG|LKT|LN|LO|LRC|LT|LU|LUO|LUY|LV|MAS|MER|MFE|MG|MGH|MGO|MI|MK|ML|MN|MR|MS|MT|MUA|MY|MZN|NAQ|NB|ND|NDS|NE|NL|NMG|NN|NNH|NUS|NYN|OM|OR|OS|PA|PL|PS|PT|QU|RM|RN|RO|ROF|RU|RW|RWK|SAH|SAQ|SBP|SD|SE|SEH|SES|SG|SHI|SI|SK|SL|SMN|SN|SO|SQ|SR|SV|SW|TA|TE|TEO|TG|TH|TI|TK|TO|TR|TT|TWQ|TZM|UG|UK|UR|UZ|VAI|VI|VUN|WAE|WO|XH|XOG|YAV|YI|YO|YUE|ZGH|ZH|ZU)$"
                                },
                                {
                                  "pattern": "^(?:af|agq|ak|am|ar|as|asa|ast|az|bas|be|bem|bez|bg|bm|bn|bo|br|brx|bs|ca|ccp|ce|ceb|cgg|chr|ckb|cs|cy|da|dav|de|dje|dsb|dua|dyo|dz|ebu|ee|el|en|eo|es|et|eu|ewo|fa|ff|fi|fil|fo|fr|fur|fy|ga|gd|gl|gsw|gu|guz|gv|ha|haw|he|hi|hr|hsb|hu|hy|ia|id|ig|ii|is|it|ja|jgo|jmc|jv|ka|kab|kam|kde|kea|khq|ki|kk|kkj|kl|kln|km|kn|ko|kok|ks|ksb|ksf|ksh|ku|kw|ky|lag|lb|lg|lkt|ln|lo|lrc|lt|lu|luo|luy|lv|mas|mer|mfe|mg|mgh|mgo|mi|mk|ml|mn|mr|ms|mt|mua|my|mzn|naq|nb|nd|nds|ne|nl|nmg|nn|nnh|nus|nyn|om|or|os|pa|pl|ps|pt|qu|rm|rn|ro|rof|ru|rw|rwk|sah|saq|sbp|sd|se|seh|ses|sg|shi|si|sk|sl|smn|sn|so|sq|sr|sv|sw|ta|te|teo|tg|th|ti|tk|to|tr|tt|twq|tzm|ug|uk|ur|uz|vai|vi|vun|wae|wo|xh|xog|yav|yi|yo|yue|zgh|zh|zu)(?:-(?:001|150|419|AD|AE|AF|AG|AI|AL|AM|AO|AR|AS|AT|AU|AW|AX|Arab|Arab-AF|Arab-PK|BA|BB|BD|BE|BF|BG|BH|BI|BJ|BL|BM|BN|BO|BQ|BR|BS|BT|BW|BY|BZ|CA|CC|CD|CF|CG|CH|CI|CK|CL|CM|CN|CO|CR|CU|CV|CW|CX|CY|CZ|Cyrl|Cyrl-AZ|Cyrl-BA|Cyrl-ME|Cyrl-RS|Cyrl-UZ|Cyrl-XK|DE|DG|DJ|DK|DM|DO|DZ|EA|EC|EE|EG|EH|ER|ES|ET|FI|FJ|FK|FM|FO|FR|GA|GB|GD|GE|GF|GG|GH|GI|GL|GM|GN|GP|GQ|GR|GT|GU|GW|GY|Guru|Guru-IN|HK|HN|HR|HT|HU|Hans|Hans-CN|Hans-HK|Hans-MO|Hans-SG|Hant|Hant-HK|Hant-MO|Hant-TW|IC|ID|IE|IL|IM|IN|IO|IQ|IR|IS|IT|JE|JM|JO|JP|KE|KG|KH|KI|KM|KN|KP|KR|KW|KY|KZ|LA|LB|LC|LI|LK|LR|LS|LT|LU|LV|LY|Latn|Latn-AZ|Latn-BA|Latn-BF|Latn-CM|Latn-GH|Latn-GM|Latn-GN|Latn-GW|Latn-LR|Latn-MA|Latn-ME|Latn-MR|Latn-NE|Latn-NG|Latn-RS|Latn-SL|Latn-SN|Latn-UZ|Latn-XK|MA|MC|MD|MF|MG|MH|MK|ML|MM|MN|MO|MP|MQ|MR|MS|MT|MU|MW|MX|MY|MZ|NA|NC|NE|NF|NG|NI|NL|NO|NP|NR|NU|NZ|OM|PA|PE|PF|PG|PH|PK|PL|PM|PN|PR|PS|PT|PW|PY|QA|RE|RO|RU|RW|SA|SB|SC|SD|SE|SG|SH|SI|SJ|SK|SL|SM|SN|SO|SR|SS|ST|SV|SX|SY|SZ|TC|TD|TG|TH|TJ|TK|TL|TM|TN|TO|TR|TT|TV|TZ|Tfng|Tfng-MA|UA|UG|UM|US|UY|VA|VC|VE|VG|VI|VN|VU|Vaii|Vaii-LR|WF|WS|XK|YE|YT|ZA|ZM|ZW))?"
                                }
                              ]
                            },
                            "Host": {
                              "type": "string",
                              "const": "litcal.johnromanodorazio.com"
                            },
                            "X-Requested-With": {
                              "type": "string",
                              "description": "Will only appear for AJAX requests, and will only ever have a value of XMLHttpRequest",
                              "const": "XMLHttpRequest"
                            }
                          },
                          "additionalProperties": false
                        },
                        "Solemnities": {
                          "type": "object",
                          "patternProperties": {
                            "^[A-Z](?:[A-Z]+_)*[a-zA-Z1-9]+(?:0|_vigil)?$": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "date": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "timezone_type": {
                                  "type": "integer",
                                  "const": 3
                                },
                                "timezone": {
                                  "type": "string",
                                  "const": "UTC"
                                }
                              }
                            }
                          }
                        },
                        "FeastsMemorials": {
                          "type": "object",
                          "patternProperties": {
                            "^[A-Z](?:[A-Z]+_)*[a-zA-Z1-9]+(?:0|_vigil)?$": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "date": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "timezone_type": {
                                  "type": "integer",
                                  "const": 3
                                },
                                "timezone": {
                                  "type": "string",
                                  "const": "UTC"
                                }
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "Version",
                        "RequestHeaders",
                        "Solemnities",
                        "FeastsMemorials"
                      ]
                    },
                    "LitCal": {
                      "type": "object",
                      "description": "the liturgical events that make up the requested Liturgical Calendar for the given year",
                      "patternProperties": {
                        "^[A-Z](?:[A-Z]+_)*[a-zA-Z1-9]+[0-9]{0,2}_vigil$": {
                          "type": "object",
                          "properties": {
                            "eventIdx": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 2000
                            },
                            "name": {
                              "type": "string"
                            },
                            "date": {
                              "type": "integer",
                              "description": "Earliest possible event timestamp is Nov 29th 1969, saturday vigil of the First Sunday of Advent",
                              "minimum": -2851200,
                              "maximum": 253402214400
                            },
                            "color": {
                              "type": "array",
                              "uniqueItems": true,
                              "items": {
                                "type": "string",
                                "enum": [
                                  "white",
                                  "red",
                                  "green",
                                  "purple",
                                  "pink"
                                ]
                              },
                              "title": "LitColor"
                            },
                            "colorLcl": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "fixed",
                                "mobile"
                              ],
                              "title": "LitFeastType"
                            },
                            "grade": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 7,
                              "description": "0 = WEEKDAY, 1 = COMMEMORATION, 2 = MEMORIAL_OPT, 3 = MEMORIAL, 4 = FEAST, 5 = FEAST_LORD, 6 = SOLEMNITY, 7 = HIGHER_SOLEMNITY",
                              "title": "LitGrade"
                            },
                            "gradeLcl": {
                              "type": "string"
                            },
                            "displayGrade": {
                              "type": "string"
                            },
                            "common": {
                              "type": "array",
                              "minItems": 0,
                              "maxItems": 3,
                              "uniqueItems": true,
                              "items": {
                                "type": "string",
                                "enum": [
                                  "Proper",
                                  "Dedication of a Church",
                                  "Blessed Virgin Mary",
                                  "Martyrs",
                                  "Pastors",
                                  "Doctors",
                                  "Virgins",
                                  "Holy Men and Women",
                                  "Martyrs:For One Martyr",
                                  "Martyrs:For Several Martyrs",
                                  "Martyrs:For Missionary Martyrs",
                                  "Martyrs:For One Missionary Martyr",
                                  "Martyrs:For Several Missionary Martyrs",
                                  "Martyrs:For a Virgin Martyr",
                                  "Martyrs:For a Holy Woman Martyr",
                                  "Pastors:For a Pope",
                                  "Pastors:For a Bishop",
                                  "Pastors:For One Pastor",
                                  "Pastors:For Several Pastors",
                                  "Pastors:For Founders of a Church",
                                  "Pastors:For One Founder",
                                  "Pastors:For Several Founders",
                                  "Pastors:For Missionaries",
                                  "Virgins:For One Virgin",
                                  "Virgins:For Several Virgins",
                                  "Holy Men and Women:For Several Saints",
                                  "Holy Men and Women:For One Saint",
                                  "Holy Men and Women:For an Abbot",
                                  "Holy Men and Women:For a Monk",
                                  "Holy Men and Women:For a Nun",
                                  "Holy Men and Women:For Religious",
                                  "Holy Men and Women:For Those Who Practiced Works of Mercy",
                                  "Holy Men and Women:For Educators",
                                  "Holy Men and Women:For Holy Women",
                                  "Masses and Prayers for Various Needs and Occasions:For Giving Thanks to God for the Gift of Human Life",
                                  "Preservation of Peace and Justice"
                                ]
                              },
                              "title": "Common"
                            },
                            "commonLcl": {
                              "type": "string"
                            },
                            "dayOfTheWeek_ISO8601": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 7
                            },
                            "month": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 12
                            },
                            "day": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 31
                            },
                            "year": {
                              "type": "integer",
                              "minimum": 1969,
                              "maxItems": 9999
                            },
                            "monthShort": {
                              "type": "string"
                            },
                            "monthLong": {
                              "type": "string"
                            },
                            "dayOfTheWeekShort": {
                              "type": "string"
                            },
                            "dayOfTheWeekLong": {
                              "type": "string"
                            },
                            "liturgicalYear": {
                              "type": "string"
                            },
                            "isVigilMass": {
                              "type": "boolean"
                            },
                            "isVigilFor": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "eventIdx",
                            "name",
                            "date",
                            "color",
                            "colorLcl",
                            "type",
                            "grade",
                            "displayGrade",
                            "common",
                            "commonLcl",
                            "dayOfTheWeek_ISO8601",
                            "month",
                            "day",
                            "year",
                            "monthShort",
                            "monthLong",
                            "dayOfTheWeekShort",
                            "dayOfTheWeekLong",
                            "isVigilMass",
                            "isVigilFor"
                          ],
                          "additionalProperties": false
                        },
                        "^[A-Z](?:[A-Z]+_)*[a-zA-Z1-9]+[0-9]{0,2}$": {
                          "properties": {
                            "eventIdx": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 2000
                            },
                            "name": {
                              "type": "string"
                            },
                            "date": {
                              "type": "integer",
                              "description": "Earliest possible event timestamp is Nov 29th 1969, saturday vigil of the First Sunday of Advent",
                              "minimum": -2851200,
                              "maximum": 253402214400
                            },
                            "color": {
                              "type": "array",
                              "uniqueItems": true,
                              "items": {
                                "type": "string",
                                "enum": [
                                  "white",
                                  "red",
                                  "green",
                                  "purple",
                                  "pink"
                                ]
                              },
                              "title": "LitColor"
                            },
                            "colorLcl": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "fixed",
                                "mobile"
                              ],
                              "title": "LitFeastType"
                            },
                            "grade": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 7,
                              "description": "0 = WEEKDAY, 1 = COMMEMORATION, 2 = MEMORIAL_OPT, 3 = MEMORIAL, 4 = FEAST, 5 = FEAST_LORD, 6 = SOLEMNITY, 7 = HIGHER_SOLEMNITY",
                              "title": "LitGrade"
                            },
                            "gradeLcl": {
                              "type": "string"
                            },
                            "displayGrade": {
                              "type": "string"
                            },
                            "common": {
                              "type": "array",
                              "minItems": 0,
                              "maxItems": 3,
                              "uniqueItems": true,
                              "items": {
                                "type": "string",
                                "enum": [
                                  "Proper",
                                  "Dedication of a Church",
                                  "Blessed Virgin Mary",
                                  "Martyrs",
                                  "Pastors",
                                  "Doctors",
                                  "Virgins",
                                  "Holy Men and Women",
                                  "Martyrs:For One Martyr",
                                  "Martyrs:For Several Martyrs",
                                  "Martyrs:For Missionary Martyrs",
                                  "Martyrs:For One Missionary Martyr",
                                  "Martyrs:For Several Missionary Martyrs",
                                  "Martyrs:For a Virgin Martyr",
                                  "Martyrs:For a Holy Woman Martyr",
                                  "Pastors:For a Pope",
                                  "Pastors:For a Bishop",
                                  "Pastors:For One Pastor",
                                  "Pastors:For Several Pastors",
                                  "Pastors:For Founders of a Church",
                                  "Pastors:For One Founder",
                                  "Pastors:For Several Founders",
                                  "Pastors:For Missionaries",
                                  "Virgins:For One Virgin",
                                  "Virgins:For Several Virgins",
                                  "Holy Men and Women:For Several Saints",
                                  "Holy Men and Women:For One Saint",
                                  "Holy Men and Women:For an Abbot",
                                  "Holy Men and Women:For a Monk",
                                  "Holy Men and Women:For a Nun",
                                  "Holy Men and Women:For Religious",
                                  "Holy Men and Women:For Those Who Practiced Works of Mercy",
                                  "Holy Men and Women:For Educators",
                                  "Holy Men and Women:For Holy Women",
                                  "Masses and Prayers for Various Needs and Occasions:For Giving Thanks to God for the Gift of Human Life",
                                  "Preservation of Peace and Justice"
                                ]
                              },
                              "title": "Common"
                            },
                            "commonLcl": {
                              "type": "string"
                            },
                            "dayOfTheWeek_ISO8601": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 7
                            },
                            "month": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 12
                            },
                            "day": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 31
                            },
                            "year": {
                              "type": "integer",
                              "minimum": 1969,
                              "maxItems": 9999
                            },
                            "monthShort": {
                              "type": "string"
                            },
                            "monthLong": {
                              "type": "string"
                            },
                            "dayOfTheWeekShort": {
                              "type": "string"
                            },
                            "dayOfTheWeekLong": {
                              "type": "string"
                            },
                            "liturgicalYear": {
                              "type": "string"
                            },
                            "liturgicalSeason": {
                              "type": "string",
                              "enum": [
                                "ADVENT",
                                "CHRISTMAS",
                                "LENT",
                                "EASTER_TRIDUUM",
                                "EASTER",
                                "ORDINARY_TIME"
                              ]
                            },
                            "liturgicalSeasonLcl": {
                              "type": "string"
                            },
                            "hasVigilMass": {
                              "type": "boolean"
                            },
                            "hasVesperI": {
                              "type": "boolean"
                            },
                            "hasVesperII": {
                              "type": "boolean"
                            },
                            "psalterWeek": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "eventIdx",
                            "name",
                            "date",
                            "color",
                            "colorLcl",
                            "type",
                            "grade",
                            "displayGrade",
                            "common",
                            "commonLcl",
                            "dayOfTheWeek_ISO8601",
                            "month",
                            "day",
                            "year",
                            "monthShort",
                            "monthLong",
                            "dayOfTheWeekShort",
                            "dayOfTheWeekLong",
                            "liturgicalSeason",
                            "liturgicalSeasonLcl"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "additionalProperties": false
                    },
                    "Messages": {
                      "type": "array",
                      "description": "an array containing all of the significant operations done in the calculation of the requested Liturgical Calendar, with links to the Decrees of the Congregation for Divine Worship where applicable. Useful for understanding how or why the calculations were done, and what changes have been applied in the generation of the Calendar for the specific year requested.",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "Settings",
                    "Metadata",
                    "LitCal",
                    "Messages"
                  ],
                  "examples": [
                    {
                      "Settings": {
                        "Year": 1970,
                        "Epiphany": "JAN6",
                        "Ascension": "SUNDAY",
                        "CorpusChristi": "SUNDAY",
                        "CalendarType": "CIVIL",
                        "Locale": "string",
                        "ReturnType": "JSON",
                        "NationalCalendar": "string",
                        "DiocesanCalendar": "string",
                        "EternalHighPriest": true
                      },
                      "Metadata": {
                        "Version": "string",
                        "Timestamp": 1501027200,
                        "DateTime": "2024-05-02T03:32:58.936Z",
                        "RequestHeaders": {
                          "Accept-Language": "it-IT,it;",
                          "Accept": "application/json",
                          "Host": "litcal.johnromanodorazio.com"
                        },
                        "Solemnities": {
                          "Christmas": {
                            "date": "2023-12-25T00:00:00+00:00",
                            "timezone_type": 3,
                            "timezone": "UTC"
                          },
                          "Advent1": {
                            "date": "2023-12-03T00:00:00+00:00",
                            "timezone_type": 3,
                            "timezone": "UTC"
                          }
                        },
                        "FeastsMemorials": {
                          "StStephenProtomartyr": {
                            "date": "2023-12-26T00:00:00+00:00",
                            "timezone_type": 3,
                            "timezone": "UTC"
                          },
                          "StJohnEvangelist": {
                            "date": "2023-12-27T00:00:00+00:00",
                            "timezone_type": 3,
                            "timezone": "UTC"
                          }
                        }
                      },
                      "LitCal": {
                        "Advent1_vigil": {
                          "eventIdx": 1076,
                          "name": "Dominica Prima Adventus Missa in Vigilia",
                          "date": 1701475200,
                          "color": [
                            "purple"
                          ],
                          "colorLcl": [
                            "purpura"
                          ],
                          "type": "mobile",
                          "grade": 7,
                          "gradeLcl": "celebratio altioris ordinis quam sollemnitatis",
                          "displayGrade": "",
                          "common": [],
                          "commonLcl": "",
                          "dayOfTheWeek_ISO8601": 6,
                          "month": 12,
                          "day": 2,
                          "year": 2023,
                          "monthShort": "Dec",
                          "monthLong": "December",
                          "dayOfTheWeekShort": "Sat",
                          "dayOfTheWeekLong": "Saturday",
                          "liturgicalYear": "ANNUM B",
                          "isVigilMass": true,
                          "isVigilFor": "Advent1"
                        },
                        "Advent1": {
                          "eventIdx": 583,
                          "name": "Dominica Prima Adventus",
                          "date": 1701561600,
                          "color": [
                            "purple"
                          ],
                          "colorLcl": [
                            "purpura"
                          ],
                          "type": "mobile",
                          "grade": 7,
                          "gradeLcl": "celebratio altioris ordinis quam sollemnitatis",
                          "displayGrade": "",
                          "common": [],
                          "commonLcl": "",
                          "dayOfTheWeek_ISO8601": 7,
                          "month": 12,
                          "day": 3,
                          "year": 2023,
                          "monthShort": "Dec",
                          "monthLong": "December",
                          "dayOfTheWeekShort": "Sun",
                          "dayOfTheWeekLong": "Sunday",
                          "liturgicalYear": "ANNUM B",
                          "hasVigilMass": true,
                          "hasVesperI": true,
                          "hasVesperII": true,
                          "psalterWeek": 1,
                          "liturgicalSeason": "ADVENT",
                          "liturgicalSeasonLcl": "Tempus Adventus"
                        }
                      },
                      "Messages": [
                        "The Solemnity 'Sancti Ioseph Sponsi Beatæ Mariæ Virginis' falls on Dominica IV in Quadragesima in the year 2023, the celebration has been transferred to the following Monday (20 Martius) as per the <a href=\"http://www.cultodivino.va/content/cultodivino/it/rivista-notitiae/indici-annate/1990/284-285.html\">Decree of the Congregation for Divine Worship</a>.",
                        "'Dominica XVIII «Per Annum»' is superseded by the FESTUM DOMINI 'In Transfiguratione Domini' in the year 2023."
                      ]
                    }
                  ]
                }
              },
              "application/yaml": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "Settings": {
                      "type": "object",
                      "description": "echoes back the settings that were requested for the generation of this specific liturgical calendar, as feedback to be sure that the requested settings were correctly applied",
                      "additionalProperties": false,
                      "properties": {
                        "Year": {
                          "type": "integer",
                          "minimum": 1970,
                          "maximum": 9999
                        },
                        "CalendarType": {
                          "type": "string",
                          "enum": [
                            "CIVIL",
                            "LITURGICAL"
                          ]
                        },
                        "Epiphany": {
                          "type": "string",
                          "enum": [
                            "JAN6",
                            "SUNDAY_JAN2_JAN8"
                          ],
                          "title": "Epiphany"
                        },
                        "Ascension": {
                          "type": "string",
                          "enum": [
                            "SUNDAY",
                            "THURSDAY"
                          ],
                          "title": "Ascension"
                        },
                        "CorpusChristi": {
                          "type": "string",
                          "enum": [
                            "SUNDAY",
                            "THURSDAY"
                          ],
                          "title": "CorpusChristi"
                        },
                        "Locale": {
                          "type": "string",
                          "description": "must have a value corresponding to a locale enabled on the LitCal server",
                          "default": "LA",
                          "enum": [
                            "af_NA",
                            "af_ZA",
                            "agq_CM",
                            "ak_GH",
                            "am_ET",
                            "ar_001",
                            "ar_AE",
                            "ar_BH",
                            "ar_DJ",
                            "ar_DZ",
                            "ar_EG",
                            "ar_EH",
                            "ar_ER",
                            "ar_IL",
                            "ar_IQ",
                            "ar_JO",
                            "ar_KM",
                            "ar_KW",
                            "ar_LB",
                            "ar_LY",
                            "ar_MA",
                            "ar_MR",
                            "ar_OM",
                            "ar_PS",
                            "ar_QA",
                            "ar_SA",
                            "ar_SD",
                            "ar_SO",
                            "ar_SS",
                            "ar_SY",
                            "ar_TD",
                            "ar_TN",
                            "ar_YE",
                            "as_IN",
                            "asa_TZ",
                            "ast_ES",
                            "az_Cyrl",
                            "az_Cyrl_AZ",
                            "az_Latn",
                            "az_Latn_AZ",
                            "bas_CM",
                            "be_BY",
                            "bem_ZM",
                            "bez_TZ",
                            "bg_BG",
                            "bm_ML",
                            "bn_BD",
                            "bn_IN",
                            "bo_CN",
                            "bo_IN",
                            "br_FR",
                            "brx_IN",
                            "bs_Cyrl",
                            "bs_Cyrl_BA",
                            "bs_Latn",
                            "bs_Latn_BA",
                            "ca_AD",
                            "ca_ES",
                            "ca_FR",
                            "ca_IT",
                            "ccp_BD",
                            "ccp_IN",
                            "ce_RU",
                            "ceb_PH",
                            "cgg_UG",
                            "chr_US",
                            "ckb_IQ",
                            "ckb_IR",
                            "cs_CZ",
                            "cy_GB",
                            "da_DK",
                            "da_GL",
                            "dav_KE",
                            "de_AT",
                            "de_BE",
                            "de_CH",
                            "de_DE",
                            "de_IT",
                            "de_LI",
                            "de_LU",
                            "dje_NE",
                            "dsb_DE",
                            "dua_CM",
                            "dyo_SN",
                            "dz_BT",
                            "ebu_KE",
                            "ee_GH",
                            "ee_TG",
                            "el_CY",
                            "el_GR",
                            "en_001",
                            "en_150",
                            "en_AE",
                            "en_AG",
                            "en_AI",
                            "en_AS",
                            "en_AT",
                            "en_AU",
                            "en_BB",
                            "en_BE",
                            "en_BI",
                            "en_BM",
                            "en_BS",
                            "en_BW",
                            "en_BZ",
                            "en_CA",
                            "en_CC",
                            "en_CH",
                            "en_CK",
                            "en_CM",
                            "en_CX",
                            "en_CY",
                            "en_DE",
                            "en_DG",
                            "en_DK",
                            "en_DM",
                            "en_ER",
                            "en_FI",
                            "en_FJ",
                            "en_FK",
                            "en_FM",
                            "en_GB",
                            "en_GD",
                            "en_GG",
                            "en_GH",
                            "en_GI",
                            "en_GM",
                            "en_GU",
                            "en_GY",
                            "en_HK",
                            "en_IE",
                            "en_IL",
                            "en_IM",
                            "en_IN",
                            "en_IO",
                            "en_JE",
                            "en_JM",
                            "en_KE",
                            "en_KI",
                            "en_KN",
                            "en_KY",
                            "en_LC",
                            "en_LR",
                            "en_LS",
                            "en_MG",
                            "en_MH",
                            "en_MO",
                            "en_MP",
                            "en_MS",
                            "en_MT",
                            "en_MU",
                            "en_MW",
                            "en_MY",
                            "en_NA",
                            "en_NF",
                            "en_NG",
                            "en_NL",
                            "en_NR",
                            "en_NU",
                            "en_NZ",
                            "en_PG",
                            "en_PH",
                            "en_PK",
                            "en_PN",
                            "en_PR",
                            "en_PW",
                            "en_RW",
                            "en_SB",
                            "en_SC",
                            "en_SD",
                            "en_SE",
                            "en_SG",
                            "en_SH",
                            "en_SI",
                            "en_SL",
                            "en_SS",
                            "en_SX",
                            "en_SZ",
                            "en_TC",
                            "en_TK",
                            "en_TO",
                            "en_TT",
                            "en_TV",
                            "en_TZ",
                            "en_UG",
                            "en_UM",
                            "en_US",
                            "en_VC",
                            "en_VG",
                            "en_VI",
                            "en_VU",
                            "en_WS",
                            "en_ZA",
                            "en_ZM",
                            "en_ZW",
                            "eo_001",
                            "es_419",
                            "es_AR",
                            "es_BO",
                            "es_BR",
                            "es_BZ",
                            "es_CL",
                            "es_CO",
                            "es_CR",
                            "es_CU",
                            "es_DO",
                            "es_EA",
                            "es_EC",
                            "es_ES",
                            "es_GQ",
                            "es_GT",
                            "es_HN",
                            "es_IC",
                            "es_MX",
                            "es_NI",
                            "es_PA",
                            "es_PE",
                            "es_PH",
                            "es_PR",
                            "es_PY",
                            "es_SV",
                            "es_US",
                            "es_UY",
                            "es_VE",
                            "et_EE",
                            "eu_ES",
                            "ewo_CM",
                            "fa_AF",
                            "fa_IR",
                            "ff_Latn",
                            "ff_Latn_BF",
                            "ff_Latn_CM",
                            "ff_Latn_GH",
                            "ff_Latn_GM",
                            "ff_Latn_GN",
                            "ff_Latn_GW",
                            "ff_Latn_LR",
                            "ff_Latn_MR",
                            "ff_Latn_NE",
                            "ff_Latn_NG",
                            "ff_Latn_SL",
                            "ff_Latn_SN",
                            "fi_FI",
                            "fil_PH",
                            "fo_DK",
                            "fo_FO",
                            "fr_BE",
                            "fr_BF",
                            "fr_BI",
                            "fr_BJ",
                            "fr_BL",
                            "fr_CA",
                            "fr_CD",
                            "fr_CF",
                            "fr_CG",
                            "fr_CH",
                            "fr_CI",
                            "fr_CM",
                            "fr_DJ",
                            "fr_DZ",
                            "fr_FR",
                            "fr_GA",
                            "fr_GF",
                            "fr_GN",
                            "fr_GP",
                            "fr_GQ",
                            "fr_HT",
                            "fr_KM",
                            "fr_LU",
                            "fr_MA",
                            "fr_MC",
                            "fr_MF",
                            "fr_MG",
                            "fr_ML",
                            "fr_MQ",
                            "fr_MR",
                            "fr_MU",
                            "fr_NC",
                            "fr_NE",
                            "fr_PF",
                            "fr_PM",
                            "fr_RE",
                            "fr_RW",
                            "fr_SC",
                            "fr_SN",
                            "fr_SY",
                            "fr_TD",
                            "fr_TG",
                            "fr_TN",
                            "fr_VU",
                            "fr_WF",
                            "fr_YT",
                            "fur_IT",
                            "fy_NL",
                            "ga_GB",
                            "ga_IE",
                            "gd_GB",
                            "gl_ES",
                            "gsw_CH",
                            "gsw_FR",
                            "gsw_LI",
                            "gu_IN",
                            "guz_KE",
                            "gv_IM",
                            "ha_GH",
                            "ha_NE",
                            "ha_NG",
                            "haw_US",
                            "he_IL",
                            "hi_IN",
                            "hr_BA",
                            "hr_HR",
[...]
