parameters:
    level: 6
    paths:
        - src
    bootstrapFiles:
        - tools/phpstan-stubs/constants.php
    universalObjectCratesClasses:
        - Ratchet\ConnectionInterface
    treatPhpDocTypesAsCertain: false
