{
  "openapi": "3.1.0",
  "servers": [
    {
      "description": "Liturgical Calendar API endpoint (development - unstable)",
      "url": "https://litcal.johnromanodorazio.com/api/dev"
    },
    {
      "description": "Liturgical Calendar API endpoint (production - stable)",
      "url": "https://litcal.johnromanodorazio.com/api/v5"
    }
  ],
  "info": {
    "description": "An API which allows to retrieve data about the **Roman Calendar** for any given year, between 1970 and 9999. The data strives for historical accuracy (memorials and feast days are only generated from the year in which they were effectively introduced). The data is based on original sources (Roman Missals, Decrees of the Dicastery for Divine Worship and the Discipline of the Sacraments, Mysterii Paschalis, etc.), not on data copied or retrieved from online sources which may not be accurate. The API offers multiple locales and multiple calendars, from the **General Roman Calendar** to national or diocesan calendars. The Roman rite is the default and may also be requested explicitly with a `/calendar/roman` prefix (equivalent to no prefix); a `/calendar/ambrosian` prefix selects the Ambrosian rite, available from 1976 onward. The Ambrosian rite has no national calendars: its dioceses (Milano, Bergamo, Novara, Lugano) are layered directly on the comune ambrosiano.",
    "version": "5.7",
    "title": "Liturgical Calendar",
    "contact": {
      "email": "priest@johnromanodorazio.com",
      "name": "Rev. John R. D'Orazio"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "tags": [
    {
      "name": "Main API endpoint",
      "description": "Retrieve a liturgical calendar"
    },
    {
      "name": "Authentication",
      "description": "JWT-based authentication (login and token refresh)"
    },
    {
      "name": "Calendars Index",
      "description": "Retrieve information about available calendars"
    },
    {
      "name": "Liturgical events",
      "description": "All liturgical events by key without the calendar calculation"
    },
    {
      "name": "Calendar Source Data",
      "description": "Retrieve / create / update / delete source data for National, Diocesan or Wider Region calendars "
    },
    {
      "name": "Missals",
      "description": "Retrieve / create / update / delete Roman Missal definitions"
    },
    {
      "name": "Decrees",
      "description": "Retrieve / create / update / delete Decrees of the Dicastery for Divine Worship and the Discipline of the Sacraments"
    },
    {
      "name": "Lectionary",
      "description": "Retrieve the curated lectionary readings for a liturgical event, addressed by `event_key` rather than by computed date"
    },
    {
      "name": "Easter",
      "description": "Dates of easter whether gregorian or julian from 1583 to 1999"
    },
    {
      "name": "Unit Tests",
      "description": "Retrieve / create / update / delete unit tests"
    },
    {
      "name": "Schemas",
      "description": "Retrieve the JSON schemas that define API request and response shapes and source data files"
    },
    {
      "name": "Validations",
      "description": "Retrieve the source data this API can be asked to validate"
    },
    {
      "name": "Temporale",
      "description": "Retrieve / create / update / delete Proprium de Tempore (temporale) events"
    },
    {
      "name": "Access Requests",
      "description": "User-facing access request operations (request roles and permissions, check status)"
    },
    {
      "name": "Change Requests",
      "description": "User-facing view of a caller's own source-data change requests (list, withdraw). Only populated on deployments running with SOURCEDATA_CHANGE_REQUESTS enabled."
    },
    {
      "name": "Admin - Access Requests",
      "description": "Admin operations for managing access requests (approve, reject, revoke)"
    },
    {
      "name": "Admin - Change Requests",
      "description": "Admin review queue for source-data change requests (list, approve, reject). Only populated on deployments running with SOURCEDATA_CHANGE_REQUESTS enabled."
    },
    {
      "name": "Admin - Users",
      "description": "Admin operations for user management (list users, revoke roles)"
    },
    {
      "name": "Admin - Notifications",
      "description": "Admin notification counts (pending requests, etc.)"
    },
    {
      "name": "Admin - Permissions",
      "description": "Admin operations for managing OpenFGA permission tuples (list, grant, revoke, check)"
    },
    {
      "name": "Admin - Applications",
      "description": "Admin operations for application approval workflow (approve, reject, revoke)"
    },
    {
      "name": "Admin - Supported Locales",
      "description": "Curation surface for the locales the API declares officially supported. An official locale promises complete data: missing data for one is an error, while a locale outside the list degrades quietly."
    },
    {
      "name": "Admin - Outbox",
      "description": "Inspection and retry management for the OpenFGA reconciliation outbox. Global admins only."
    },
    {
      "name": "Applications",
      "description": "Developer application management (create, update, delete applications and API keys)"
    },
    {
      "name": "Notifications",
      "description": "User-facing in-app notifications. Currently scoped to access-request review events; may expand to other event types."
    }
  ],
  "paths": {
    "/calendar": {
      "get": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events for the General Roman Calendar for each day of the current year",
        "operationId": "retrieveGeneralRomanCalendarGET",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year\n\n**Deprecated in favour of the explicit-rite form `/calendar/roman`,** which is canonical. This path keeps working unchanged and returns an identical response — it is deliberately not redirected, because these routes accept POST and a redirect would both downgrade POST to GET and break preflighted cross-origin requests. Responses carry a `Link: <...>; rel=\"canonical\"` header naming the canonical URL.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/YearTypeParam"
          },
          {
            "$ref": "#/components/parameters/EpiphanyParam"
          },
          {
            "$ref": "#/components/parameters/AscensionParam"
          },
          {
            "$ref": "#/components/parameters/CorpusChristiParam"
          },
          {
            "$ref": "#/components/parameters/EternalHighPriestParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/CanonicalRiteLink"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events for the General Roman Calendar for each day of the current year",
        "operationId": "retrieveGeneralRomanCalendarPOST",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year\n\n**Deprecated in favour of the explicit-rite form `/calendar/roman`,** which is canonical. This path keeps working unchanged and returns an identical response — it is deliberately not redirected, because these routes accept POST and a redirect would both downgrade POST to GET and break preflighted cross-origin requests. Responses carry a `Link: <...>; rel=\"canonical\"` header naming the canonical URL.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveCalendarRequestBody"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                },
                "GeneralRomanCalendarTweaked": {
                  "$ref": "#/components/examples/GeneralRomanCalendarTweakedRequestBody"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveCalendarRequestBody"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                },
                "GeneralRomanCalendarTweaked": {
                  "$ref": "#/components/examples/GeneralRomanCalendarTweakedRequestBody"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/CanonicalRiteLink"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        },
        "deprecated": true
      }
    },
    "/calendar/roman": {
      "get": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events for the General Roman Calendar for each day of the current year",
        "operationId": "retrieveRomanRiteCalendarGET",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year\n\nThis is the canonical form of this route: the rite is stated explicitly, symmetric with the `/calendar/ambrosian` variant. The equivalent bare path (`/calendar`) is retained for backwards compatibility and returns an identical response, advertising this URL through an RFC 6596 `Link: <...>; rel=\"canonical\"` response header.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/YearTypeParam"
          },
          {
            "$ref": "#/components/parameters/EpiphanyParam"
          },
          {
            "$ref": "#/components/parameters/AscensionParam"
          },
          {
            "$ref": "#/components/parameters/CorpusChristiParam"
          },
          {
            "$ref": "#/components/parameters/EternalHighPriestParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      },
      "post": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events for the General Roman Calendar for each day of the current year",
        "operationId": "retrieveRomanRiteCalendarPOST",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year\n\nThis is the canonical form of this route: the rite is stated explicitly, symmetric with the `/calendar/ambrosian` variant. The equivalent bare path (`/calendar`) is retained for backwards compatibility and returns an identical response, advertising this URL through an RFC 6596 `Link: <...>; rel=\"canonical\"` response header.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveCalendarRequestBody"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                },
                "GeneralRomanCalendarTweaked": {
                  "$ref": "#/components/examples/GeneralRomanCalendarTweakedRequestBody"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveCalendarRequestBody"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                },
                "GeneralRomanCalendarTweaked": {
                  "$ref": "#/components/examples/GeneralRomanCalendarTweakedRequestBody"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      }
    },
    "/calendar/{year}": {
      "get": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the General Roman Calendar for each day of the given year",
        "operationId": "retrieveGeneralRomanCalendarForYearGET",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year\n\n**Deprecated in favour of the explicit-rite form `/calendar/roman/{year}`,** which is canonical. This path keeps working unchanged and returns an identical response — it is deliberately not redirected, because these routes accept POST and a redirect would both downgrade POST to GET and break preflighted cross-origin requests. Responses carry a `Link: <...>; rel=\"canonical\"` header naming the canonical URL.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/YearPathParam"
          },
          {
            "$ref": "#/components/parameters/YearTypeParam"
          },
          {
            "$ref": "#/components/parameters/EpiphanyParam"
          },
          {
            "$ref": "#/components/parameters/AscensionParam"
          },
          {
            "$ref": "#/components/parameters/CorpusChristiParam"
          },
          {
            "$ref": "#/components/parameters/EternalHighPriestParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/CanonicalRiteLink"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the General Roman Calendar for each day of the given year",
        "operationId": "retrieveGeneralRomanCalendarForYearPOST",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year\n\n**Deprecated in favour of the explicit-rite form `/calendar/roman/{year}`,** which is canonical. This path keeps working unchanged and returns an identical response — it is deliberately not redirected, because these routes accept POST and a redirect would both downgrade POST to GET and break preflighted cross-origin requests. Responses carry a `Link: <...>; rel=\"canonical\"` header naming the canonical URL.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "in": "path",
            "name": "year",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1970,
              "maximum": 9999
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveCalendarRequestBody"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                },
                "GeneralRomanCalendarTweaked": {
                  "$ref": "#/components/examples/GeneralRomanCalendarTweakedRequestBody"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveCalendarRequestBody"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                },
                "GeneralRomanCalendarTweaked": {
                  "$ref": "#/components/examples/GeneralRomanCalendarTweakedRequestBody"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/CanonicalRiteLink"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        },
        "deprecated": true
      }
    },
    "/calendar/roman/{year}": {
      "get": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the General Roman Calendar for each day of the given year",
        "operationId": "retrieveRomanRiteCalendarForYearGET",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year\n\nThis is the canonical form of this route: the rite is stated explicitly, symmetric with the `/calendar/ambrosian/{year}` variant. The equivalent bare path (`/calendar/{year}`) is retained for backwards compatibility and returns an identical response, advertising this URL through an RFC 6596 `Link: <...>; rel=\"canonical\"` response header.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/YearPathParam"
          },
          {
            "$ref": "#/components/parameters/YearTypeParam"
          },
          {
            "$ref": "#/components/parameters/EpiphanyParam"
          },
          {
            "$ref": "#/components/parameters/AscensionParam"
          },
          {
            "$ref": "#/components/parameters/CorpusChristiParam"
          },
          {
            "$ref": "#/components/parameters/EternalHighPriestParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      },
      "post": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the General Roman Calendar for each day of the given year",
        "operationId": "retrieveRomanRiteCalendarForYearPOST",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year\n\nThis is the canonical form of this route: the rite is stated explicitly, symmetric with the `/calendar/ambrosian/{year}` variant. The equivalent bare path (`/calendar/{year}`) is retained for backwards compatibility and returns an identical response, advertising this URL through an RFC 6596 `Link: <...>; rel=\"canonical\"` response header.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "in": "path",
            "name": "year",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1970,
              "maximum": 9999
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveCalendarRequestBody"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                },
                "GeneralRomanCalendarTweaked": {
                  "$ref": "#/components/examples/GeneralRomanCalendarTweakedRequestBody"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveCalendarRequestBody"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                },
                "GeneralRomanCalendarTweaked": {
                  "$ref": "#/components/examples/GeneralRomanCalendarTweakedRequestBody"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      }
    },
    "/calendar/nation/{calendar_id}": {
      "get": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given nation for each day of the current year",
        "operationId": "retrieveNationalCalendarGET",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year\n\n**Deprecated in favour of the explicit-rite form `/calendar/roman/nation/{calendar_id}`,** which is canonical. This path keeps working unchanged and returns an identical response — it is deliberately not redirected, because these routes accept POST and a redirect would both downgrade POST to GET and break preflighted cross-origin requests. Responses carry a `Link: <...>; rel=\"canonical\"` header naming the canonical URL.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/NationalCalendarIdPathParam"
          },
          {
            "$ref": "#/components/parameters/YearTypeParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/CanonicalRiteLink"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given nation for each day of the current year",
        "operationId": "retrieveNationalCalendarPOST",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year\n\n**Deprecated in favour of the explicit-rite form `/calendar/roman/nation/{calendar_id}`,** which is canonical. This path keeps working unchanged and returns an identical response — it is deliberately not redirected, because these routes accept POST and a redirect would both downgrade POST to GET and break preflighted cross-origin requests. Responses carry a `Link: <...>; rel=\"canonical\"` header naming the canonical URL.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "in": "path",
            "name": "calendar_id",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CA",
                "HR",
                "IT",
                "NL",
                "US",
                "VA"
              ],
              "summary": "uppercase two letter ISO 3166 code of a nation for which the liturgical calendar has been defined"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/CanonicalRiteLink"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        },
        "deprecated": true
      }
    },
    "/calendar/roman/nation/{calendar_id}": {
      "get": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given nation for each day of the current year",
        "operationId": "retrieveRomanRiteNationalCalendarGET",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year\n\nThis is the canonical form of this route: the rite is stated explicitly, symmetric with the `/calendar/ambrosian` variant. The equivalent bare path (`/calendar/nation/{calendar_id}`) is retained for backwards compatibility and returns an identical response, advertising this URL through an RFC 6596 `Link: <...>; rel=\"canonical\"` response header.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/NationalCalendarIdPathParam"
          },
          {
            "$ref": "#/components/parameters/YearTypeParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      },
      "post": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given nation for each day of the current year",
        "operationId": "retrieveRomanRiteNationalCalendarPOST",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year\n\nThis is the canonical form of this route: the rite is stated explicitly, symmetric with the `/calendar/ambrosian` variant. The equivalent bare path (`/calendar/nation/{calendar_id}`) is retained for backwards compatibility and returns an identical response, advertising this URL through an RFC 6596 `Link: <...>; rel=\"canonical\"` response header.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "in": "path",
            "name": "calendar_id",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CA",
                "HR",
                "IT",
                "NL",
                "US",
                "VA"
              ],
              "summary": "uppercase two letter ISO 3166 code of a nation for which the liturgical calendar has been defined"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      }
    },
    "/calendar/nation/{calendar_id}/{year}": {
      "get": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given nation for each day of a given year",
        "operationId": "retrieveNationalCalendarForYearGET",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year\n\n**Deprecated in favour of the explicit-rite form `/calendar/roman/nation/{calendar_id}/{year}`,** which is canonical. This path keeps working unchanged and returns an identical response — it is deliberately not redirected, because these routes accept POST and a redirect would both downgrade POST to GET and break preflighted cross-origin requests. Responses carry a `Link: <...>; rel=\"canonical\"` header naming the canonical URL.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/NationalCalendarIdPathParam"
          },
          {
            "$ref": "#/components/parameters/YearPathParam"
          },
          {
            "$ref": "#/components/parameters/YearTypeParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/CanonicalRiteLink"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given nation for each day of a given year",
        "operationId": "retrieveNationalCalendarForYearPOST",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year\n\n**Deprecated in favour of the explicit-rite form `/calendar/roman/nation/{calendar_id}/{year}`,** which is canonical. This path keeps working unchanged and returns an identical response — it is deliberately not redirected, because these routes accept POST and a redirect would both downgrade POST to GET and break preflighted cross-origin requests. Responses carry a `Link: <...>; rel=\"canonical\"` header naming the canonical URL.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "in": "path",
            "name": "calendar_id",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CA",
                "HR",
                "IT",
                "NL",
                "US",
                "VA"
              ]
            }
          },
          {
            "in": "path",
            "name": "year",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1970,
              "maximum": 9999
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/CanonicalRiteLink"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        },
        "deprecated": true
      }
    },
    "/calendar/roman/nation/{calendar_id}/{year}": {
      "get": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given nation for each day of a given year",
        "operationId": "retrieveRomanRiteNationalCalendarForYearGET",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year\n\nThis is the canonical form of this route: the rite is stated explicitly, symmetric with the `/calendar/ambrosian` variant. The equivalent bare path (`/calendar/nation/{calendar_id}/{year}`) is retained for backwards compatibility and returns an identical response, advertising this URL through an RFC 6596 `Link: <...>; rel=\"canonical\"` response header.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/NationalCalendarIdPathParam"
          },
          {
            "$ref": "#/components/parameters/YearPathParam"
          },
          {
            "$ref": "#/components/parameters/YearTypeParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      },
      "post": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given nation for each day of a given year",
        "operationId": "retrieveRomanRiteNationalCalendarForYearPOST",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year\n\nThis is the canonical form of this route: the rite is stated explicitly, symmetric with the `/calendar/ambrosian` variant. The equivalent bare path (`/calendar/nation/{calendar_id}/{year}`) is retained for backwards compatibility and returns an identical response, advertising this URL through an RFC 6596 `Link: <...>; rel=\"canonical\"` response header.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "in": "path",
            "name": "calendar_id",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CA",
                "HR",
                "IT",
                "NL",
                "US",
                "VA"
              ]
            }
          },
          {
            "in": "path",
            "name": "year",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1970,
              "maximum": 9999
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      }
    },
    "/calendar/diocese/{calendar_id}": {
      "get": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given diocese for each day of the current year",
        "operationId": "retrieveDiocesanCalendarGET",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year\n\n**Deprecated in favour of the explicit-rite form `/calendar/roman/diocese/{calendar_id}`,** which is canonical. This path keeps working unchanged and returns an identical response — it is deliberately not redirected, because these routes accept POST and a redirect would both downgrade POST to GET and break preflighted cross-origin requests. Responses carry a `Link: <...>; rel=\"canonical\"` header naming the canonical URL.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/DiocesanCalendarIdPathParam"
          },
          {
            "$ref": "#/components/parameters/YearTypeParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/CanonicalRiteLink"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given diocese for each day of the current year",
        "operationId": "retrieveDiocesanCalendarPOST",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year\n\n**Deprecated in favour of the explicit-rite form `/calendar/roman/diocese/{calendar_id}`,** which is canonical. This path keeps working unchanged and returns an identical response — it is deliberately not redirected, because these routes accept POST and a redirect would both downgrade POST to GET and break preflighted cross-origin requests. Responses carry a `Link: <...>; rel=\"canonical\"` header naming the canonical URL.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "in": "path",
            "name": "calendar_id",
            "required": true,
            "schema": {
              "$ref": "./CommonDef.json#/definitions/DiocesanCalendarId"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/CanonicalRiteLink"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        },
        "deprecated": true
      }
    },
    "/calendar/roman/diocese/{calendar_id}": {
      "get": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given diocese for each day of the current year",
        "operationId": "retrieveRomanRiteDiocesanCalendarGET",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year\n\nThis is the canonical form of this route: the rite is stated explicitly, symmetric with the `/calendar/ambrosian/diocese/{calendar_id}` variant. The equivalent bare path (`/calendar/diocese/{calendar_id}`) is retained for backwards compatibility and returns an identical response, advertising this URL through an RFC 6596 `Link: <...>; rel=\"canonical\"` response header.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/DiocesanCalendarIdPathParam"
          },
          {
            "$ref": "#/components/parameters/YearTypeParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      },
      "post": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given diocese for each day of the current year",
        "operationId": "retrieveRomanRiteDiocesanCalendarPOST",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year\n\nThis is the canonical form of this route: the rite is stated explicitly, symmetric with the `/calendar/ambrosian/diocese/{calendar_id}` variant. The equivalent bare path (`/calendar/diocese/{calendar_id}`) is retained for backwards compatibility and returns an identical response, advertising this URL through an RFC 6596 `Link: <...>; rel=\"canonical\"` response header.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "in": "path",
            "name": "calendar_id",
            "required": true,
            "schema": {
              "$ref": "./CommonDef.json#/definitions/DiocesanCalendarId"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      }
    },
    "/calendar/diocese/{calendar_id}/{year}": {
      "get": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given diocese for each day of a given year",
        "operationId": "retrieveDiocesanCalendarForYearGET",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year\n\n**Deprecated in favour of the explicit-rite form `/calendar/roman/diocese/{calendar_id}/{year}`,** which is canonical. This path keeps working unchanged and returns an identical response — it is deliberately not redirected, because these routes accept POST and a redirect would both downgrade POST to GET and break preflighted cross-origin requests. Responses carry a `Link: <...>; rel=\"canonical\"` header naming the canonical URL.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/DiocesanCalendarIdPathParam"
          },
          {
            "$ref": "#/components/parameters/YearPathParam"
          },
          {
            "$ref": "#/components/parameters/YearTypeParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/CanonicalRiteLink"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given diocese for each day of a given year",
        "operationId": "retrieveDiocesanCalendarForYearPOST",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year\n\n**Deprecated in favour of the explicit-rite form `/calendar/roman/diocese/{calendar_id}/{year}`,** which is canonical. This path keeps working unchanged and returns an identical response — it is deliberately not redirected, because these routes accept POST and a redirect would both downgrade POST to GET and break preflighted cross-origin requests. Responses carry a `Link: <...>; rel=\"canonical\"` header naming the canonical URL.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "in": "path",
            "name": "calendar_id",
            "required": true,
            "schema": {
              "$ref": "./CommonDef.json#/definitions/DiocesanCalendarId"
            }
          },
          {
            "in": "path",
            "name": "year",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1970,
              "maximum": 9999
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/CanonicalRiteLink"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        },
        "deprecated": true
      }
    },
    "/calendar/roman/diocese/{calendar_id}/{year}": {
      "get": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given diocese for each day of a given year",
        "operationId": "retrieveRomanRiteDiocesanCalendarForYearGET",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year\n\nThis is the canonical form of this route: the rite is stated explicitly, symmetric with the `/calendar/ambrosian/diocese/{calendar_id}/{year}` variant. The equivalent bare path (`/calendar/diocese/{calendar_id}/{year}`) is retained for backwards compatibility and returns an identical response, advertising this URL through an RFC 6596 `Link: <...>; rel=\"canonical\"` response header.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/DiocesanCalendarIdPathParam"
          },
          {
            "$ref": "#/components/parameters/YearPathParam"
          },
          {
            "$ref": "#/components/parameters/YearTypeParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      },
      "post": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given diocese for each day of a given year",
        "operationId": "retrieveRomanRiteDiocesanCalendarForYearPOST",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year\n\nThis is the canonical form of this route: the rite is stated explicitly, symmetric with the `/calendar/ambrosian/diocese/{calendar_id}/{year}` variant. The equivalent bare path (`/calendar/diocese/{calendar_id}/{year}`) is retained for backwards compatibility and returns an identical response, advertising this URL through an RFC 6596 `Link: <...>; rel=\"canonical\"` response header.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "in": "path",
            "name": "calendar_id",
            "required": true,
            "schema": {
              "$ref": "./CommonDef.json#/definitions/DiocesanCalendarId"
            }
          },
          {
            "in": "path",
            "name": "year",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1970,
              "maximum": 9999
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      }
    },
    "/calendar/ambrosian": {
      "get": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events for the Ambrosian calendar (comune ambrosiano) for each day of the current year",
        "operationId": "retrieveAmbrosianCalendarGET",
        "description": "Retrieves liturgical events for the Ambrosian rite (comune ambrosiano only; no diocesan overlay) for each day of the current year. There is no national layer for the Ambrosian rite. The epiphany, ascension, and corpus_christi query parameters are accepted for consistency with the Roman rite endpoints but are IGNORED under the Ambrosian rite: Epiphany is fixed to January 6th, Ascension to the 40th day after Easter (Thursday), and Corpus Christi to its rite-fixed placement. The values actually applied are announced ahead of any request at `ambrosian_calendars[].settings` on `/calendars`, and the response `settings` block echoes those rite-fixed values rather than whatever was requested. Readings are currently an empty placeholder (no Ambrosian lectionary yet); year cycles, first-vespers vigils, and psalter-week numbering are provisional pending ordo validation. The Ambrosian rite has liturgical books only in Italian and Latin, as declared by `ambrosian_calendars[].locales` on `/calendars`: a `locale` parameter naming any other language returns 400 Bad Request, while an `Accept-Language` header asking for one is negotiated against that set (falling back to Latin) rather than rejected.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AmbrosianLocaleParam"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/YearTypeParam"
          },
          {
            "$ref": "#/components/parameters/EpiphanyParam"
          },
          {
            "$ref": "#/components/parameters/AscensionParam"
          },
          {
            "$ref": "#/components/parameters/CorpusChristiParam"
          },
          {
            "$ref": "#/components/parameters/EternalHighPriestParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      },
      "post": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events for the Ambrosian calendar (comune ambrosiano) for each day of the current year",
        "operationId": "retrieveAmbrosianCalendarPOST",
        "description": "Retrieves liturgical events for the Ambrosian rite (comune ambrosiano only; no diocesan overlay) for each day of the current year. There is no national layer for the Ambrosian rite. The epiphany, ascension, and corpus_christi request body parameters are accepted for consistency with the Roman rite endpoints but are IGNORED under the Ambrosian rite: Epiphany is fixed to January 6th, Ascension to the 40th day after Easter (Thursday), and Corpus Christi to its rite-fixed placement. The values actually applied are announced ahead of any request at `ambrosian_calendars[].settings` on `/calendars`, and the response `settings` block echoes those rite-fixed values rather than whatever was requested. Readings are currently an empty placeholder (no Ambrosian lectionary yet); year cycles, first-vespers vigils, and psalter-week numbering are provisional pending ordo validation. The Ambrosian rite has liturgical books only in Italian and Latin, as declared by `ambrosian_calendars[].locales` on `/calendars`: a `locale` parameter naming any other language returns 400 Bad Request, while an `Accept-Language` header asking for one is negotiated against that set (falling back to Latin) rather than rejected.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveCalendarRequestBody"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveCalendarRequestBody"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      }
    },
    "/calendar/ambrosian/{year}": {
      "get": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the Ambrosian calendar (comune ambrosiano) for each day of the given year",
        "operationId": "retrieveAmbrosianCalendarForYearGET",
        "description": "Retrieves liturgical events for the Ambrosian rite (comune ambrosiano only; no diocesan overlay) for each day of the given year. There is no national layer for the Ambrosian rite. The epiphany, ascension, and corpus_christi query parameters are accepted for consistency with the Roman rite endpoints but are IGNORED under the Ambrosian rite: Epiphany is fixed to January 6th, Ascension to the 40th day after Easter (Thursday), and Corpus Christi to its rite-fixed placement. The values actually applied are announced ahead of any request at `ambrosian_calendars[].settings` on `/calendars`, and the response `settings` block echoes those rite-fixed values rather than whatever was requested. The Ambrosian rite is available only from 1976 onward (the first reformed Ambrosian Missal); earlier years return 400 Bad Request. Readings are currently an empty placeholder (no Ambrosian lectionary yet); year cycles, first-vespers vigils, and psalter-week numbering are provisional pending ordo validation. The Ambrosian rite has liturgical books only in Italian and Latin, as declared by `ambrosian_calendars[].locales` on `/calendars`: a `locale` parameter naming any other language returns 400 Bad Request, while an `Accept-Language` header asking for one is negotiated against that set (falling back to Latin) rather than rejected.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AmbrosianLocaleParam"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/AmbrosianYearPathParam"
          },
          {
            "$ref": "#/components/parameters/YearTypeParam"
          },
          {
            "$ref": "#/components/parameters/EpiphanyParam"
          },
          {
            "$ref": "#/components/parameters/AscensionParam"
          },
          {
            "$ref": "#/components/parameters/CorpusChristiParam"
          },
          {
            "$ref": "#/components/parameters/EternalHighPriestParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      },
      "post": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the Ambrosian calendar (comune ambrosiano) for each day of the given year",
        "operationId": "retrieveAmbrosianCalendarForYearPOST",
        "description": "Retrieves liturgical events for the Ambrosian rite (comune ambrosiano only; no diocesan overlay) for each day of the given year. There is no national layer for the Ambrosian rite. The epiphany, ascension, and corpus_christi request body parameters are accepted for consistency with the Roman rite endpoints but are IGNORED under the Ambrosian rite: Epiphany is fixed to January 6th, Ascension to the 40th day after Easter (Thursday), and Corpus Christi to its rite-fixed placement. The values actually applied are announced ahead of any request at `ambrosian_calendars[].settings` on `/calendars`, and the response `settings` block echoes those rite-fixed values rather than whatever was requested. The Ambrosian rite is available only from 1976 onward (the first reformed Ambrosian Missal); earlier years return 400 Bad Request. Readings are currently an empty placeholder (no Ambrosian lectionary yet); year cycles, first-vespers vigils, and psalter-week numbering are provisional pending ordo validation. The Ambrosian rite has liturgical books only in Italian and Latin, as declared by `ambrosian_calendars[].locales` on `/calendars`: a `locale` parameter naming any other language returns 400 Bad Request, while an `Accept-Language` header asking for one is negotiated against that set (falling back to Latin) rather than rejected.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/AmbrosianYearPathParam"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveCalendarRequestBody"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveCalendarRequestBody"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      }
    },
    "/calendar/ambrosian/diocese/{calendar_id}": {
      "get": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the Ambrosian calendar for a given diocese for each day of the current year",
        "operationId": "retrieveAmbrosianDiocesanCalendarGET",
        "description": "Retrieve liturgical events for a given diocese under the Ambrosian rite for each day of the current year. Ambrosian dioceses are not layered on a national calendar: the diocesan proper is applied directly over the comune ambrosiano. Only the Ambrosian dioceses are valid for this path: Milano (milano_it), Bergamo (bergam_it), Novara (novara_it), and Lugano (lugano_ch); any other calendar_id combined with the ambrosian rite segment returns 400 Bad Request. The Ambrosian rite has liturgical books only in Italian and Latin, as declared by `ambrosian_calendars[].locales` on `/calendars`: a `locale` parameter naming any other language returns 400 Bad Request, while an `Accept-Language` header asking for one is negotiated against that set (falling back to Latin) rather than rejected.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AmbrosianLocaleParam"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/DiocesanCalendarIdPathParam"
          },
          {
            "$ref": "#/components/parameters/YearTypeParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      },
      "post": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the Ambrosian calendar for a given diocese for each day of the current year",
        "operationId": "retrieveAmbrosianDiocesanCalendarPOST",
        "description": "Retrieve liturgical events for a given diocese under the Ambrosian rite for each day of the current year. Ambrosian dioceses are not layered on a national calendar: the diocesan proper is applied directly over the comune ambrosiano. Only the Ambrosian dioceses are valid for this path: Milano (milano_it), Bergamo (bergam_it), Novara (novara_it), and Lugano (lugano_ch); any other calendar_id combined with the ambrosian rite segment returns 400 Bad Request. The Ambrosian rite has liturgical books only in Italian and Latin, as declared by `ambrosian_calendars[].locales` on `/calendars`: a `locale` parameter naming any other language returns 400 Bad Request, while an `Accept-Language` header asking for one is negotiated against that set (falling back to Latin) rather than rejected.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "in": "path",
            "name": "calendar_id",
            "required": true,
            "schema": {
              "$ref": "./CommonDef.json#/definitions/DiocesanCalendarId"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      }
    },
    "/calendar/ambrosian/diocese/{calendar_id}/{year}": {
      "get": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the Ambrosian calendar for a given diocese for each day of a given year",
        "operationId": "retrieveAmbrosianDiocesanCalendarForYearGET",
        "description": "Retrieve liturgical events for a given diocese under the Ambrosian rite for each day of a given year. Ambrosian dioceses are not layered on a national calendar: the diocesan proper is applied directly over the comune ambrosiano. Only the Ambrosian dioceses are valid for this path: Milano (milano_it), Bergamo (bergam_it), Novara (novara_it), and Lugano (lugano_ch); any other calendar_id combined with the ambrosian rite segment returns 400 Bad Request. The Ambrosian rite is available only from 1976 onward (the first reformed Ambrosian Missal); earlier years return 400 Bad Request. The Ambrosian rite has liturgical books only in Italian and Latin, as declared by `ambrosian_calendars[].locales` on `/calendars`: a `locale` parameter naming any other language returns 400 Bad Request, while an `Accept-Language` header asking for one is negotiated against that set (falling back to Latin) rather than rejected.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AmbrosianLocaleParam"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/DiocesanCalendarIdPathParam"
          },
          {
            "$ref": "#/components/parameters/AmbrosianYearPathParam"
          },
          {
            "$ref": "#/components/parameters/YearTypeParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      },
      "post": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the Ambrosian calendar for a given diocese for each day of a given year",
        "operationId": "retrieveAmbrosianDiocesanCalendarForYearPOST",
        "description": "Retrieve liturgical events for a given diocese under the Ambrosian rite for each day of a given year. Ambrosian dioceses are not layered on a national calendar: the diocesan proper is applied directly over the comune ambrosiano. Only the Ambrosian dioceses are valid for this path: Milano (milano_it), Bergamo (bergam_it), Novara (novara_it), and Lugano (lugano_ch); any other calendar_id combined with the ambrosian rite segment returns 400 Bad Request. The Ambrosian rite is available only from 1976 onward (the first reformed Ambrosian Missal); earlier years return 400 Bad Request. The Ambrosian rite has liturgical books only in Italian and Latin, as declared by `ambrosian_calendars[].locales` on `/calendars`: a `locale` parameter naming any other language returns 400 Bad Request, while an `Accept-Language` header asking for one is negotiated against that set (falling back to Latin) rather than rejected.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "in": "path",
            "name": "calendar_id",
            "required": true,
            "schema": {
              "$ref": "./CommonDef.json#/definitions/DiocesanCalendarId"
            }
          },
          {
            "$ref": "#/components/parameters/AmbrosianYearPathParam"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "security": [
          {}
        ],
        "summary": "Authenticate user and obtain JWT tokens",
        "operationId": "authLogin",
        "description": "Authenticate with username and password to obtain access and refresh tokens. Tokens are returned in the response body AND set as HttpOnly cookies (litcal_access_token, litcal_refresh_token). Browser clients should use the cookie-based authentication (preferred for XSS protection), while server-to-server clients can use the Bearer token in the Authorization header.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK: Authentication successful. Tokens returned in response body and set as HttpOnly cookies.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429"
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "security": [
          {}
        ],
        "summary": "Refresh access token using refresh token",
        "operationId": "authRefresh",
        "description": "Use a valid refresh token to obtain a new access token without re-authenticating with username/password.\n\n**Token Sources (in order of precedence):**\n1. **HttpOnly Cookie** (preferred): The refresh token is automatically read from the `litcal_refresh_token` cookie if present. Browser-based clients using cookie authentication can call this endpoint without a request body.\n2. **Request Body** (fallback): If no cookie is present, the refresh token must be provided in the JSON request body.\n\n**Usage:**\n- **Browser clients**: Use `credentials: 'include'` in fetch requests. No request body needed if cookies were set by `/auth/login`.\n- **Server/API clients**: Send the refresh token in the request body.",
        "requestBody": {
          "required": false,
          "description": "Optional when using cookie-based authentication. Required for clients that don't send cookies.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK: Token refresh successful, new access token returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ],
        "summary": "Logout user session",
        "operationId": "authLogout",
        "description": "Performs a stateless logout by clearing HttpOnly auth cookies and logging the event. Since JWTs are stateless, the client must also discard any stored access and refresh tokens. The endpoint extracts the username from the token (if available) for audit logging purposes.",
        "responses": {
          "200": {
[...]
