{
  "openapi": "3.1.0",
  "servers": [
    {
      "description": "Liturgical Calendar API endpoint (development - unstable)",
      "url": "https://litcal.johnromanodorazio.com/api/dev"
    },
    {
      "description": "Liturgical Calendar API endpoint (production - stable)",
      "url": "https://litcal.johnromanodorazio.com/api/v5"
    }
  ],
  "info": {
    "description": "An API which allows to retrieve data about the **Roman Calendar** for any given year, between 1970 and 9999. The data strives for historical accuracy (memorials and feast days are only generated from the year in which they were effectively introduced). The data is based on original sources (Roman Missals, Decrees of the Dicastery for Divine Worship and the Discipline of the Sacraments, Mysterii Paschalis, etc.), not on data copied or retrieved from online sources which may not be accurate. The API offers multiple locales and multiple calendars, from the **General Roman Calendar** to national or diocesan calendars.",
    "version": "5.7",
    "title": "Liturgical Calendar",
    "contact": {
      "email": "priest@johnromanodorazio.com",
      "name": "Rev. John R. D'Orazio"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "tags": [
    {
      "name": "Main API endpoint",
      "description": "Retrieve a liturgical calendar"
    },
    {
      "name": "Authentication",
      "description": "JWT-based authentication (login and token refresh)"
    },
    {
      "name": "Calendars Index",
      "description": "Retrieve information about available calendars"
    },
    {
      "name": "Liturgical events",
      "description": "All liturgical events by key without the calendar calculation"
    },
    {
      "name": "Calendar Source Data",
      "description": "Retrieve / create / update / delete source data for National, Diocesan or Wider Region calendars "
    },
    {
      "name": "Missals",
      "description": "Retrieve / create / update / delete Roman Missal definitions"
    },
    {
      "name": "Decrees",
      "description": "Retrieve / create / update / delete Decrees of the Dicastery for Divine Worship and the Discipline of the Sacraments"
    },
    {
      "name": "Easter",
      "description": "Dates of easter whether gregorian or julian from 1583 to 1999"
    },
    {
      "name": "Unit Tests",
      "description": "Retrieve / create / update / delete unit tests"
    },
    {
      "name": "Temporale",
      "description": "Retrieve / create / update / delete Proprium de Tempore (temporale) events"
    },
    {
      "name": "Role Requests",
      "description": "User-facing role request operations (request roles, check status)"
    },
    {
      "name": "Admin - Role Requests",
      "description": "Admin operations for managing role requests (approve, reject, revoke)"
    },
    {
      "name": "Admin - Users",
      "description": "Admin operations for user management (list users, revoke roles)"
    },
    {
      "name": "Admin - Notifications",
      "description": "Admin notification counts (pending requests, etc.)"
    },
    {
      "name": "Admin - Applications",
      "description": "Admin operations for application approval workflow (approve, reject, revoke)"
    },
    {
      "name": "Applications",
      "description": "Developer application management (create, update, delete applications and API keys)"
    }
  ],
  "paths": {
    "/calendar": {
      "get": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events for the General Roman Calendar for each day of the current year",
        "operationId": "retrieveGeneralRomanCalendarGET",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/YearTypeParam"
          },
          {
            "$ref": "#/components/parameters/EpiphanyParam"
          },
          {
            "$ref": "#/components/parameters/AscensionParam"
          },
          {
            "$ref": "#/components/parameters/CorpusChristiParam"
          },
          {
            "$ref": "#/components/parameters/EternalHighPriestParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      },
      "post": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events for the General Roman Calendar for each day of the current year",
        "operationId": "retrieveGeneralRomanCalendarPOST",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveCalendarRequestBody"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                },
                "GeneralRomanCalendarTweaked": {
                  "$ref": "#/components/examples/GeneralRomanCalendarTweakedRequestBody"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveCalendarRequestBody"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                },
                "GeneralRomanCalendarTweaked": {
                  "$ref": "#/components/examples/GeneralRomanCalendarTweakedRequestBody"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      }
    },
    "/calendar/{year}": {
      "get": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the General Roman Calendar for each day of the given year",
        "operationId": "retrieveGeneralRomanCalendarForYearGET",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/YearPathParam"
          },
          {
            "$ref": "#/components/parameters/YearTypeParam"
          },
          {
            "$ref": "#/components/parameters/EpiphanyParam"
          },
          {
            "$ref": "#/components/parameters/AscensionParam"
          },
          {
            "$ref": "#/components/parameters/CorpusChristiParam"
          },
          {
            "$ref": "#/components/parameters/EternalHighPriestParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      },
      "post": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the General Roman Calendar for each day of the given year",
        "operationId": "retrieveGeneralRomanCalendarForYearPOST",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "in": "path",
            "name": "year",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1970,
              "maximum": 9999
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveCalendarRequestBody"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                },
                "GeneralRomanCalendarTweaked": {
                  "$ref": "#/components/examples/GeneralRomanCalendarTweakedRequestBody"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveCalendarRequestBody"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                },
                "GeneralRomanCalendarTweaked": {
                  "$ref": "#/components/examples/GeneralRomanCalendarTweakedRequestBody"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      }
    },
    "/calendar/nation/{calendar_id}": {
      "get": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given nation for each day of the current year",
        "operationId": "retrieveNationalCalendarGET",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/NationalCalendarIdPathParam"
          },
          {
            "$ref": "#/components/parameters/YearTypeParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      },
      "post": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given nation for each day of the current year",
        "operationId": "retrieveNationalCalendarPOST",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "in": "path",
            "name": "calendar_id",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "IT",
                "US",
                "NL",
                "VA",
                "CA"
              ],
              "summary": "uppercase two letter ISO 3166 code of a nation for which the liturgical calendar has been defined"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      }
    },
    "/calendar/nation/{calendar_id}/{year}": {
      "get": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given nation for each day of a given year",
        "operationId": "retrieveNationalCalendarForYearGET",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/NationalCalendarIdPathParam"
          },
          {
            "$ref": "#/components/parameters/YearPathParam"
          },
          {
            "$ref": "#/components/parameters/YearTypeParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      },
      "post": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given nation for each day of a given year",
        "operationId": "retrieveNationalCalendarForYearPOST",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "in": "path",
            "name": "calendar_id",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "IT",
                "US",
                "NL",
                "VA",
                "CA"
              ]
            }
          },
          {
            "in": "path",
            "name": "year",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1970,
              "maximum": 9999
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      }
    },
    "/calendar/diocese/{calendar_id}": {
      "get": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given diocese for each day of the current year",
        "operationId": "retrieveDiocesanCalendarGET",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/DiocesanCalendarIdPathParam"
          },
          {
            "$ref": "#/components/parameters/YearTypeParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      },
      "post": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given diocese for each day of the current year",
        "operationId": "retrieveDiocesanCalendarPOST",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "in": "path",
            "name": "calendar_id",
            "required": true,
            "schema": {
              "$ref": "./CommonDef.json#/definitions/DiocesanCalendarId"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      }
    },
    "/calendar/diocese/{calendar_id}/{year}": {
      "get": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given diocese for each day of a given year",
        "operationId": "retrieveDiocesanCalendarForYearGET",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "$ref": "#/components/parameters/DiocesanCalendarIdPathParam"
          },
          {
            "$ref": "#/components/parameters/YearPathParam"
          },
          {
            "$ref": "#/components/parameters/YearTypeParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      },
      "post": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given diocese for each day of a given year",
        "operationId": "retrieveDiocesanCalendarForYearPOST",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "in": "path",
            "name": "calendar_id",
            "required": true,
            "schema": {
              "$ref": "./CommonDef.json#/definitions/DiocesanCalendarId"
            }
          },
          {
            "in": "path",
            "name": "year",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1970,
              "maximum": 9999
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar": {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
                "CivilYearCalendar": {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LitCal200"
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable406"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType415"
          },
          "418": {
            "$ref": "#/components/responses/IMATeapot418"
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "security": [
          {}
        ],
        "summary": "Authenticate user and obtain JWT tokens",
        "operationId": "authLogin",
        "description": "Authenticate with username and password to obtain access and refresh tokens. Tokens are returned in the response body AND set as HttpOnly cookies (litcal_access_token, litcal_refresh_token). Browser clients should use the cookie-based authentication (preferred for XSS protection), while server-to-server clients can use the Bearer token in the Authorization header.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK: Authentication successful. Tokens returned in response body and set as HttpOnly cookies.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429"
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "security": [
          {}
        ],
        "summary": "Refresh access token using refresh token",
        "operationId": "authRefresh",
        "description": "Use a valid refresh token to obtain a new access token without re-authenticating with username/password.\n\n**Token Sources (in order of precedence):**\n1. **HttpOnly Cookie** (preferred): The refresh token is automatically read from the `litcal_refresh_token` cookie if present. Browser-based clients using cookie authentication can call this endpoint without a request body.\n2. **Request Body** (fallback): If no cookie is present, the refresh token must be provided in the JSON request body.\n\n**Usage:**\n- **Browser clients**: Use `credentials: 'include'` in fetch requests. No request body needed if cookies were set by `/auth/login`.\n- **Server/API clients**: Send the refresh token in the request body.",
        "requestBody": {
          "required": false,
          "description": "Optional when using cookie-based authentication. Required for clients that don't send cookies.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK: Token refresh successful, new access token returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ],
        "summary": "Logout user session",
        "operationId": "authLogout",
        "description": "Performs a stateless logout by clearing HttpOnly auth cookies and logging the event. Since JWTs are stateless, the client must also discard any stored access and refresh tokens. The endpoint extracts the username from the token (if available) for audit logging purposes.",
        "responses": {
          "200": {
            "description": "OK: Logout successful, cookies cleared",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Logged out successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ],
        "summary": "Get current authenticated user information",
        "operationId": "authMe",
        "description": "Returns information about the currently authenticated user. Supports both HttpOnly cookie-based authentication and Bearer token in Authorization header. Essential for cookie-based authentication where JavaScript cannot read HttpOnly cookies.",
        "responses": {
          "200": {
            "description": "OK: User information returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          }
        }
      }
    },
    "/auth/role-requests": {
      "get": {
        "tags": ["Role Requests"],
        "security": [{"BearerAuth": []}, {"CookieAuth": []}],
        "summary": "Get user's own role requests",
        "operationId": "getUserRoleRequests",
        "description": "Retrieve all role requests submitted by the authenticated user.",
        "responses": {
          "200": {
            "description": "OK: List of user's role requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserRoleRequestsResponse"
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized401"}
        }
      },
      "post": {
        "tags": ["Role Requests"],
        "security": [{"BearerAuth": []}, {"CookieAuth": []}],
        "summary": "Create a new role request",
        "operationId": "createRoleRequest",
        "description": "Submit a request for a role. Valid roles are: developer, calendar_editor, test_editor.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRoleRequestBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created: Role request submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRoleRequestResponse"
                }
              }
            }
          },
          "400": {"$ref": "#/components/responses/BadRequest400"},
          "401": {"$ref": "#/components/responses/Unauthorized401"}
        }
      }
    },
    "/auth/role-requests/status": {
      "get": {
        "tags": ["Role Requests"],
        "security": [{"BearerAuth": []}, {"CookieAuth": []}],
        "summary": "Get role request status for user",
        "operationId": "getRoleRequestStatus",
        "description": "Check if the user has roles, pending requests, and whether they need to request a role.",
        "responses": {
          "200": {
            "description": "OK: User's role status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleRequestStatusResponse"
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized401"}
        }
      }
    },
    "/admin/role-requests": {
      "get": {
        "tags": ["Admin - Role Requests"],
        "security": [{"BearerAuth": []}, {"CookieAuth": []}],
        "summary": "List all role requests",
        "operationId": "adminListRoleRequests",
        "description": "List all role requests with optional status filter. Requires admin role.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status",
            "schema": {
              "type": "string",
              "enum": ["pending", "approved", "rejected", "revoked"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK: List of role requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminRoleRequestsResponse"
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized401"},
          "403": {"$ref": "#/components/responses/Forbidden403"}
        }
      }
    },
    "/admin/role-requests/{id}/approve": {
      "post": {
        "tags": ["Admin - Role Requests"],
        "security": [{"BearerAuth": []}, {"CookieAuth": []}],
        "summary": "Approve a role request",
        "operationId": "adminApproveRoleRequest",
        "description": "Approve a pending role request and assign the role in Zitadel. Requires admin role.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Role request UUID",
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminReviewRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK: Role request approved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApproveRoleRequestResponse"
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized401"},
          "403": {"$ref": "#/components/responses/Forbidden403"},
          "404": {"$ref": "#/components/responses/NotFound404"}
        }
      }
    },
    "/admin/role-requests/{id}/reject": {
      "post": {
        "tags": ["Admin - Role Requests"],
        "security": [{"BearerAuth": []}, {"CookieAuth": []}],
        "summary": "Reject a role request",
        "operationId": "adminRejectRoleRequest",
        "description": "Reject a pending role request. Requires admin role.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Role request UUID",
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminReviewRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK: Role request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminRejectResponse"
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized401"},
          "403": {"$ref": "#/components/responses/Forbidden403"},
          "404": {"$ref": "#/components/responses/NotFound404"}
        }
      }
    },
    "/admin/role-requests/{id}/revoke": {
      "post": {
        "tags": ["Admin - Role Requests"],
        "security": [{"BearerAuth": []}, {"CookieAuth": []}],
        "summary": "Revoke a previously approved role request",
        "operationId": "adminRevokeRoleRequest",
        "description": "Revoke a previously approved role request and remove the role from Zitadel. Requires admin role.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Role request UUID",
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminReviewRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK: Role request revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminRevokeRoleRequestResponse"
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized401"},
          "403": {"$ref": "#/components/responses/Forbidden403"},
          "404": {"$ref": "#/components/responses/NotFound404"}
        }
      }
    },
    "/admin/notifications": {
      "get": {
        "tags": ["Admin - Notifications"],
        "security": [{"BearerAuth": []}, {"CookieAuth": []}],
        "summary": "Get admin notification counts",
        "operationId": "adminGetNotifications",
        "description": "Get counts of pending items requiring admin attention. Requires admin role.",
        "responses": {
          "200": {
            "description": "OK: Notification counts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminNotificationsResponse"
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized401"},
          "403": {"$ref": "#/components/responses/Forbidden403"}
        }
      }
    },
    "/admin/users": {
      "get": {
        "tags": ["Admin - Users"],
        "security": [{"BearerAuth": []}, {"CookieAuth": []}],
        "summary": "List all users with roles",
        "operationId": "adminListUsers",
        "description": "List all users in the project with their assigned roles. Requires admin role.",
        "responses": {
          "200": {
            "description": "OK: List of users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUsersResponse"
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized401"},
          "403": {"$ref": "#/components/responses/Forbidden403"}
        }
      }
    },
    "/admin/users/{userId}/roles/{role}": {
      "delete": {
        "tags": ["Admin - Users"],
        "security": [{"BearerAuth": []}, {"CookieAuth": []}],
        "summary": "Revoke a role from a user",
        "operationId": "adminRevokeUserRole",
        "description": "Revoke a specific role from a user in Zitadel. Requires admin role.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "Zitadel user ID",
            "schema": {"type": "string"}
          },
          {
            "name": "role",
            "in": "path",
            "required": true,
            "description": "Role to revoke",
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "OK: Role revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized401"},
          "403": {"$ref": "#/components/responses/Forbidden403"},
          "404": {"$ref": "#/components/responses/NotFound404"}
        }
      }
    },
    "/admin/applications": {
      "get": {
        "tags": ["Admin - Applications"],
        "security": [{"BearerAuth": []}, {"CookieAuth": []}],
        "summary": "List all applications",
        "operationId": "adminListApplications",
        "description": "List all applications with optional status filter. Requires admin role.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status",
            "schema": {
              "type": "string",
              "enum": ["pending", "approved", "rejected", "revoked"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK: List of applications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApplicationsResponse"
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized401"},
          "403": {"$ref": "#/components/responses/Forbidden403"}
        }
      }
    },
    "/admin/applications/pending": {
      "get": {
        "tags": ["Admin - Applications"],
        "security": [{"BearerAuth": []}, {"CookieAuth": []}],
        "summary": "List pending applications",
        "operationId": "adminListPendingApplications",
        "description": "List all applications awaiting approval. Requires admin role.",
        "responses": {
          "200": {
            "description": "OK: List of pending applications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminPendingApplicationsResponse"
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized401"},
          "403": {"$ref": "#/components/responses/Forbidden403"}
        }
      }
    },
    "/admin/applications/{uuid}": {
      "get": {
        "tags": ["Admin - Applications"],
        "security": [{"BearerAuth": []}, {"CookieAuth": []}],
        "summary": "Get single application details",
        "operationId": "adminGetApplication",
        "description": "Get details of a specific application. Requires admin role.",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Application UUID",
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "responses": {
          "200": {
            "description": "OK: Application details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized401"},
          "403": {"$ref": "#/components/responses/Forbidden403"},
          "404": {"$ref": "#/components/responses/NotFound404"}
        }
      }
    },
    "/admin/applications/{uuid}/approve": {
      "post": {
        "tags": ["Admin - Applications"],
        "security": [{"BearerAuth": []}, {"CookieAuth": []}],
        "summary": "Approve an application",
        "operationId": "adminApproveApplication",
        "description": "Approve a pending or rejected application. Requires admin role.",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Application UUID",
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminReviewRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK: Application approved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApplicationActionResponse"
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized401"},
          "403": {"$ref": "#/components/responses/Forbidden403"},
          "404": {"$ref": "#/components/responses/NotFound404"}
        }
      }
    },
    "/admin/applications/{uuid}/reject": {
      "post": {
        "tags": ["Admin - Applications"],
        "security": [{"BearerAuth": []}, {"CookieAuth": []}],
        "summary": "Reject an application",
        "operationId": "adminRejectApplication",
        "description": "Reject a pending application. Requires admin role.",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Application UUID",
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminReviewRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK: Application rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApplicationActionResponse"
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized401"},
          "403": {"$ref": "#/components/responses/Forbidden403"},
          "404": {"$ref": "#/components/responses/NotFound404"}
        }
      }
    },
    "/admin/applications/{uuid}/revoke": {
      "post": {
        "tags": ["Admin - Applications"],
        "security": [{"BearerAuth": []}, {"CookieAuth": []}],
        "summary": "Revoke an approved application",
        "operationId": "adminRevokeApplication",
        "description": "Revoke a previously approved application. Requires admin role.",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Application UUID",
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminReviewRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK: Application revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApplicationActionResponse"
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized401"},
          "403": {"$ref": "#/components/responses/Forbidden403"},
          "404": {"$ref": "#/components/responses/NotFound404"}
        }
      }
    },
    "/applications": {
      "get": {
        "tags": ["Applications"],
        "security": [{"BearerAuth": []}, {"CookieAuth": []}],
        "summary": "List user's applications",
        "operationId": "listApplications",
        "description": "List all applications owned by the authenticated user. Requires developer role.",
        "responses": {
          "200": {
            "description": "OK: List of user's applications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationsListResponse"
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized401"},
          "403": {"$ref": "#/components/responses/Forbidden403"}
        }
      },
      "post": {
        "tags": ["Applications"],
        "security": [{"BearerAuth": []}, {"CookieAuth": []}],
        "summary": "Create new application",
        "operationId": "createApplication",
        "description": "Create a new application (starts with 'pending' status). Requires developer role.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApplicationBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created: Application submitted for review",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApplicationResponse"
                }
              }
            }
          },
          "400": {"$ref": "#/components/responses/BadRequest400"},
          "401": {"$ref": "#/components/responses/Unauthorized401"},
          "403": {"$ref": "#/components/responses/Forbidden403"}
        }
      }
    },
    "/applications/{uuid}": {
      "get": {
        "tags": ["Applications"],
        "security": [{"BearerAuth": []}, {"CookieAuth": []}],
        "summary": "Get single application",
        "operationId": "getApplication",
        "description": "Get details of a specific application owned by the user. Requires developer role.",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Application UUID",
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "responses": {
          "200": {
            "description": "OK: Application details with API keys",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationWithKeys"
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized401"},
          "403": {"$ref": "#/components/responses/Forbidden403"},
          "404": {"$ref": "#/components/responses/NotFound404"}
        }
      },
      "patch": {
        "tags": ["Applications"],
        "security": [{"BearerAuth": []}, {"CookieAuth": []}],
        "summary": "Update application",
        "operationId": "updateApplication",
        "description": "Update application details. Requires developer role and ownership.",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Application UUID",
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateApplicationBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK: Application updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateApplicationResponse"
                }
              }
            }
          },
          "400": {"$ref": "#/components/responses/BadRequest400"},
          "401": {"$ref": "#/components/responses/Unauthorized401"},
          "403": {"$ref": "#/components/responses/Forbidden403"},
          "404": {"$ref": "#/components/responses/NotFound404"}
        }
      },
      "delete": {
        "tags": ["Applications"],
        "security": [{"BearerAuth": []}, {"CookieAuth": []}],
        "summary": "Delete application",
        "operationId": "deleteApplication",
        "description": "Permanently delete an application and all associated API keys. Requires developer role and ownership.",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Application UUID",
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "responses": {
          "200": {
            "description": "OK: Application deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized401"},
          "403": {"$ref": "#/components/responses/Forbidden403"},
          "404": {"$ref": "#/components/responses/NotFound404"}
        }
      }
    },
    "/applications/{uuid}/resubmit": {
      "post": {
        "tags": ["Applications"],
        "security": [{"BearerAuth": []}, {"CookieAuth": []}],
        "summary": "Resubmit rejected application",
        "operationId": "resubmitApplication",
        "description": "Resubmit a rejected application for review. Only rejected applications can be resubmitted. Requires developer role and ownership.",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Application UUID",
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "responses": {
          "200": {
            "description": "OK: Application resubmitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResubmitApplicationResponse"
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized401"},
          "403": {"$ref": "#/components/responses/Forbidden403"},
          "404": {"$ref": "#/components/responses/NotFound404"}
        }
      }
    },
    "/applications/{uuid}/keys": {
      "get": {
        "tags": ["Applications"],
        "security": [{"BearerAuth": []}, {"CookieAuth": []}],
        "summary": "List API keys for application",
        "operationId": "listApiKeys",
        "description": "List all API keys for an application. Requires developer role and ownership.",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Application UUID",
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "responses": {
          "200": {
            "description": "OK: List of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeysListResponse"
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized401"},
          "403": {"$ref": "#/components/responses/Forbidden403"},
          "404": {"$ref": "#/components/responses/NotFound404"}
        }
      },
      "post": {
        "tags": ["Applications"],
        "security": [{"BearerAuth": []}, {"CookieAuth": []}],
        "summary": "Generate new API key",
        "operationId": "generateApiKey",
        "description": "Generate a new API key for an approved application. The plain text key is only shown once. Requires developer role and ownership.",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Application UUID",
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateApiKeyBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created: API key generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateApiKeyResponse"
                }
              }
            }
          },
          "400": {"$ref": "#/components/responses/BadRequest400"},
          "401": {"$ref": "#/components/responses/Unauthorized401"},
          "403": {"$ref": "#/components/responses/Forbidden403"},
          "404": {"$ref": "#/components/responses/NotFound404"}
        }
      }
    },
    "/applications/{uuid}/keys/{keyId}": {
      "delete": {
        "tags": ["Applications"],
        "security": [{"BearerAuth": []}, {"CookieAuth": []}],
        "summary": "Revoke/delete API key",
        "operationId": "revokeApiKey",
        "description": "Revoke (delete) an API key. Requires developer role and ownership.",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Application UUID",
            "schema": {"type": "string", "format": "uuid"}
          },
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "description": "API key ID",
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "responses": {
          "200": {
            "description": "OK: API key revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized401"},
          "403": {"$ref": "#/components/responses/Forbidden403"},
          "404": {"$ref": "#/components/responses/NotFound404"}
        }
      }
    },
    "/applications/{uuid}/keys/{keyId}/rotate": {
      "post": {
        "tags": ["Applications"],
        "security": [{"BearerAuth": []}, {"CookieAuth": []}],
        "summary": "Rotate API key",
        "operationId": "rotateApiKey",
        "description": "Rotate an API key (revoke old, create new with same settings). The new plain text key is only shown once. Requires developer role and ownership.",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Application UUID",
            "schema": {"type": "string", "format": "uuid"}
          },
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "description": "API key ID to rotate",
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "responses": {
          "200": {
            "description": "OK: API key rotated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RotateApiKeyResponse"
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized401"},
          "403": {"$ref": "#/components/responses/Forbidden403"},
          "404": {"$ref": "#/components/responses/NotFound404"}
        }
      }
    },
    "/calendars": {
      "get": {
        "tags": [
          "Calendars Index"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve an index of current supported national and diocesan calendars and relative locales, settings, etc.",
        "operationId": "retrieveMetadataGET",
        "responses": {
          "200": {
            "description": "OK: An index of currently supported national and diocesan calendars and relative locales",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalMetadata"
                }
              }
            }
          },
          "304": {
            "description": "304 Not Modified"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable503"
          }
        }
      },
      "post": {
        "tags": [
          "Calendars Index"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve an index of current supported national and diocesan calendars and relative locales, settings, etc.",
        "operationId": "retrieveMetadataPOST",
        "responses": {
          "200": {
            "description": "OK: An index of currently supported national and diocesan calendars and relative locales",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalMetadata"
                }
              }
            }
          },
          "304": {
            "description": "304 Not Modified"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable503"
          }
        }
      }
    },
    "/events": {
      "get": {
        "tags": [
          "Liturgical events"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve all possible liturgical events from the General Roman Calendar even if they won't appear in the Liturgical Calendar one year or the other; useful mostly for frontend select inputs to choose an `event_key` that corresponds with an actual liturgical event",
        "operationId": "retrieveEventsGET",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK: A collection of all possible liturgical events that can be found in a liturgical calendar produced by the LitCal API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalAllFestivitiesResponse"
                },
                "example": {
                  "litcal_events": {
                    "StsBasilGreg": {
                      "month": 1,
                      "day": 2,
                      "event_key": "StsBasilGreg",
                      "grade": 3,
                      "common": [
                        "Proper"
                      ],
                      "calendar": "GENERAL ROMAN",
                      "color": [
                        "white"
                      ],
                      "readings": {
                        "first_reading": "Efesini 4, 1-7.11-13",
                        "responsorial_psalm": "Salmo 23",
                        "gospel_acclamation": "Matteo 23, 9b.10b",
                        "gospel": "Matteo 23, 8-12"
                      },
                      "name": "Sancti Basilii Magni et Gregorii Nazianzeni, episcoporum et Ecclesiæ doctorum",
                      "missal": "VATICAN_1970"
                    },
                    "StRayPenyafort": {
                      "month": 1,
                      "day": 7,
                      "event_key": "StRayPenyafort",
                      "grade": 2,
                      "common": [
                        "Pastors:For One Pastor"
                      ],
                      "calendar": "GENERAL ROMAN",
                      "color": [
                        "white"
                      ],
                      "readings": {
                        "first_reading": "2 Corinzi 5, 14-20",
                        "responsorial_psalm": "Salmo 103",
                        "gospel_acclamation": "Matteo 24, 42a.44",
                        "gospel": "Luca 12, 35-40"
                      },
                      "name": "Sancti Raimundi de Penyafort, presbyteri",
                      "missal": "VATICAN_1970"
                    }
                  },
                  "settings": {
                    "locale": "en",
                    "national_calendar": "US",
                    "diocesan_calendar": "boston_us"
                  }
                }
              }
            }
          },
          "304": {
            "description": "304 Not Modified"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable503"
          }
        }
      },
      "post": {
        "tags": [
          "Liturgical events"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve all possible liturgical events from the General Roman Calendar even if they won't appear in the Liturgical Calendar one year or the other; useful mostly for frontend select inputs to choose an `event_key` that corresponds with an actual liturgical event",
        "operationId": "retrieveEventsPOST",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK: A collection of all possible liturgical events that can be found in a liturgical calendar produced by the LitCal API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalAllFestivitiesResponse"
                },
                "example": {
                  "litcal_events": {
                    "StsBasilGreg": {
                      "month": 1,
                      "day": 2,
                      "event_key": "StsBasilGreg",
                      "grade": 3,
                      "common": [
                        "Proper"
                      ],
                      "calendar": "GENERAL ROMAN",
                      "color": [
                        "white"
                      ],
                      "readings": {
                        "first_reading": "Ef 4, 1-7.11-13",
                        "responsorial_psalm": "Salmo 23",
                        "second_reading": "",
                        "gospel_acclamation": "Mt 23, 9b.10b",
                        "gospel": "Mt 23, 8-12"
                      },
                      "name": "Sancti Basilii Magni et Gregorii Nazianzeni, episcoporum et Ecclesiæ doctorum",
                      "missal": "VATICAN_1970"
                    },
                    "StRayPenyafort": {
                      "month": 1,
                      "day": 7,
                      "event_key": "StRayPenyafort",
                      "grade": 2,
                      "common": [
                        "Pastors:For One Pastor"
                      ],
                      "calendar": "GENERAL ROMAN",
                      "color": [
                        "white"
                      ],
                      "readings": {
                        "first_reading": "2 Cor 5, 14-20",
                        "responsorial_psalm": "Salmo 103",
                        "second_reading": "",
                        "gospel_acclamation": "Mt 24, 42a.44",
                        "gospel": "Lc 12, 35-40"
                      },
                      "name": "Sancti Raimundi de Penyafort, presbyteri",
                      "missal": "VATICAN_1970"
                    }
                  },
                  "settings": {
                    "locale": "la",
                    "national_calendar": null,
                    "diocesan_calendar": null
                  }
                }
              }
            }
          },
          "304": {
            "description": "304 Not Modified"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable503"
          }
        }
      }
    },
    "/events/nation/{calendar_id}": {
      "get": {
        "tags": [
          "Liturgical events"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve all possible liturgical events from the given national calendar even if they won't appear in the Liturgical Calendar one year or the other; useful mostly for frontend select inputs to choose an `event_key` that corresponds with an actual liturgical event",
        "operationId": "retrieveEventsForNationalCalendarGET",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "in": "path",
            "name": "calendar_id",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "IT",
                "US",
                "NL",
                "VA",
                "CA"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK: A collection of all possible liturgical events that can be found in a liturgical calendar produced by the LitCal API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalAllFestivitiesResponse"
                },
                "example": {
                  "litcal_events": {
                    "StsBasilGreg": {
                      "month": 1,
                      "day": 2,
                      "event_key": "StsBasilGreg",
                      "grade": 3,
                      "common": [
                        "Proper"
                      ],
                      "calendar": "GENERAL ROMAN",
                      "color": [
                        "white"
                      ],
                      "readings": {
                        "first_reading": "Ef 4, 1-7.11-13",
                        "responsorial_psalm": "Salmo 23",
                        "second_reading": "",
                        "gospel_acclamation": "Mt 23, 9b.10b",
                        "gospel": "Mt 23, 8-12"
                      },
                      "name": "Sancti Basilii Magni et Gregorii Nazianzeni, episcoporum et Ecclesiæ doctorum",
                      "missal": "VATICAN_1970"
                    },
                    "StRayPenyafort": {
                      "month": 1,
                      "day": 7,
                      "event_key": "StRayPenyafort",
                      "grade": 2,
                      "common": [
                        "Pastors:For One Pastor"
                      ],
                      "calendar": "GENERAL ROMAN",
                      "color": [
                        "white"
                      ],
                      "readings": {
                        "first_reading": "2 Cor 5, 14-20",
                        "responsorial_psalm": "Salmo 103",
                        "second_reading": "",
                        "gospel_acclamation": "Mt 24, 42a.44",
                        "gospel": "Lc 12, 35-40"
                      },
                      "name": "Sancti Raimundi de Penyafort, presbyteri",
                      "missal": "VATICAN_1970"
                    }
                  },
                  "settings": {
                    "locale": "en",
                    "national_calendar": "US",
                    "diocesan_calendar": "boston_us"
                  }
                }
              }
            }
          },
          "304": {
            "description": "304 Not Modified"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable503"
          }
        }
      },
      "post": {
        "tags": [
          "Liturgical events"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve all possible liturgical events from the given national calendar even if they won't appear in the Liturgical Calendar one year or the other; useful mostly for frontend select inputs to choose an `event_key` that corresponds with an actual liturgical event",
        "operationId": "retrieveEventsForNationalCalendarPOST",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "in": "path",
            "name": "calendar_id",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "IT",
                "US",
                "NL",
                "VA",
                "CA"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK: A collection of all possible liturgical events that can be found in a liturgical calendar produced by the LitCal API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalAllFestivitiesResponse"
                },
                "example": {
                  "litcal_events": {
                    "StsBasilGreg": {
                      "month": 1,
                      "day": 2,
                      "event_key": "StsBasilGreg",
                      "grade": 3,
                      "common": [
                        "Proper"
                      ],
                      "calendar": "GENERAL ROMAN",
                      "color": [
                        "white"
                      ],
                      "readings": {
                        "first_reading": "Ef 4, 1-7.11-13",
                        "responsorial_psalm": "Salmo 23",
                        "second_reading": "",
                        "gospel_acclamation": "Mt 23, 9b.10b",
                        "gospel": "Mt 23, 8-12"
                      },
                      "name": "Sancti Basilii Magni et Gregorii Nazianzeni, episcoporum et Ecclesiæ doctorum",
                      "missal": "VATICAN_1970"
                    },
                    "StRayPenyafort": {
                      "month": 1,
                      "day": 7,
                      "event_key": "StRayPenyafort",
                      "grade": 2,
                      "common": [
                        "Pastors:For One Pastor"
                      ],
                      "calendar": "GENERAL ROMAN",
                      "color": [
                        "white"
                      ],
                      "readings": {
                        "first_reading": "2 Cor 5, 14-20",
                        "responsorial_psalm": "Salmo 103",
                        "second_reading": "",
                        "gospel_acclamation": "Mt 24, 42a.44",
                        "gospel": "Lc 12, 35-40"
                      },
                      "name": "Sancti Raimundi de Penyafort, presbyteri",
                      "missal": "VATICAN_1970"
                    }
                  },
                  "settings": {
                    "locale": "la",
                    "national_calendar": null,
                    "diocesan_calendar": null
                  }
                }
              }
            }
          },
          "304": {
            "description": "304 Not Modified"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable503"
          }
        }
      }
    },
    "/events/diocese/{calendar_id}": {
      "get": {
        "tags": [
          "Liturgical events"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve all possible liturgical events from the given diocesan calendar even if they won't appear in the Liturgical Calendar one year or the other; useful mostly for frontend select inputs to choose an `event_key` that corresponds with an actual liturgical event",
        "operationId": "retrieveEventsForDiocesanCalendarGET",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "in": "path",
            "name": "calendar_id",
            "required": true,
            "schema": {
              "$ref": "./CommonDef.json#/definitions/DiocesanCalendarId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK: A collection of all possible liturgical events that can be found in a liturgical calendar produced by the LitCal API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalAllFestivitiesResponse"
                },
                "example": {
                  "litcal_events": {
                    "StsBasilGreg": {
                      "month": 1,
                      "day": 2,
                      "event_key": "StsBasilGreg",
                      "grade": 3,
                      "common": [
                        "Proper"
                      ],
                      "calendar": "GENERAL ROMAN",
                      "color": [
                        "white"
                      ],
                      "readings": {
                        "first_reading": "Efesini 4, 1-7.11-13",
                        "responsorial_psalm": "Salmo 23",
                        "second_reading": "",
                        "gospel_acclamation": "Matteo 23, 9b.10b",
                        "gospel": "Matteo 23, 8-12"
                      },
                      "name": "Sancti Basilii Magni et Gregorii Nazianzeni, episcoporum et Ecclesiæ doctorum",
                      "missal": "VATICAN_1970"
                    },
                    "StRayPenyafort": {
                      "month": 1,
                      "day": 7,
                      "event_key": "StRayPenyafort",
                      "grade": 2,
                      "common": [
                        "Pastors:For One Pastor"
                      ],
                      "calendar": "GENERAL ROMAN",
                      "color": [
                        "white"
                      ],
                      "readings": {
                        "first_reading": "2 Corinzi 5, 14-20",
                        "responsorial_psalm": "Salmo 103",
                        "second_reading": "",
                        "gospel_acclamation": "Matteo 24, 42a.44",
                        "gospel": "Luca 12, 35-40"
                      },
                      "name": "Sancti Raimundi de Penyafort, presbyteri",
                      "missal": "VATICAN_1970"
                    }
                  },
                  "settings": {
                    "locale": "en",
                    "national_calendar": "US",
                    "diocesan_calendar": "boston_us"
                  }
                }
              }
            }
          },
          "304": {
            "description": "304 Not Modified"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable503"
          }
        }
      },
      "post": {
        "tags": [
          "Liturgical events"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve all possible liturgical events from the given diocesan calendar even if they won't appear in the Liturgical Calendar one year or the other; useful mostly for frontend select inputs to choose an `event_key` that corresponds with an actual liturgical event",
        "operationId": "retrieveEventsForDiocesanCalendarPOST",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguageHeader"
          },
          {
            "in": "path",
            "name": "calendar_id",
            "required": true,
            "schema": {
              "$ref": "./CommonDef.json#/definitions/DiocesanCalendarId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK: A collection of all possible liturgical events that can be found in a liturgical calendar produced by the LitCal API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalAllFestivitiesResponse"
                },
                "example": {
                  "litcal_events": {
                    "StsBasilGreg": {
                      "month": 1,
                      "day": 2,
                      "event_key": "StsBasilGreg",
                      "grade": 3,
                      "common": [
                        "Proper"
                      ],
                      "calendar": "GENERAL ROMAN",
                      "color": [
                        "white"
                      ],
                      "readings": {
                        "first_reading": "Ef 4, 1-7.11-13",
                        "responsorial_psalm": "Salmo 23",
                        "second_reading": "",
                        "gospel_acclamation": "Mt 23, 9b.10b",
                        "gospel": "Mt 23, 8-12"
                      },
                      "name": "Sancti Basilii Magni et Gregorii Nazianzeni, episcoporum et Ecclesiæ doctorum",
                      "missal": "VATICAN_1970"
                    },
                    "StRayPenyafort": {
                      "month": 1,
                      "day": 7,
                      "event_key": "StRayPenyafort",
                      "grade": 2,
                      "common": [
                        "Pastors:For One Pastor"
                      ],
                      "calendar": "GENERAL ROMAN",
                      "color": [
                        "white"
                      ],
                      "readings": {
                        "first_reading": "2 Cor 5, 14-20",
                        "responsorial_psalm": "Salmo 103",
                        "second_reading": "",
                        "gospel_acclamation": "Mt 24, 42a.44",
                        "gospel": "Lc 12, 35-40"
                      },
                      "name": "Sancti Raimundi de Penyafort, presbyteri",
                      "missal": "VATICAN_1970"
                    }
                  },
                  "settings": {
                    "locale": "la",
                    "national_calendar": null,
                    "diocesan_calendar": null
                  }
                }
              }
            }
          },
          "304": {
            "description": "304 Not Modified"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable503"
          }
        }
      }
    },
    "/data/nation": {
      "put": {
        "tags": [
          "Calendar Source Data"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ],
        "summary": "Create a national calendar data resource",
        "operationId": "nationalCalendarDataPUT",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./NationalCalendar.json"
              },
              "examples": {
                "ItalyNationalCalendar": {
                  "$ref": "#/components/examples/NationalCalendarRequestBody"
                },
                "USANationalCalendar": {
                  "$ref": "#/components/examples/NationalCalendarUSRequestBody"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201 Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "string",
                      "examples": [
                        "National calendar created or updated for nation {NATION}"
                      ]
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "409": {
            "$ref": "#/components/responses/Conflict409"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          }
        }
      }
    },
    "/data/widerregion": {
      "put": {
        "tags": [
          "Calendar Source Data"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ],
        "summary": "Create a wider region data resource",
        "operationId": "widerregionDataPUT",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./WiderRegionCalendar.json"
              },
              "examples": {
                "EuropeWiderRegion": {
                  "$ref": "#/components/examples/WiderRegionCalendarRequestBody"
                },
                "AsiaWiderRegion": {
                  "$ref": "#/components/examples/WiderRegionCalendarAsiaRequestBody"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201 Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "string",
                      "examples": [
                        "Wider region calendar created or updated for region {REGION}"
                      ]
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "409": {
            "$ref": "#/components/responses/Conflict409"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          }
        }
      }
    },
    "/data/diocese": {
      "put": {
        "tags": [
          "Calendar Source Data"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ],
        "summary": "Create a diocesan calendar data resource",
        "operationId": "diocesanDataPUT",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./DiocesanCalendar.json"
              },
              "examples": {
                "BostonDiocesan": {
                  "$ref": "#/components/examples/DiocesanCalendarRequestBody"
                },
                "RomeDiocesan": {
                  "$ref": "#/components/examples/DiocesanCalendarRomeRequestBody"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201 Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "string",
                      "examples": [
                        "Diocesan calendar created or updated for diocese {DIOCESE}"
                      ]
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "409": {
            "$ref": "#/components/responses/Conflict409"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          }
        }
      }
    },
    "/data/nation/{key}": {
      "get": {
        "tags": [
          "Calendar Source Data"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve a national calendar data resource",
        "operationId": "nationalDataGET",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "./CommonDef.json#/definitions/Nation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK: National calendar data resource retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./NationalCalendar.json"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          }
        }
      },
      "post": {
        "tags": [
          "Calendar Source Data"
        ],
        "security": [
          {}
        ],
        "summary": "Retrieve a national calendar data resource",
        "operationId": "nationalDataPOST",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "./CommonDef.json#/definitions/Nation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK: Regional calendar data resource (whether national, or diocesan, or wider region) retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./NationalCalendar.json"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          }
        }
      },
      "patch": {
        "tags": [
          "Calendar Source Data"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ],
        "summary": "Update a national calendar data resource",
        "operationId": "nationalDataPATCH",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{2,45}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./NationalCalendar.json"
              },
              "examples": {
                "ItalyNationalCalendar": {
                  "$ref": "#/components/examples/NationalCalendarRequestBody"
                },
                "USANationalCalendar": {
                  "$ref": "#/components/examples/NationalCalendarUSRequestBody"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201 Created. Even when updating an existing resource, we will still get the same 201 Created because we are basically overwriting the previous resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "string",
[...]
