/*
#APICalendarSelect > option {
    background-color: #effee9;
}

#APICalendarSelect > option:first-child {
    background-color: #fff;
}
*/
#APICalendarSelect > optgroup {
    background-color: #efefef;
}
#APICalendarSelect > optgroup > option {
    background-color: #fff;
}

#RequestURLExampleWrapper {
    background-color: #eee;
    border: 1px solid Gray;
    border-radius: 6px;
    padding: 12px;
}