.carousel .carousel-indicators li {
    background-color: rgba(70, 70, 70, 0.25);
  }
.carousel .carousel-indicators .active {
    background-color: #444;
}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
}

.carousel .carousel-control-prev-icon, .carousel .carousel-control-next-icon {
    background-color: rgba(70,70,120,.5);
    width: 30px;
    height: 30px;
}