{
  "openapi": "3.1.0",
  "servers": [
    {
      "description": "Liturgical Calendar API endpoint (development - unstable)",
      "url": "https://litcal.johnromanodorazio.com/api/dev"
    }
  ],
  "info": {
    "description": "An API which allows to retrieve data about the **Roman Calendar** for any given year, between 1970 and 9999. The data strives for historical accuracy (memorials and feast days are only generated from the year in which they were effectively introduced). The data is based on original sources (Roman Missals, Decrees of the Congregation for Divine Worship, Mysterii Paschalis, etc.), not on data copied or retrieved from online sources which may not be accurate. The API offers multiple locales and multiple calendars, from the **General Roman Calendar** to national or diocesan calendars.",
    "version": "3.9",
    "title": "Liturgical Calendar",
    "contact": {
      "email": "priest@johnromanodorazio.com",
      "name": "Rev. John R. D'Orazio"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "tags": [
    {
      "name": "Main API endpoint",
      "description": "Retrieve a liturgical calendar"
    },
    {
      "name": "Metadata API endpoint",
      "description": "Retrieve information about available calendars"
    },
    {
      "name": "Unit Test Index endpoint",
      "description": "Retrieve or create unit tests"
    },
    {
      "name": "All possible liturgical events endpoint",
      "description": "All liturgical events by key without the calendar calculation"
    },
    {
      "name": "RegionalData",
      "description": "Retrieve / create / update National, Diocesan or Wider Region calendars "
    },
    {
      "name": "Easter",
      "description": "dates of easter whether gregorian or julian from 1583 to 1999"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [{}],
        "summary": "Retrieve liturgical events for each day of a given year",
        "operationId": "retrieveCalendarGET",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year",
        "parameters": [
          {
            "in": "header",
            "name": "Accept-Language",
            "schema": {
              "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/CommonDef.json#/definitions/Locale"
            }
          },
          {
            "in": "query",
            "name": "parameters",
            "style": "form",
            "explode": true,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/GeneralRomanCalendarRequestBody"
                },
                {
                  "$ref": "#/components/schemas/NationalCalendarRequestBody"
                },
                {
                  "$ref": "#/components/schemas/DiocesanCalendarRequestBody"
                },
                {
                  "$ref": "#/components/schemas/GeneralRomanCalendarTranslatedRequestBody"
                }
              ]
            },
            "examples": {
              "GeneralRomanCalendar":
                {
                  "$ref": "#/components/examples/GeneralRomanCalendarRequestBody"
                },
              "NationalCalendar":
                {
                  "$ref": "#/components/examples/NationalCalendarRequestBody"
                },
              "DiocesanCalendar":
                {
                  "$ref": "#/components/examples/DiocesanCalendarRequestBody"
                },
              "GeneralRomanCalendarTranslated":
                {
                  "$ref": "#/components/examples/GeneralRomanCalendarTranslatedRequestBody"
                }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK: liturgical events for a given year according to the requested criteria",
            "headers": {
              "X-LitCal-Starttime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "High resolution timestamp in nanoseconds that indicates the start time of the calculation of the current liturgical calendar response"
              },
              "X-LitCal-Endtime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "High resolution timestamp in nanoseconds that indicates the end time of the calculation of the current liturgical calendar response"
              },
              "X-LitCal-Executiontime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "Total time in nanoseconds in which the calculation of the current liturgical calendar response was produced (difference between X-LitCal-Starttime and X-LitCal-Endtime, average is usually about 5ms!)"
              },
              "X-LitCal-Generated": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "Calculation",
                    "ClientCache",
                    "ServerCache"
                  ]
                },
                "description": "Indicates whether the current response was produced from: a fresh calculation since the response to the given request had not yet been calculated, or from client cache since the response has not changed since last request, or from server cache since the client had not yet made this same request but the calculation had already been done formerly on the server"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/LitCal.json#/definitions/LitCal"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/LitCal.json#/definitions/LitCal"
                }
              },
              "text/calendar": {
                "schema": {
                  "type": "string"
                },
                "example": "BEGIN:VCALENDAR\nPRODID:-//John Romano D'Orazio//Liturgical Calendar V1.0//EN\nVERSION:2.0\nCALSCALE:GREGORIAN\nMETHOD:PUBLISH\nX-MS-OLK-FORCEINSPECTOROPEN:FALSE\nX-WR-CALNAME:Roman Catholic Universal Liturgical Calendar LA\nX-WR-TIMEZONE:Europe/Vatican\nX-PUBLISHED-TTL:PT1D\nBEGIN:VEVENT\nCLASS:PUBLIC\nDTSTART;VALUE=DATE:20291231\nDTSTAMP:20240422T062620Z\nUID:c0e7126a841a70761e4057e58b5e2d52\nCREATED:\nDESCRIPTION:\\nSOLLEMNITAS\\nalbus\nLAST-MODIFIED:\nSUMMARY;LANGUAGE=la:SOLLEMNITAS SANCTÆ DEI GENITRICIS MARIÆ Missa in Vigi\n  lia\nTRANSP:TRANSPARENT\nX-MICROSOFT-CDO-ALLDAYEVENT:TRUE\nX-MICROSOFT-DISALLOW-COUNTER:TRUE\nX-ALT-DESC;FMTTYPE=text/html:<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.\n  2//EN\">\\n<HTML>\\n<BODY>\\n\\n<P DIR=LTR><BR><B>SOLLEMNITAS</B><BR><B><I><\n  SPAN LANG=la><FONT FACE=\"Calibri\" COLOR=\"#AAAAAA\">albus</FONT></SPAN></\n  I></B><BR>ANNUM B</P>\\n\\n</BODY>\\n</HTML>\nEND:VEVENT\nEND:VCALENDAR"
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalXML"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "description": "Bad Request: invalid parameters or malformed data in request body"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable: Accept header requests a response Content Type which this API cannot produce"
          },
          "415": {
            "description": "Unsupported Media Type: Content Type of request not valid"
          },
          "418": {
            "description": "I'm a teapot: request in this case must be an AJAX request, but AJAX request not detected"
          }
        }
      },
      "post": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [{}],
        "summary": "retrieves liturgical events for each day of the year",
        "operationId": "retrieveCalendarPOST",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year",
        "parameters": [
          {
            "in": "header",
            "name": "Accept-Language",
            "schema": {
              "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/CommonDef.json#/definitions/Locale"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveCalendarRequestBody"
              },
              "examples": {
                "GeneralRomanCalendar":
                  {
                    "$ref": "#/components/examples/GeneralRomanCalendarRequestBody"
                  },
                "NationalCalendar":
                  {
                    "$ref": "#/components/examples/NationalCalendarRequestBody"
                  },
                "DiocesanCalendar":
                  {
                    "$ref": "#/components/examples/DiocesanCalendarRequestBody"
                  },
                "GeneralRomanCalendarTranslated":
                  {
                    "$ref": "#/components/examples/GeneralRomanCalendarTranslatedRequestBody"
                  }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveCalendarRequestBody"
              },
              "examples": {
                "GeneralRomanCalendar":
                  {
                    "$ref": "#/components/examples/GeneralRomanCalendarRequestBody"
                  },
                "NationalCalendar":
                  {
                    "$ref": "#/components/examples/NationalCalendarRequestBody"
                  },
                "DiocesanCalendar":
                  {
                    "$ref": "#/components/examples/DiocesanCalendarRequestBody"
                  },
                "GeneralRomanCalendarTranslated":
                  {
                    "$ref": "#/components/examples/GeneralRomanCalendarTranslatedRequestBody"
                  }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK: liturgical events for a given year according to the requested criteria",
            "headers": {
              "X-LitCal-Starttime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "High resolution timestamp in nanoseconds that indicates the start time of the calculation of the current liturgical calendar response"
              },
              "X-LitCal-Endtime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "High resolution timestamp in nanoseconds that indicates the end time of the calculation of the current liturgical calendar response"
              },
              "X-LitCal-Executiontime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "Total time in nanoseconds in which the calculation of the current liturgical calendar response was produced (difference between X-LitCal-Starttime and X-LitCal-Endtime, average is usually about 5ms!)"
              },
              "X-LitCal-Generated": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "Calculation",
                    "ClientCache",
                    "ServerCache"
                  ]
                },
                "description": "Indicates whether the current response was produced from: a fresh calculation since the response to the given request had not yet been calculated, or from client cache since the response has not changed since last request, or from server cache since the client had not yet made this same request but the calculation had already been done formerly on the server"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/LitCal.json#/definitions/LitCal"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/LitCal.json#/definitions/LitCal"
                }
              },
              "text/calendar": {
                "schema": {
                  "type": "string"
                },
                "example": "BEGIN:VCALENDAR\nPRODID:-//John Romano D'Orazio//Liturgical Calendar V1.0//EN\nVERSION:2.0\nCALSCALE:GREGORIAN\nMETHOD:PUBLISH\nX-MS-OLK-FORCEINSPECTOROPEN:FALSE\nX-WR-CALNAME:Roman Catholic Universal Liturgical Calendar LA\nX-WR-TIMEZONE:Europe/Vatican\nX-PUBLISHED-TTL:PT1D\nBEGIN:VEVENT\nCLASS:PUBLIC\nDTSTART;VALUE=DATE:20291231\nDTSTAMP:20240422T062620Z\nUID:c0e7126a841a70761e4057e58b5e2d52\nCREATED:\nDESCRIPTION:\\nSOLLEMNITAS\\nalbus\nLAST-MODIFIED:\nSUMMARY;LANGUAGE=la:SOLLEMNITAS SANCTÆ DEI GENITRICIS MARIÆ Missa in Vigi\n  lia\nTRANSP:TRANSPARENT\nX-MICROSOFT-CDO-ALLDAYEVENT:TRUE\nX-MICROSOFT-DISALLOW-COUNTER:TRUE\nX-ALT-DESC;FMTTYPE=text/html:<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.\n  2//EN\">\\n<HTML>\\n<BODY>\\n\\n<P DIR=LTR><BR><B>SOLLEMNITAS</B><BR><B><I><\n  SPAN LANG=la><FONT FACE=\"Calibri\" COLOR=\"#AAAAAA\">albus</FONT></SPAN></\n  I></B><BR>ANNUM B</P>\\n\\n</BODY>\\n</HTML>\nEND:VEVENT\nEND:VCALENDAR"
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalXML"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "description": "Bad Request: invalid parameters or malformed data in request body"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable: Accept header requests a response Content Type which this API cannot produce"
          },
          "415": {
            "description": "Unsupported Media Type: Content Type of request not valid"
          },
          "418": {
            "description": "I'm a teapot: request in this case must be an AJAX request, but AJAX request not detected"
          }
        }
      }
    },
    "/metadata": {
      "get": {
        "tags": [
          "Metadata API endpoint"
        ],
        "security": [{}],
        "summary": "gives information about current supported national and diocesan calendars and relative locales",
        "operationId": "retrieveMetadataGET",
        "responses": {
          "200": {
            "description": "OK: An index of currently supported national and diocesan calendars and relative locales",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalMetadata"
                }
              }
            }
          },
          "304": {
            "description": "304 Not Modified"
          },
          "404": {
            "description": "404 Not Found: index file resource not found"
          },
          "503": {
            "description": "503 Service Unavailable: could not read index file resource"
          }
        }
      },
      "post": {
        "tags": [
          "Metadata API endpoint"
        ],
        "security": [{}],
        "summary": "gives information about current supported national and diocesan calendars and relative locales",
        "operationId": "retrieveMetadataPOST",
        "responses": {
          "200": {
            "description": "OK: An index of currently supported national and diocesan calendars and relative locales",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalMetadata"
                }
              }
            }
          },
          "304": {
            "description": "304 Not Modified"
          },
          "404": {
            "description": "404 Not Found: index file resource not found"
          },
          "503": {
            "description": "503 Service Unavailable: could not read index file resource"
          }
        }
      }
    },
    "/testsindex": {
      "get": {
        "tags": [
          "Unit Test Index endpoint"
        ],
        "security": [{}],
        "summary": "retrieves all the unit tests defined in the API `tests` folder and serves an index useful for frontend processing",
        "operationId": "retrieveTestIndexGET",
        "responses": {
          "200": {
            "description": "OK: An index of currently defined Unit Tests useful for guaranteeing the health of the API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnitTestArray"
                },
                "example": [
                  {
                    "name": "MaryMotherChurchTest",
                    "eventkey": "MaryMotherChurch",
                    "description": "The memorial 'Mary Mother of the Church' was added in 2018 by Decree of the Congregation for Divine Worship on the Monday after Pentecost",
                    "testType": "exactCorrespondenceSince",
                    "yearSince": 2018,
                    "assertions": [
                      {
                        "year": 2017,
                        "expectedValue": null,
                        "assert": "eventNotExists",
                        "assertion": "The memorial 'Mary Mother of the Church' should not exist before the year 2018"
                      },
                      {
                        "year": 2018,
                        "expectedValue": 1526860800,
                        "assert": "eventExists AND hasExpectedTimestamp",
                        "assertion": "The memorial 'Mary Mother of the Church' should be created on the expected date"
                      },
                      {
                        "year": 2019,
                        "expectedValue": 1560124800,
                        "assert": "eventExists AND hasExpectedTimestamp",
                        "assertion": "The memorial 'Mary Mother of the Church' should be created on the expected date"
                      }
                    ]
                  },
                  {
                    "name": "NativityJohnBaptistTest",
                    "eventkey": "NativityJohnBaptist",
                    "description": "When the Nativity of John the Baptist coincides with the Solemnity of the Sacred Heart, is it correctly moved to June 23?",
                    "testType": "exactCorrespondence",
                    "assertions": [
                      {
                        "year": 2022,
                        "expectedValue": 1655942400,
                        "assert": "eventExists AND hasExpectedTimestamp",
                        "assertion": "Nativity of John the Baptist should be moved to June 23"
                      },
                      {
                        "year": 2033,
                        "expectedValue": 2003097600,
                        "assert": "eventExists AND hasExpectedTimestamp",
                        "assertion": "Nativity of John the Baptist should be moved to June 23"
                      },
                      {
                        "year": 2044,
                        "expectedValue": 2350252800,
                        "assert": "eventExists AND hasExpectedTimestamp",
                        "assertion": "Nativity of John the Baptist should be moved to June 23"
                      }
                    ]
                  },
                  {
                    "name": "PrayerUnbornTest",
                    "eventkey": "PrayerUnborn",
                    "description": "USA: The National Day of Prayer for the Unborn is set to Jan 22 as per the 2011 Roman Missal issued by the USCCB, however if it coincides with a Sunday or a Solemnity, it should be moved to Jan 23",
                    "testType": "exactCorrespondenceSince",
                    "yearSince": 2011,
                    "appliesTo": {
                      "nationalcalendar": "USA"
                    },
                    "assertions": [
                      {
                        "year": 2010,
                        "expectedValue": null,
                        "assert": "eventNotExists",
                        "assertion": "should not exist before 2011"
                      },
                      {
                        "year": 2011,
                        "expectedValue": 1295654400,
                        "assert": "eventExists AND hasExpectedTimestamp",
                        "assertion": "should fall on expected date January 22"
                      },
                      {
                        "year": 2012,
                        "expectedValue": 1327276800,
                        "assert": "eventExists AND hasExpectedTimestamp",
                        "assertion": "should fall on expected date January 23",
                        "comment": "this test is significant since January 22nd falls on a Sunday, so the National Day of Prayer for the Unborn should have been moved to January 23rd"
                      },
                      {
                        "year": 2045,
                        "expectedValue": 2368742400,
                        "assert": "eventExists AND hasExpectedTimestamp",
                        "assertion": "should fall on expected date January 23",
                        "comment": "this test is significant since January 22nd falls on a Sunday, so the National Day of Prayer for the Unborn should have been moved to January 23rd"
                      }
                    ]
                  },
                  {
                    "name": "StJaneFrancesDeChantalTest",
                    "eventkey": "StJaneFrancesDeChantal",
                    "description": "Saint Jane Frances de Chantal was moved from December 12 to August 12 in the 2002 Latin Edition of the Roman Missal, to allow bishops conferences to insert Our Lady of Guadalupe as an optional memorial on December 12. DOES ST JANE FRANCES DE CHANTAL FALL ON THE RIGHT DAY BOTH BEFORE AND AFTER 2002, OR IT CORRECTLY OVERRIDEN BY GREATER FESTIVITIES?",
                    "testType": "variableCorrespondence",
                    "assertions": [
                      {
                        "year": 2001,
                        "expectedValue": 1008115200,
                        "assert": "eventExists AND hasExpectedTimestamp",
                        "assertion": "should fall on expected date December 12"
                      },
                      {
                        "year": 2002,
                        "expectedValue": 1029110400,
                        "assert": "eventExists AND hasExpectedTimestamp",
                        "assertion": "should fall on expected date August 12"
                      },
                      {
                        "year": 2010,
                        "expectedValue": 1281571200,
                        "assert": "eventExists AND hasExpectedTimestamp",
                        "assertion": "should fall on expected date August 12",
                        "comment": "this test is significant since December 12th falls on a Sunday, so the memorial would have been suppressed if it hadn't been moved"
                      },
                      {
                        "year": 1971,
                        "expectedValue": null,
                        "assert": "eventNotExists",
                        "assertion": "should not exist, December 12th is a Sunday"
                      }
                    ]
                  }
                ]
              }
            }
          },
          "404": {
            "description": "404 Not Found: tests folder path could not be opened",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "ERROR"
                    },
                    "response": {
                      "type": "string",
                      "const": "Resource not Found"
                    },
                    "description": {
                      "type": "string",
                      "const": "Tests folder path cannot be opened"
                    }
                  },
                  "required": [ "status", "response", "description" ]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Unit Test Index endpoint"
        ],
        "security": [{}],
        "summary": "create a new unit test in the API `tests` folder",
        "operationId": "testsIndexPUT",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ExactOrVariableCorrespondenceUnitTest"
                  },
                  {
                    "$ref": "#/components/schemas/ExactCorrespondenceSinceUnitTest"
                  },
                  {
                    "$ref": "#/components/schemas/ExactCorrespondenceUntilUnitTest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201 Created. Even when updating an existing resource, we will still get the same 201 Created because we are basically overwriting the previous resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "OK"
                    },
                    "response": {
                      "type": "string",
                      "const": "Resource Created"
                    }
                  },
                  "required": [
                    "status",
                    "response"
                  ]
                }
              }
            }
          },
          "405": {
            "description": "405 Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "ERROR"
                    },
                    "response": {
                      "type": "string",
                      "const": "Resource not Created"
                    },
                    "description": {
                      "type": "string",
                      "const": "This endpoint can only accept requests utilizing methods GET or PUT"
                    }
                  },
                  "required": [
                    "status",
                    "response",
                    "description"
                  ]
                }
              }
            }
          },
          "415": {
            "description": "415 Unsupported Media Type: This endpoint can only handle PUT requests with Content Type application/json",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "ERROR"
                    },
                    "response": {
                      "type": "string",
                      "const": "Resource not Created"
                    },
                    "description": {
                      "type": "string",
                      "example": "This endpoint can only handle PUT requests with Content Type application/json, instead the request had a Content Type of {CONTENT TYPE}"
                    }
                  },
                  "required": [
                    "status",
                    "response",
                    "description"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity. The request body content is not valid JSON or does not conform to it's defined schema",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "ERROR"
                    },
                    "response": {
                      "type": "string",
                      "const": "Resource not Created"
                    },
                    "description": {
                      "type": "string",
                      "examples": [
                        "The Unit Test you are attempting to create was not valid JSON",
                        "The Unit Test you are attempting to create was incorrectly validated against schema {SCHEMA}: {ERROR MESSAGE}"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "response",
                    "description"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "503 Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "ERROR"
                    },
                    "response": {
                      "type": "string",
                      "const": "Resource not Created"
                    },
                    "description": {
                      "type": "string",
                      "examples": [
                        "The server errored out while attempting to process your request; this a server error, not an error in the request. Please report the incident to the system administrator.",
                        "The server did not succeed in writing to disk the Unit Test. Please try again later or contact the service administrator for support."
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "response",
                    "description"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/events": {
      "get": {
        "tags": [
          "All possible liturgical events endpoint"
        ],
        "security": [{}],
        "summary": "retrieves all possible liturgical events that may or may not appear in the Liturgical Calendar for any given year, based on the calculations done by the LitCal API; useful mostly for frontend select inputs to choose an `eventkey` that corresponds with an actual liturgical event",
        "operationId": "retrieveEventsGET",
        "parameters": [
          {
            "in": "header",
            "name": "Accept-Language",
            "schema": {
              "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/CommonDef.json#/definitions/Locale"
            }
          },
          {
            "in": "query",
            "name": "settings",
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/EventsRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK: A collection of all possible liturgical events that can be found in a liturgical calendar produced by the LitCal API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalAllFestivitiesResponse"
                },
                "example": {
                  "LitCalAllFestivities": {
                    "StsBasilGreg": {
                      "MONTH": 1,
                      "DAY": 2,
                      "TAG": "StsBasilGreg",
                      "GRADE": 3,
                      "COMMON": [
                        "Proper"
                      ],
                      "CALENDAR": "GENERAL ROMAN",
                      "COLOR": [
                        "white"
                      ],
                      "READINGS": {
                        "FIRST_READING": "Ef 4, 1-7.11-13",
                        "RESPONSORIAL_PSALM": "Salmo 23",
                        "SECOND_READING": "",
                        "ALLELUIA_VERSE": "Mt 23, 9b.10b",
                        "GOSPEL": "Mt 23, 8-12"
                      },
                      "NAME": "Sancti Basilii Magni et Gregorii Nazianzeni, episcoporum et Ecclesiæ doctorum",
                      "MISSAL": "VATICAN_1970"
                    },
                    "StRayPenyafort": {
                      "MONTH": 1,
                      "DAY": 7,
                      "TAG": "StRayPenyafort",
                      "GRADE": 2,
                      "COMMON": [
                        "Pastors:For One Pastor"
                      ],
                      "CALENDAR": "GENERAL ROMAN",
                      "COLOR": [
                        "white"
                      ],
                      "READINGS": {
                        "FIRST_READING": "2 Cor 5, 14-20",
                        "RESPONSORIAL_PSALM": "Salmo 103",
                        "SECOND_READING": "",
                        "ALLELUIA_VERSE": "Mt 24, 42a.44",
                        "GOSPEL": "Lc 12, 35-40"
                      },
                      "NAME": "Sancti Raimundi de Penyafort, presbyteri",
                      "MISSAL": "VATICAN_1970"
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": "304 Not Modified"
          },
          "404": {
            "description": "404 Not Found: resource file not found"
          },
          "503": {
            "description": "503 Service Unavailable: could not decode resource files"
          }
        }
      },
      "post": {
        "tags": [
          "All possible liturgical events endpoint"
        ],
        "security": [{}],
        "summary": "retrieves all possible liturgical events that may or may not appear in the Liturgical Calendar for any given year, based on the calculations done by the LitCal API; useful mostly for frontend select inputs to choose an `eventkey` that corresponds with an actual liturgical event",
        "operationId": "retrieveEventsPOST",
        "parameters": [
          {
            "in": "header",
            "name": "Accept-Language",
            "schema": {
              "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/CommonDef.json#/definitions/Locale"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/EventsRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK: A collection of all possible liturgical events that can be found in a liturgical calendar produced by the LitCal API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalAllFestivitiesResponse"
                },
                "example": {
                  "LitCalAllFestivities": {
                    "StsBasilGreg": {
                      "MONTH": 1,
                      "DAY": 2,
                      "TAG": "StsBasilGreg",
                      "GRADE": 3,
                      "COMMON": [
                        "Proper"
                      ],
                      "CALENDAR": "GENERAL ROMAN",
                      "COLOR": [
                        "white"
                      ],
                      "READINGS": {
                        "FIRST_READING": "Ef 4, 1-7.11-13",
                        "RESPONSORIAL_PSALM": "Salmo 23",
                        "SECOND_READING": "",
                        "ALLELUIA_VERSE": "Mt 23, 9b.10b",
                        "GOSPEL": "Mt 23, 8-12"
                      },
                      "NAME": "Sancti Basilii Magni et Gregorii Nazianzeni, episcoporum et Ecclesiæ doctorum",
                      "MISSAL": "VATICAN_1970"
                    },
                    "StRayPenyafort": {
                      "MONTH": 1,
                      "DAY": 7,
                      "TAG": "StRayPenyafort",
                      "GRADE": 2,
                      "COMMON": [
                        "Pastors:For One Pastor"
                      ],
                      "CALENDAR": "GENERAL ROMAN",
                      "COLOR": [
                        "white"
                      ],
                      "READINGS": {
                        "FIRST_READING": "2 Cor 5, 14-20",
                        "RESPONSORIAL_PSALM": "Salmo 103",
                        "SECOND_READING": "",
                        "ALLELUIA_VERSE": "Mt 24, 42a.44",
                        "GOSPEL": "Lc 12, 35-40"
                      },
                      "NAME": "Sancti Raimundi de Penyafort, presbyteri",
                      "MISSAL": "VATICAN_1970"
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": "304 Not Modified"
          },
          "404": {
            "description": "404 Not Found: resource file not found"
          },
          "503": {
            "description": "503 Service Unavailable: could not decode resource files"
          }
        }
      }
    },
    "/regionaldata": {
      "get": {
        "tags": [
          "RegionalData"
        ],
        "security": [{}],
        "summary": "retrieve a national calendar, diocesan calendar, or wider region calendar data resource",
        "operationId": "regionalDataGET",
        "parameters": [
          {
            "in": "query",
            "name": "category",
            "schema": {
              "type": "string",
              "enum": [
                "nationalCalendar",
                "diocesanCalendar",
                "widerRegionCalendar"
              ],
              "examples": [
                "diocesanCalendar",
                "nationalCalendar",
                "widerRegionCalendar"
              ]
            },
            "required": true
          },
          {
            "in": "query",
            "name": "key",
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{3,45}$",
              "examples": [
                "DIOCESIDIROMA",
                "NETHERLANDS",
                "AMERICAS"
              ]
            },
            "description": "national, diocesan or wider region calendar name as a normalized uppercase key without spaces or any non alphabetic characters",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK: Regional calendar data resource (whether national, or diocesan, or wider region) retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NationalDiocesanWiderRegionCalendar"
                }
              }
            }
          },
          "400": {
            "description": "400 Bad Request: missing required parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                },
                "example": {
                  "error": "Missing required parameter(s) `category` and `key`"
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found: the requested national or diocesan or wider region data resource was not found on the server",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                },
                "example": {
                  "message": "file nations/USA/Archdiocese of Milwaukee (Wisconsin).json does not exist"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "RegionalData"
        ],
        "security": [{}],
        "summary": "retrieve a national calendar, diocesan calendar, or wider region calendar data resource",
        "operationId": "regionalDataPOST",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "category": {
                    "type": "string",
                    "enum": [
                      "nationalCalendar",
                      "diocesanCalendar",
                      "widerRegionCalendar"
                    ],
                    "example": "diocesanCalendar"
                  },
                  "key": {
                    "type": "string",
                    "pattern": "^[A-Z]{3,45}$",
                    "example": "DIOCESIDIROMA",
                    "description": "national, diocesan, or wider region calendar name as a normalized uppercase key without spaces or any non alphabetic characters"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK: Regional calendar data resource (whether national, or diocesan, or wider region) retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NationalDiocesanWiderRegionCalendar"
                }
              }
            }
          },
          "400": {
            "description": "400 Bad Request: missing required parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                },
                "example": {
                  "error": "Missing required parameter(s) `category` and `key`"
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found: the requested national or diocesan or wider region data resource was not found on the server",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                },
                "example": {
                  "message": "file nations/USA/Archdiocese of Milwaukee (Wisconsin).json does not exist"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "RegionalData"
        ],
        "security": [{}],
        "summary": "create a national calendar, diocesan calendar, or wider region calendar data resource",
        "operationId": "regionalDataPUT",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NationalDiocesanWiderRegionCalendar"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201 Created. Even when updating an existing resource, we will still get the same 201 Created because we are basically overwriting the previous resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "string",
                      "examples": [
                        "National calendar created or updated for nation {NATION}",
                        "Wider region calendar created or updated for region {REGION}",
                        "Diocesan calendar created or updated for diocese {DIOCESE}"
                      ]
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400 Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string",
                      "examples": [
                        "Not all required parameters were received (LitCal, Metadata, Settings|NationalCalendars OR LitCal, Diocese, Nation)",
                        "Malformed data received in <LitCal> parameters"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity. The request body does not conform to it's defined schema",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "the error message will contain the reason for which the request body does not conform to it's defined schema"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "RegionalData"
        ],
        "security": [{}],
        "summary": "update a national calendar, diocesan calendar, or wider region calendar data resource",
        "operationId": "regionalDataPATCH",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NationalDiocesanWiderRegionCalendar"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201 Created. Even when updating an existing resource, we will still get the same 201 Created because we are basically overwriting the previous resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "string",
                      "examples": [
                        "National calendar created or updated for nation {NATION}",
                        "Wider region calendar created or updated for region {REGION}",
                        "Diocesan calendar created or updated for diocese {DIOCESE}"
                      ]
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400 Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string",
                      "examples": [
                        "Not all required parameters were received (LitCal, Metadata, Settings|NationalCalendars OR LitCal, Diocese, Nation)",
                        "Malformed data received in <LitCal> parameters"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity. The request body does not conform to it's defined schema",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "the error message will contain the reason for which the request body does not conform to it's defined schema"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "RegionalData"
        ],
        "security": [{}],
        "summary": "delete a diocesan calendar data resource (national calendar and wider region calendar deletion not currently supported)",
        "operationId": "regionalDataDELETE",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "LitCal": {
                    "type": "string",
                    "pattern": "^[A-Z]{3,45}$",
                    "description": "Normalized name of the diocese for which calendar data should be deleted; only uppercase characters (no spaces, hyphens, apostrophes, or non alphabetic characters of any kind)"
                  },
                  "Diocese": {
                    "type": "string",
                    "description": "Name of the diocese for which calendar data should be deleted; this should be the exact name of the resource file with extension `.json`. Spaces, hyphens, apostrophes and non alphabetic characters allowed"
                  },
                  "Nation": {
                    "type": "string",
                    "pattern": "^[A-Z]{3,45}$",
                    "description": "Uppercase English name of the nation to which the diocesan calendar to be deleted belongs"
                  },
                  "category": {
                    "type": "string",
                    "const": "diocesanCalendar"
                  }
                },
                "required": [
                  "LitCal",
                  "Diocese",
                  "Nation",
                  "category"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK: the resource was successfully deleted from the server",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "success": {
                      "type": "string",
                      "example": "Diocesan calendar {DIOCESE} deleted from nation {NATION}"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400 Bad Request: missing required parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string",
                      "const": "Required parameters were not received"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found: the resource requested for deletion was not found on this server",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string",
                      "const": "The resource requested for deletion was not found on this server"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/easter": {
      "get": {
        "tags": [
          "Easter"
        ],
        "security": [{}],
        "summary": "retrieve the date of Easter, both gregorian and julian, for the years 1583 to 1999",
        "operationId": "easterGET",
        "parameters": [
          {
            "in": "query",
            "name": "locale",
            "schema": {
              "type": "string",
              "enum": [
                "de",
                "en",
                "es",
                "fr",
                "it",
                "pt",
                "la",
                "nl"
              ]
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "dates of easter whether gregorian or julian from 1583 to 1999",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "EasterDates": {
                      "type": "array",
                      "description": "will contain exactly 8417 items, however cannot define so in schema otherwise it will generate 8417 example items!",
                      "items": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "gregorianEaster": {
                            "type": "integer",
                            "format": "int64",
                            "minimum": -12204000000,
                            "maximum": 253378195200
                          },
                          "julianEaster": {
                            "type": "integer",
                            "format": "int64",
                            "minimum": -12204864000,
                            "maximum": 253379750400
                          },
                          "westernJulianEaster": {
                            "type": "integer",
                            "format": "int64",
                            "minimum": -12204000000,
                            "maximum": 253386057600
                          },
                          "coinciding": {
                            "type": "boolean"
                          },
                          "gregorianDateString": {
                            "type": "string"
                          },
                          "julianDateString": {
                            "type": "string"
                          },
                          "westernJulianDateString": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "lastCoincidenceString": {
                      "type": "string",
                      "const": "Sunday, April 24th, 2698"
                    },
                    "lastCoincidence": {
                      "type": "integer",
                      "const": 22983264000
                    }
                  }
                },
                "example": {
                  "EasterDates": [
                    {
                      "gregorianEaster": -12204000000,
                      "julianEaster": -12204864000,
                      "westernJulianEaster": -12204000000,
                      "coinciding": true,
                      "gregorianDateString": "string",
                      "julianDateString": "string",
                      "westernJulianDateString": "string"
                    },
                    {
                      "gregorianEaster": -12204000000,
                      "julianEaster": -12204864000,
                      "westernJulianEaster": -12204000000,
                      "coinciding": true,
                      "gregorianDateString": "string",
                      "julianDateString": "string",
                      "westernJulianDateString": "string"
                    }
                  ]
                }
              }
            }
          },
          "405": {
            "description": "405 Method Not Allowed: this endpoint will only accept GET requests"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LitCalXML": {
        "type": "object",
        "properties": {
          "LitCal": {
            "type": "object",
            "description": "the liturgical events that make up the requested Liturgical Calendar for the given year",
            "properties": {
              "LitCalEvent": {
                "type": "object",
                "description": "a liturgical event",
                "properties": {
                  "eventkey": {
                    "type": "string",
                    "examples": [
                      "StsBasilGreg"
                    ],
                    "xml": {
                      "attribute": true
                    }
                  },
                  "name": {
                    "type": "string",
                    "description": "the name of the Liturgical Event, localized according to the requested locale or the requested calendar (will be in English for the national USA calendar, Italian for the national Italian calendar, etc.)",
                    "examples": [
                      "Saints Basil the Great and Gregory Nazianzen, bishops and doctors"
                    ]
                  },
                  "color": {
                    "type": "object",
                    "description": "the liturgical color used for the current liturgical event. The color name is CSS ready, therefore it will always be in English. For display in other locales, the ***colorLcl*** element can be used",
                    "properties": {
                      "option": {
                        "type": "string",
                        "enum": [
                          "green",
                          "red",
                          "white",
                          "purple",
                          "pink"
                        ],
                        "examples": [
                          "green",
                          "red",
                          "white",
                          "purple",
                          "pink"
                        ]
                      },
                      "idx": {
                        "type": "integer",
                        "xml": {
                          "attribute": true
                        }
                      }
                    }
                  },
                  "colorLcl": {
                    "type": "object",
                    "description": "the liturgical color used for the current liturgical event, localized according to the current requested locale",
                    "properties": {
                      "option": {
                        "type": "string",
                        "examples": [
                          "verde",
                          "rosso",
                          "bianco",
                          "viola",
                          "rosa"
                        ]
                      },
                      "idx": {
                        "type": "integer",
                        "xml": {
                          "attribute": true
                        }
                      }
                    }
                  },
                  "type": {
                    "type": "string",
                    "description": "whether the liturgical event is a fixed or a mobile festivity",
                    "enum": [
                      "fixed",
                      "mobile"
                    ],
                    "examples": [
                      "fixed",
                      "mobile"
                    ]
                  },
                  "grade": {
                    "description": "The logical importance of the celebration, represented as a number from 0 to 7, used to calculate precedence compared to other possible events. The importance or precedence value will determine whether one event may suppress another event or have it moved to the next possible open slot according to certain criteria. A general association with liturgical terminology would be as follows * 0 = WEEKDAY * 1 = COMMEMORATION * 2 = OPTIONAL MEMORIAL * 3 = MEMORIAL * 4 = FEAST * 5 = FEAST OF THE LORD * 6 = SOLEMNITY * 7 = event that has precedence over a solemnity However this association is not suitable for displaying the actual *grade* (or *rank*) of the festivity in liturgical terms, because some events have a logical importance that does not correspond with their portrayed grade, for example \"All Souls Day\" is called a \"Commemoration\" and yet it is given the same importance as a solemnity. Thus \"All Souls Day\" will have a grade of 6, but should be displayed as \"Commemoration\" rather than as \"Solemnity\". Therefore the ***displayGrade*** property should be checked first, and if empty then the above indicated association should be valid and can be used",
                    "type": "integer",
                    "format": "int32",
                    "enum": [
                      0,
                      1,
                      2,
                      3,
                      4,
                      5,
                      6,
                      7
                    ],
                    "examples": [
                      0,
                      1,
                      2,
                      3,
                      4,
                      5,
                      6,
                      7
                    ]
                  },
                  "gradeLcl": {
                    "description": "The logical importance of the celebration, represented in human readable form and localized according to the current requested locale",
                    "type": "string",
                    "examples": [
                      "weekday",
                      "Feast",
                      "SOLEMNITY"
                    ]
                  },
                  "displayGrade": {
                    "type": "string",
                    "description": "will often be empty, in which case the ***grade*** or ***gradeLcl*** properties can be used, for the purpose of displaying the rank of the current liturgical event. If non empty, will contain the localized rank of the liturgical event and should be used instead of the ***grade*** or ***gradeLcl*** properties for display purposes"
                  },
                  "common": {
                    "type": "object",
                    "description": "if the current liturgical event commemorates a saint, this value if non empty will indicate whether the readings are to be taken from the Proper of Saints (in which case it will have a value of \"Proper\") or from one of the Commons. In the latter case, if there is more than one possible common, the multiple possible commons will be listed as a comma separated list. Each common can be further specified by a particular category, in which case the specific category within the common will be separated from the common by a colon. Since we are dealing with a logical data structure the values are not localized, localization should be handled by the requesting application",
                    "properties": {
                      "option": {
                        "type": "string",
                        "examples": [
                          "Proper",
                          "Martyrs"
                        ]
                      },
                      "idx": {
                        "type": "integer",
                        "xml": {
                          "attribute": true
                        }
                      }
                    }
                  },
                  "commonLcl": {
                    "type": "string",
                    "description": "human readable form of the ***common***, localized according to the current requested locale",
                    "examples": [
                      "Proprio",
                      "Martiri"
                    ]
                  },
                  "date": {
                    "type": "integer",
                    "format": "int64",
                    "description": "a PHP style unix timestamp (seconds from the Unix Epoch) in UTC time. The time should be a zero value seeing that we deal only with all day events, and time is not of importance. For use in Javascript, multiply this value by 1000, because Javascript uses milliseconds as a base for timestamps, whereas PHP uses seconds. The timestamp value should be dealt with accordingly in each programming language used, as is if the language uses seconds as a base, or multiplying by 1000 if it uses milliseconds as a base.",
                    "minimum": -2851200,
                    "maximum": 253402300799,
                    "examples": [
                      1577923200
                    ]
                  },
                  "eventIdx": {
                    "type": "integer",
                    "format": "int32",
                    "description": "progressive index, one for each liturgical event. Not really very useful. The ***eventkey*** attribute that identifies the liturgical event is more useful.",
                    "examples": [
                      157
                    ]
                  },
                  "liturgicalYear": {
                    "type": "string",
                    "description": "description of the liturgical cycle localized according to the requested locale (or national calendar). This property will only be present for events where it is applicable (Sundays or weekdays of Ordinary Time, Solemnities, Feasts of the Lord, in practice those liturgical events the texts of which are based on the liturgical cycle). When present, it will have a localized value of `YEAR A`, `YEAR B`, or `YEAR C` for festive events or a value of `YEAR I`, `YEAR II` for weekday events (whereas if an application makes a request for the Italian language or the national Italian calendar, the values will contain `ANNO` instead of `YEAR`, and likewise for any localization requested).",
                    "examples": [
                      "YEAR I",
                      "YEAR II",
                      "YEAR A",
                      "YEAR B",
                      "YEAR C"
                    ]
                  },
                  "liturgicalSeason": {
                    "type": "string",
                    "enum": [
                      "ORDINARY_TIME",
                      "ADVENT",
                      "CHRISTMAS",
                      "LENT",
                      "EASTER_TRIDUUM",
                      "EASTER"
                    ],
                    "description": "Liturgical season that the current liturgical event falls in. Is not present for Vigil Mass events, however in this case it can be retrieved from the 'parent' event using the `isVigilFor` property"
                  },
                  "dayOfTheWeek_ISO8601": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 7,
                    "description": "ISO 8601 representation of the day of the week, 1 for Monday, 7 for Sunday"
                  },
                  "month": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 12,
                    "description": "Numeric representation of the month of the current liturgical event, 1 for January, 12 for December"
                  },
                  "day": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 31,
                    "description": "Numeric representation of the day of the month of the current liturgical event"
                  },
                  "year": {
                    "type": "integer",
                    "minimum": 1970,
                    "maximum": 9999,
                    "description": "Year of the current liturgical event"
                  },
                  "hasVigilMass": {
                    "type": "boolean",
                    "description": "present for applicable events such as Solemnities or Sundays. Will have a boolean value of `true` if the expected Vigil Mass is confirmed, and of `false` if the expected Vigil Mass is superseded by another liturgical event. Sometimes this will be established from year to year for specific coincidences by the Congregation for Divine Worship.",
                    "examples": [
                      0,
                      1
                    ]
                  },
                  "hasVesperI": {
                    "type": "boolean",
                    "description": "present for applicable events such as Solemnities or Sundays. Will have a boolean value of `true` if the expected First Vespers are confirmed, and of `false` if the expected First Vespers are superseded by another liturgical event. Sometimes this will be established from year to year for specific coincidences by the Congregation for Divine Worship.",
                    "examples": [
                      0,
                      1
                    ]
                  },
                  "hasVesperII": {
                    "type": "boolean",
                    "description": "present for applicable events such as Solemnities or Sundays. Will have a boolean value of `true` if the expected Second Vespers are confirmed, and of `false` if the expected Second Vespers are superseded by another liturgical event. Sometimes this will be established from year to year for specific coincidences by the Congregation for Divine Worship.",
                    "examples": [
                      0,
                      1
                    ]
                  },
                  "isVigilMass": {
                    "type": "boolean",
                    "description": "present for applicable events such as Solemnities or Sundays. Will have a boolean value of 'true' if the event is a Vigil Mass for a Solemnity or Sunday",
                    "examples": [
                      0,
                      1
                    ]
                  },
                  "isVigilFor": {
                    "type": "string",
                    "description": "present for applicable events such as Solemnities or Sundays. If the event is a Vigil Mass, will indicate the `eventkey` attribute of the `LitCalEvent` for which the current event is a Vigil Mass",
                    "examples": [
                      "Advent3",
                      "Christmas"
                    ]
                  }
                }
              }
            }
          },
          "Settings": {
            "type": "object",
            "description": "echoes back the settings that were requested for the generation of this specific liturgical calendar, as feedback to be sure that the requested settings were correctly applied",
            "properties": {
              "Year": {
                "type": "integer",
                "format": "int32",
                "description": "the year for which the liturgical calendar was requested",
                "examples": [
                  2020
                ]
              },
              "Epiphany": {
                "type": "string",
                "enum": [
                  "JAN6",
                  "SUNDAY_JAN2_JAN8"
                ],
                "description": "whether Epiphany was set to be celebrated on January 6th or on the Sunday between January 2nd and January 8th",
                "examples": [
                  "JAN6",
                  "SUNDAY_JAN2_JAN8"
                ]
              },
              "Ascension": {
                "type": "string",
                "enum": [
                  "SUNDAY",
                  "THURSDAY"
                ],
                "description": "whether Ascension was set to be celebrated on Thursday or on Sunday",
                "examples": [
                  "SUNDAY",
                  "THURSDAY"
                ]
              },
              "CorpusChristi": {
                "type": "string",
                "enum": [
                  "SUNDAY",
                  "THURSDAY"
                ],
                "description": "whether Corpus Christi was set to be celebrated on Thursday or on Sunday",
                "examples": [
                  "SUNDAY",
                  "THURSDAY"
                ]
              },
              "CalendarType": {
                "type": "string",
                "enum": [
                  "CIVIL",
                  "LITURGICAL"
                ],
                "description": "whether the API calculated a calendar for the solar year (Jan 1 - Dec 31) or the liturgical year (First Sunday of Advent of the preceding year including vigil Mass - Saturday of the 34th week of Ordinary Time)",
                "examples": [
                  "CIVIL",
                  "LITURGICAL"
                ]
              },
              "Locale": {
                "type": "string",
                "description": "the locale which has either been specifically requested using the `locale` parameter, or set by the requested national calendar",
                "examples": [
                  "EN",
                  "nl_NL"
                ]
              },
              "ReturnType": {
                "type": "string",
                "enum": [
                  "JSON",
                  "XML",
                  "ICS",
                  "YML"
                ],
                "description": "the type of data that was requested",
                "examples": [
                  "XML"
                ]
              },
              "EternalHighPriest": {
                "type": "boolean",
                "description": "whether the celebration of Jesus Christ Eternal High Priest is applicable to the current requested calendar",
                "examples": [
                  0,
                  1
                ]
              }
            }
          },
          "Metadata": {
            "type": "object",
            "description": "contains information about the current endpoint versioning, and keys of liturgical events that can have precedence over others, useful for further calculations of a local calendar",
            "properties": {
              "FeastsMemorials": {
                "type": "object",
                "description": "the keys of this object identify the liturgical event",
                "properties": {
                  "LitCalEvent": {
                    "type": "object",
                    "description": "a liturgical event that has a rank of feast or memorial, and which can therefore supersede a feast (if this event is a higher ranking feast of the Lord, of the BVM, of John the Baptist etc.), a memorial (if this event is a feast) or an optional memorial  (if this event is a memorial)",
                    "properties": {
                      "eventkey": {
                        "type": "string",
                        "xml": {
                          "attribute": true
                        }
                      },
                      "date": {
                        "type": "string",
                        "format": "date-time",
                        "description": "the date of the liturgical event in the liturgical calendar for the given year (the time will be zeroed out because it is not of importance), in RFC 3339 format"
                      },
                      "timezone_type": {
                        "type": "integer",
                        "description": "describes the timezone type set on the DateTime object in the endpoint's PHP backend (only DateTime objects with type 3 timezones attached will allow for DST correction). The timezone will always be set to \"UTC\" and therefore the timezone type should always be of type 3, see https://www.php.net/manual/en/timezones.others.php",
                        "format": "int32",
                        "enum": [
                          3
                        ]
                      },
                      "timezone": {
                        "type": "string",
                        "description": "the timezone set on the DateTime object in the endpoint's PHP backend (it will always be set to \"UTC\", in order to ensure the date will remain unchanged anywhere in the world)",
                        "enum": [
                          "UTC"
                        ]
                      }
                    }
                  }
                }
              },
              "Solemnities": {
                "type": "object",
                "description": "the keys of this object identify the liturgical event",
                "properties": {
                  "LitCalEvent": {
                    "type": "object",
                    "description": "a liturgical event that has a rank of solemnity, and which can therefore supersede a feast or a memorial",
                    "properties": {
                      "eventkey": {
                        "type": "string",
                        "xml": {
                          "attribute": true
                        }
                      },
                      "date": {
                        "type": "string",
                        "format": "date-time",
                        "description": "the date of the liturgical event in the liturgical calendar for the given year (the time will be zeroed out because it is not of importance), in RFC 3339 fomat"
                      },
                      "timezone_type": {
                        "type": "integer",
                        "description": "describes the timezone type set on the DateTime object in the endpoint's PHP backend (only DateTime objects with type 3 timezones attached will allow for DST correction). The timezone will always be set to \"UTC\" and therefore the timezone type should always be of type 3, see https://www.php.net/manual/en/timezones.others.php",
                        "format": "int32",
                        "enum": [
                          3
                        ]
                      },
                      "timezone": {
                        "type": "string",
                        "description": "the timezone set on the DateTime object in the endpoint's PHP backend (it will always be set to \"UTC\", in order to ensure the date will remain unchanged anywhere in the world)",
                        "enum": [
                          "UTC"
                        ]
                      }
                    }
                  }
                }
              },
              "Version": {
                "type": "string",
                "description": "current endpoint version"
              },
              "Timestamp": {
                "description": "timestamp at which the current calendar calculation was first requested / produced",
                "type": "integer",
                "format": "int64",
                "minimum": 1501027200,
                "maximum": 253402300799
              },
              "DateTime": {
                "type": "string",
                "format": "date-time",
                "description": "RFC 3339 representation of the date and time at which the current calendar calculation was first requested / produced"
              },
              "RequestHeaders": {
                "type": "object",
                "description": "echoes back the request headers that were received by the endpoint, for debugging purposes",
                "properties": {
                  "Accept-Language": {
                    "type": "string",
                    "examples": [
                      "it-IT,it;"
                    ]
                  },
                  "Accept": {
                    "type": "string",
                    "examples": [
                      "application/json",
                      "application/yml",
                      "application/xml",
                      "text/calendar"
                    ]
                  },
                  "Host": {
                    "type": "string",
                    "examples": [
                      "litcal.johnromanodorazio.com"
                    ]
                  }
                }
              }
            }
          },
          "Messages": {
            "type": "object",
            "description": "an array containing all of the significant operations done in the calculation of the requested Liturgical Calendar, with links to the Decrees of the Congregation for Divine Worship where applicable. Useful for understanding how or why the calculations were done, and what changes have been applied in the generation of the Calendar for the specific year requested.",
            "properties": {
              "message": {
                "type": "string",
                "examples": [
                  "<i>'4th Sunday of Ordinary Time'</i> is superseded by the FEAST OF THE LORD <i>'Presentation of the Lord'</i> in the year 2020.",
                  "<i>'31st Sunday of Ordinary Time'</i> is superseded by the SOLEMNITY <i>'All Saints Day'</i> in the year 2020.",
                  "The FEAST <i>'Saints Philip and James, Apostles'</i>, usually celebrated on <b>May 3rd</b>, is suppressed by the <i>celebration with precedence over solemnities</i> <i>'Fourth Sunday of Easter'</i> in the year 2020."
                ]
              },
              "idx": {
                "type": "integer",
                "xml": {
                  "attribute": true
                }
              }
            }
          }
        },
        "xml": {
          "name": "LiturgicalCalendar",
          "namespace": "http://www.bibleget.io/catholicliturgy"
        }
      },
      "LitCalMetadata": {
        "type": "object",
        "description": "",
        "properties": {
          "NationalCalendars": {
            "type": "object",
            "description": "each property corresponds to supported national calendars, the value of which is an array corresponding to the supported diocesan calendars for the given national calendar",
            "properties": {
              "VATICAN": {
                "type": "array",
                "description": "empty array because there are no associated dioceses",
                "maxItems": 0
              }
            },
            "patternProperties": {
              "^[A-Z]{3,45}$": {
                "type": "array",
                "description": "English uppercase name of a nation with a corresponding liturgical calendar; value is an array of the related supported diocesan calendars",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "NationalCalendarsMetadata": {
            "type": "object",
            "description": "",
            "patternProperties": {
              "^[A-Z]{3,45}$": {
                "type": "object",
                "properties": {
                  "missals": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "widerRegions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "dioceses": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "settings": {
                    "type": "object",
                    "properties": {
                      "Epiphany": {
                        "type": "string",
                        "enum": [
                          "JAN6",
                          "SUNDAY_JAN2_JAN8"
                        ]
                      },
                      "Ascension": {
                        "type": "string",
                        "enum": [
                          "SUNDAY",
                          "THURSDAY"
                        ]
                      },
                      "CorpusChristi": {
                        "type": "string",
                        "enum": [
                          "SUNDAY",
                          "THURSDAY"
                        ]
                      },
                      "Locale": {
                        "type": "string"
                      },
                      "EternalHighPriest": {
                        "type": "boolean"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "Epiphany",
                      "Ascension",
                      "CorpusChristi",
                      "Locale"
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "DiocesanCalendars": {
            "type": "object",
            "patternProperties": {
              "^[A-Z]{3,45}$": {
                "type": "object",
                "description": "Normalized name of the diocese, only uppercase characters (no spaces, hyphens, apostrophes, or non alphabetic characters of any kind)",
                "properties": {
                  "nation": {
                    "type": "string",
                    "description": "Uppercase English name of the nation that corresponds to the current diocesan calendar"
                  },
                  "diocese": {
                    "type": "string",
                    "description": "Actual name of the diocese, including spaces, hyphens, apostrophes or any other character"
                  },
                  "group": {
                    "type": "string",
                    "description": "Named group of diocesan calendars which can be pooled together"
                  }
                },
                "required": [
                  "nation",
                  "diocese"
                ]
              }
            }
          },
          "DiocesanGroups": {
            "type": "object",
            "patternProperties": {
              "^[A-Za-z ]{3,45}$": {
                "type": "array",
                "description": "Named groups of diocesan calendars which can be pooled together",
                "items": {
                  "type": "string",
                  "description": "Normalized name of the diocese, only uppercase characters (no spaces, hyphens, apostrophes, or non alphabetic characters of any kind)"
                }
              }
            }
          },
          "WiderRegions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "RomanMissals": {
            "type": "object",
            "properties": {
              "value": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "sanctoraleFileName": {
                "oneOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "boolean"
                  }
                ]
              },
              "yearLimits": {
                "type": "object",
                "properties": {
                  "sinceYear": {
                    "type": "integer"
                  },
                  "untilYear": {
                    "type": "integer"
                  }
                },
                "required": [
                  "sinceYear"
                ]
              }
            },
            "required": [
              "value",
              "name",
              "sanctoraleFileName",
              "yearLimits"
            ]
          }
        }
      },
      "RetrieveCalendarRequestBody": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/NationalCalendarRequestBody"
          },
          {
            "$ref": "#/components/schemas/DiocesanCalendarRequestBody"
          },
          {
            "$ref": "#/components/schemas/GeneralRomanCalendarRequestBody"
          },
          {
            "$ref": "#/components/schemas/GeneralRomanCalendarTranslatedRequestBody"
          }
        ]
      },
      "NationalCalendarRequestBody": {
        "type": "object",
        "title": "National Calendar",
        "description": "When requesting a national calendar, the only other parameters allowed are `year`, `calendartype`, and `returntype` (though it's preferable to request the media type using the `Accept` header)",
        "additionalProperties": false,
        "properties": {
          "nationalcalendar": {
            "type": "string"
          },
          "year": {
            "type": "integer",
            "format": "int32",
            "minimum": 1970,
            "maximum": 9999
          },
          "calendartype": {
            "type": "string",
            "enum": [
              "CIVIL",
              "LITURGICAL"
            ]
          },
          "returntype": {
            "type": ["string", "null"],
            "enum": [
              null,
              "JSON",
              "XML",
              "ICS",
              "YML"
            ]
          }
        },
        "required": [ "nationalcalendar" ]
      },
      "DiocesanCalendarRequestBody": {
        "type": "object",
        "title": "Diocesan Calendar",
        "description": "When requesting a diocesan calendar, the only other parameters allowed are `year`, `calendartype`, and `returntype` (though it's preferable to request the media type using the `Accept` header)",
        "additionalProperties": false,
        "properties": {
          "diocesancalendar": {
            "type": "string",
            "pattern": "^[A-Z]{3,45}$"
          },
          "year": {
            "type": "integer",
            "format": "int32",
            "minimum": 1970,
            "maximum": 9999
          },
          "calendartype": {
            "type": "string",
            "enum": [
              "CIVIL",
              "LITURGICAL"
            ]
          },
          "returntype": {
            "type": ["string", "null"],
            "enum": [
              null,
              "JSON",
              "XML",
              "ICS",
              "YML"
            ]
          }
        },
        "required": [ "diocesancalendar" ]
      },
      "GeneralRomanCalendarRequestBody": {
        "type": "object",
        "title": "General Roman Calendar",
        "description": "The liturgical calendar in Latin, as used in the Vatican, basis of all other national and diocesan calendars. The only permitted parameters are `year`, `calendartype`, and `returntype` (though it's preferable to request the media type using the `Accept` header)",
        "additionalProperties": false,
        "properties": {
          "year": {
            "type": "integer",
            "format": "int32",
            "minimum": 1970,
            "maximum": 9999
          },
          "calendartype": {
            "type": "string",
            "enum": [
              "CIVIL",
              "LITURGICAL"
            ]
          },
          "returntype": {
            "type": ["string", "null"],
            "enum": [
              null,
              "JSON",
              "XML",
              "ICS",
              "YML"
            ]
          }
        }
      },
      "GeneralRomanCalendarTranslatedRequestBody": {
        "type": "object",
        "title": "General Roman Calendar translated",
        "description": "General Roman Calendar in another language or with tweaked parameters, perhaps for testing purposes",
        "additionalProperties": false,
        "properties": {
          "locale": {
            "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/CommonDef.json#/definitions/Locale"
          },
          "epiphany": {
            "type": "string",
            "enum": [
              "JAN6",
              "SUNDAY_JAN2_JAN8"
            ]
          },
          "ascension": {
            "type": "string",
            "enum": [
              "THURSDAY",
              "SUNDAY"
            ]
          },
          "corpuschristi": {
            "type": "string",
            "enum": [
              "THURSDAY",
              "SUNDAY"
            ]
          },
          "eternalhighpriest": {
            "type": "boolean"
          },
          "year": {
            "type": "integer",
            "format": "int32",
            "minimum": 1970,
            "maximum": 9999
          },
          "calendartype": {
            "type": "string",
            "enum": [
              "CIVIL",
              "LITURGICAL"
            ]
          },
          "returntype": {
            "type": ["string", "null"],
            "enum": [
              null,
              "JSON",
              "XML",
              "ICS",
              "YML"
            ]
          }
        }
      },
      "EventsRequestBody": {
        "type": "object",
        "title": "",
        "description": "",
        "additionalProperties": false,
        "oneOf": [
          {
            "properties": {
              "nationalcalendar": {
                "type": "string",
                "description": "requests liturgical calendar data for a particular geographic area, on a national level or according to specifications defined be one or more Episcopal Conferences or on a Roman Missal published for a certain language or geographic area."
              }
            }
          },
          {
            "properties": {
              "diocesancalendar": {
                "type": "string",
                "description": "requests liturgical calendar data for a particular diocese"
              }
            }
          },
          {
            "properties": {
              "locale": {
                "type": "string",
                "description": "request the localization of the General Roman Calendar; however it is preferable to set the Accept-Language header",
                "default": "la"
              }
            }
          }
        ]
      },
      "UnitTestArray": {
        "type": "array",
        "items": {
          "anyOf": [
            {
              "$ref": "#/components/schemas/ExactOrVariableCorrespondenceUnitTest"
            },
            {
              "$ref": "#/components/schemas/ExactCorrespondenceSinceUnitTest"
            },
            {
              "$ref": "#/components/schemas/ExactCorrespondenceUntilUnitTest"
            }
          ]
        }
      },
      "ExactOrVariableCorrespondenceUnitTest": {
        "title": "Exact or Variable Existence",
        "description": "test that the liturgical event exists on an expected date in a given year or does not exist in a given year",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "description": "identifies the Unit Test, and follows the pattern `{eventkey}Test`",
            "pattern": "^[A-Z][a-zA-Z1-9]+[0-9]{0,2}(?:_vigil)?Test$"
          },
          "eventkey": {
            "type": "string",
            "description": "the liturgical event we are testing, must be the exact key of a corresponding liturgical event in the LitCal API",
            "pattern": "^[A-Z][a-zA-Z1-9]+[0-9]{0,2}(?:_vigil)?$"
          },
          "description": {
            "type": "string",
            "description": "describes what the test intends to accomplish"
          },
          "testType": {
            "type": "string",
[...]
