{
  "openapi": "3.1.0",
  "servers": [
    {
      "description": "Liturgical Calendar API endpoint (development - unstable)",
      "url": "https://litcal.johnromanodorazio.com/api/dev"
    }
  ],
  "info": {
    "description": "An API which allows to retrieve data about the **Roman Calendar** for any given year, between 1970 and 9999. The data strives for historical accuracy (memorials and feast days are only generated from the year in which they were effectively introduced). The data is based on original sources (Roman Missals, Decrees of the Congregation for Divine Worship, Mysterii Paschalis, etc.), not on data copied or retrieved from online sources which may not be accurate. The API offers multiple locales and multiple calendars, from the **General Roman Calendar** to national or diocesan calendars.",
    "version": "3.9",
    "title": "Liturgical Calendar",
    "contact": {
      "email": "priest@johnromanodorazio.com",
      "name": "Rev. John R. D'Orazio"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "tags": [
    {
      "name": "Main API endpoint",
      "description": "Retrieve a liturgical calendar"
    },
    {
      "name": "Metadata API endpoint",
      "description": "Retrieve information about available calendars"
    },
    {
      "name": "All possible liturgical events endpoint",
      "description": "All liturgical events by key without the calendar calculation"
    },
    {
      "name": "Calendar Source Data",
      "description": "Retrieve / create / update / delete source data for National, Diocesan or Wider Region calendars "
    },
    {
      "name": "Missals",
      "description": "Retrieve / create / update / delete Roman Missal definitions"
    },
    {
      "name": "Easter",
      "description": "dates of easter whether gregorian or julian from 1583 to 1999"
    },
    {
      "name": "Unit Test Index endpoint",
      "description": "Retrieve / create / update / delete unit tests"
    }
  ],
  "paths": {
    "/calendar": {
      "get": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [{}],
        "summary": "Retrieve liturgical events for the General Roman Calendar for each day of the current year",
        "operationId": "retrieveGeneralRomanCalendarGET",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year",
        "parameters": [
          {
            "in": "header",
            "name": "Accept-Language",
            "schema": {
              "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/CommonDef.json#/definitions/Locale"
            }
          },
          {
            "in": "header",
            "name": "Accept",
            "schema": {
              "type": "string",
              "enum": [
                "application/json",
                "application/xml",
                "application/yaml",
                "text/calendar"
              ],
              "default": "application/json"
            }
          },
          {
            "in": "query",
            "name": "parameters",
            "style": "form",
            "explode": true,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/GeneralRomanCalendarRequestBody"
                },
                {
                  "$ref": "#/components/schemas/GeneralRomanCalendarTweakedRequestBody"
                }
              ]
            },
            "examples": {
              "LiturgicalYearCalendar":
                {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
              "CivilYearCalendar":
                {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                },
              "GeneralRomanCalendarTweaked":
                {
                  "$ref": "#/components/examples/GeneralRomanCalendarTweakedRequestBody"
                }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK: liturgical events for a given year according to the requested criteria",
            "headers": {
              "X-LitCal-Starttime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "High resolution timestamp in nanoseconds that indicates the start time of the calculation of the current liturgical calendar response"
              },
              "X-LitCal-Endtime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "High resolution timestamp in nanoseconds that indicates the end time of the calculation of the current liturgical calendar response"
              },
              "X-LitCal-Executiontime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "Total time in nanoseconds in which the calculation of the current liturgical calendar response was produced (difference between X-LitCal-Starttime and X-LitCal-Endtime, average is usually about 5ms!)"
              },
              "X-LitCal-Generated": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "Calculation",
                    "ClientCache",
                    "ServerCache"
                  ]
                },
                "description": "Indicates whether the current response was produced from: a fresh calculation since the response to the given request had not yet been calculated, or from client cache since the response has not changed since last request, or from server cache since the client had not yet made this same request but the calculation had already been done formerly on the server"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/LitCal.json"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/LitCal.json"
                }
              },
              "text/calendar": {
                "schema": {
                  "type": "string"
                },
                "example": "BEGIN:VCALENDAR\nPRODID:-//John Romano D'Orazio//Liturgical Calendar V1.0//EN\nVERSION:2.0\nCALSCALE:GREGORIAN\nMETHOD:PUBLISH\nX-MS-OLK-FORCEINSPECTOROPEN:FALSE\nX-WR-CALNAME:Roman Catholic Universal Liturgical Calendar LA\nX-WR-TIMEZONE:Europe/Vatican\nX-PUBLISHED-TTL:PT1D\nBEGIN:VEVENT\nCLASS:PUBLIC\nDTSTART;VALUE=DATE:20291231\nDTSTAMP:20240422T062620Z\nUID:c0e7126a841a70761e4057e58b5e2d52\nCREATED:\nDESCRIPTION:\\nSOLLEMNITAS\\nalbus\nLAST-MODIFIED:\nSUMMARY;LANGUAGE=la:SOLLEMNITAS SANCTÆ DEI GENITRICIS MARIÆ Missa in Vigi\n  lia\nTRANSP:TRANSPARENT\nX-MICROSOFT-CDO-ALLDAYEVENT:TRUE\nX-MICROSOFT-DISALLOW-COUNTER:TRUE\nX-ALT-DESC;FMTTYPE=text/html:<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.\n  2//EN\">\\n<HTML>\\n<BODY>\\n\\n<P DIR=LTR><BR><B>SOLLEMNITAS</B><BR><B><I><\n  SPAN LANG=la><FONT FACE=\"Calibri\" COLOR=\"#AAAAAA\">albus</FONT></SPAN></\n  I></B><BR>ANNUM B</P>\\n\\n</BODY>\\n</HTML>\nEND:VEVENT\nEND:VCALENDAR"
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalXML"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "description": "Bad Request: invalid parameters or malformed data in request body"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable: Accept header requests a response Content Type which this API cannot produce"
          },
          "415": {
            "description": "Unsupported Media Type: Content Type of request not valid"
          },
          "418": {
            "description": "I'm a teapot: request in this case must be an AJAX request, but AJAX request not detected"
          }
        }
      },
      "post": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [{}],
        "summary": "Retrieve liturgical events for the General Roman Calendar for each day of the current year",
        "operationId": "retrieveGeneralRomanCalendarPOST",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year",
        "parameters": [
          {
            "in": "header",
            "name": "Accept-Language",
            "schema": {
              "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/CommonDef.json#/definitions/Locale"
            }
          },
          {
            "in": "header",
            "name": "Accept",
            "schema": {
              "type": "string",
              "enum": [
                "application/json",
                "application/xml",
                "application/yaml",
                "text/calendar"
              ],
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveCalendarRequestBody"
              },
              "examples": {
                "LiturgicalYearCalendar":
                  {
                    "$ref": "#/components/examples/LiturgicalYearRequestBody"
                  },
                "CivilYearCalendar":
                  {
                    "$ref": "#/components/examples/CivilYearRequestBody"
                  },
                "GeneralRomanCalendarTweaked":
                  {
                    "$ref": "#/components/examples/GeneralRomanCalendarTweakedRequestBody"
                  }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveCalendarRequestBody"
              },
              "examples": {
                "LiturgicalYearCalendar":
                  {
                    "$ref": "#/components/examples/LiturgicalYearRequestBody"
                  },
                "CivilYearCalendar":
                  {
                    "$ref": "#/components/examples/CivilYearRequestBody"
                  },
                "GeneralRomanCalendarTweaked":
                  {
                    "$ref": "#/components/examples/GeneralRomanCalendarTweakedRequestBody"
                  }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK: liturgical events for a given year according to the requested criteria",
            "headers": {
              "X-LitCal-Starttime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "High resolution timestamp in nanoseconds that indicates the start time of the calculation of the current liturgical calendar response"
              },
              "X-LitCal-Endtime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "High resolution timestamp in nanoseconds that indicates the end time of the calculation of the current liturgical calendar response"
              },
              "X-LitCal-Executiontime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "Total time in nanoseconds in which the calculation of the current liturgical calendar response was produced (difference between X-LitCal-Starttime and X-LitCal-Endtime, average is usually about 5ms!)"
              },
              "X-LitCal-Generated": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "Calculation",
                    "ClientCache",
                    "ServerCache"
                  ]
                },
                "description": "Indicates whether the current response was produced from: a fresh calculation since the response to the given request had not yet been calculated, or from client cache since the response has not changed since last request, or from server cache since the client had not yet made this same request but the calculation had already been done formerly on the server"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/LitCal.json"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/LitCal.json"
                }
              },
              "text/calendar": {
                "schema": {
                  "type": "string"
                },
                "example": "BEGIN:VCALENDAR\nPRODID:-//John Romano D'Orazio//Liturgical Calendar V1.0//EN\nVERSION:2.0\nCALSCALE:GREGORIAN\nMETHOD:PUBLISH\nX-MS-OLK-FORCEINSPECTOROPEN:FALSE\nX-WR-CALNAME:Roman Catholic Universal Liturgical Calendar LA\nX-WR-TIMEZONE:Europe/Vatican\nX-PUBLISHED-TTL:PT1D\nBEGIN:VEVENT\nCLASS:PUBLIC\nDTSTART;VALUE=DATE:20291231\nDTSTAMP:20240422T062620Z\nUID:c0e7126a841a70761e4057e58b5e2d52\nCREATED:\nDESCRIPTION:\\nSOLLEMNITAS\\nalbus\nLAST-MODIFIED:\nSUMMARY;LANGUAGE=la:SOLLEMNITAS SANCTÆ DEI GENITRICIS MARIÆ Missa in Vigi\n  lia\nTRANSP:TRANSPARENT\nX-MICROSOFT-CDO-ALLDAYEVENT:TRUE\nX-MICROSOFT-DISALLOW-COUNTER:TRUE\nX-ALT-DESC;FMTTYPE=text/html:<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.\n  2//EN\">\\n<HTML>\\n<BODY>\\n\\n<P DIR=LTR><BR><B>SOLLEMNITAS</B><BR><B><I><\n  SPAN LANG=la><FONT FACE=\"Calibri\" COLOR=\"#AAAAAA\">albus</FONT></SPAN></\n  I></B><BR>ANNUM B</P>\\n\\n</BODY>\\n</HTML>\nEND:VEVENT\nEND:VCALENDAR"
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalXML"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "description": "Bad Request: invalid parameters or malformed data in request body"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable: Accept header requests a response Content Type which this API cannot produce"
          },
          "415": {
            "description": "Unsupported Media Type: Content Type of request not valid"
          },
          "418": {
            "description": "I'm a teapot: request in this case must be an AJAX request, but AJAX request not detected"
          }
        }
      }
    },
    "/calendar/{year}": {
      "get": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [{}],
        "summary": "Retrieve liturgical events from the General Roman Calendar for each day of the given year",
        "operationId": "retrieveGeneralRomanCalendarForYearGET",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year",
        "parameters": [
          {
            "in": "header",
            "name": "Accept-Language",
            "schema": {
              "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/CommonDef.json#/definitions/Locale"
            }
          },
          {
            "in": "header",
            "name": "Accept",
            "schema": {
              "type": "string",
              "enum": [
                "application/json",
                "application/xml",
                "application/yaml",
                "text/calendar"
              ],
              "default": "application/json"
            }
          },
          {
            "in": "path",
            "name": "year",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1970,
              "maximum": 9999
            }
          },
          {
            "in": "query",
            "name": "parameters",
            "style": "form",
            "explode": true,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/GeneralRomanCalendarRequestBody"
                },
                {
                  "$ref": "#/components/schemas/GeneralRomanCalendarTweakedRequestBody"
                }
              ]
            },
            "examples": {
              "LiturgicalYearCalendar":
                {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
              "CivilYearCalendar":
                {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                },
              "GeneralRomanCalendarTweaked":
                {
                  "$ref": "#/components/examples/GeneralRomanCalendarTweakedRequestBody"
                }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK: liturgical events for a given year according to the requested criteria",
            "headers": {
              "X-LitCal-Starttime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "High resolution timestamp in nanoseconds that indicates the start time of the calculation of the current liturgical calendar response"
              },
              "X-LitCal-Endtime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "High resolution timestamp in nanoseconds that indicates the end time of the calculation of the current liturgical calendar response"
              },
              "X-LitCal-Executiontime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "Total time in nanoseconds in which the calculation of the current liturgical calendar response was produced (difference between X-LitCal-Starttime and X-LitCal-Endtime, average is usually about 5ms!)"
              },
              "X-LitCal-Generated": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "Calculation",
                    "ClientCache",
                    "ServerCache"
                  ]
                },
                "description": "Indicates whether the current response was produced from: a fresh calculation since the response to the given request had not yet been calculated, or from client cache since the response has not changed since last request, or from server cache since the client had not yet made this same request but the calculation had already been done formerly on the server"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/LitCal.json"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/LitCal.json"
                }
              },
              "text/calendar": {
                "schema": {
                  "type": "string"
                },
                "example": "BEGIN:VCALENDAR\nPRODID:-//John Romano D'Orazio//Liturgical Calendar V1.0//EN\nVERSION:2.0\nCALSCALE:GREGORIAN\nMETHOD:PUBLISH\nX-MS-OLK-FORCEINSPECTOROPEN:FALSE\nX-WR-CALNAME:Roman Catholic Universal Liturgical Calendar LA\nX-WR-TIMEZONE:Europe/Vatican\nX-PUBLISHED-TTL:PT1D\nBEGIN:VEVENT\nCLASS:PUBLIC\nDTSTART;VALUE=DATE:20291231\nDTSTAMP:20240422T062620Z\nUID:c0e7126a841a70761e4057e58b5e2d52\nCREATED:\nDESCRIPTION:\\nSOLLEMNITAS\\nalbus\nLAST-MODIFIED:\nSUMMARY;LANGUAGE=la:SOLLEMNITAS SANCTÆ DEI GENITRICIS MARIÆ Missa in Vigi\n  lia\nTRANSP:TRANSPARENT\nX-MICROSOFT-CDO-ALLDAYEVENT:TRUE\nX-MICROSOFT-DISALLOW-COUNTER:TRUE\nX-ALT-DESC;FMTTYPE=text/html:<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.\n  2//EN\">\\n<HTML>\\n<BODY>\\n\\n<P DIR=LTR><BR><B>SOLLEMNITAS</B><BR><B><I><\n  SPAN LANG=la><FONT FACE=\"Calibri\" COLOR=\"#AAAAAA\">albus</FONT></SPAN></\n  I></B><BR>ANNUM B</P>\\n\\n</BODY>\\n</HTML>\nEND:VEVENT\nEND:VCALENDAR"
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalXML"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "description": "Bad Request: invalid parameters or malformed data in request body"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable: Accept header requests a response Content Type which this API cannot produce"
          },
          "415": {
            "description": "Unsupported Media Type: Content Type of request not valid"
          },
          "418": {
            "description": "I'm a teapot: request in this case must be an AJAX request, but AJAX request not detected"
          }
        }
      },
      "post": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [{}],
        "summary": "Retrieve liturgical events from the General Roman Calendar for each day of the given year",
        "operationId": "retrieveGeneralRomanCalendarForYearPOST",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year",
        "parameters": [
          {
            "in": "header",
            "name": "Accept-Language",
            "schema": {
              "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/CommonDef.json#/definitions/Locale"
            }
          },
          {
            "in": "header",
            "name": "Accept",
            "schema": {
              "type": "string",
              "enum": [
                "application/json",
                "application/xml",
                "application/yaml",
                "text/calendar"
              ],
              "default": "application/json"
            }
          },
          {
            "in": "path",
            "name": "year",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1970,
              "maximum": 9999
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveCalendarRequestBody"
              },
              "examples": {
                "LiturgicalYearCalendar":
                  {
                    "$ref": "#/components/examples/LiturgicalYearRequestBody"
                  },
                "CivilYearCalendar":
                  {
                    "$ref": "#/components/examples/CivilYearRequestBody"
                  },
                "GeneralRomanCalendarTweaked":
                  {
                    "$ref": "#/components/examples/GeneralRomanCalendarTweakedRequestBody"
                  }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveCalendarRequestBody"
              },
              "examples": {
                "LiturgicalYearCalendar":
                  {
                    "$ref": "#/components/examples/LiturgicalYearRequestBody"
                  },
                "CivilYearCalendar":
                  {
                    "$ref": "#/components/examples/CivilYearRequestBody"
                  },
                "GeneralRomanCalendarTweaked":
                  {
                    "$ref": "#/components/examples/GeneralRomanCalendarTweakedRequestBody"
                  }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK: liturgical events for a given year according to the requested criteria",
            "headers": {
              "X-LitCal-Starttime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "High resolution timestamp in nanoseconds that indicates the start time of the calculation of the current liturgical calendar response"
              },
              "X-LitCal-Endtime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "High resolution timestamp in nanoseconds that indicates the end time of the calculation of the current liturgical calendar response"
              },
              "X-LitCal-Executiontime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "Total time in nanoseconds in which the calculation of the current liturgical calendar response was produced (difference between X-LitCal-Starttime and X-LitCal-Endtime, average is usually about 5ms!)"
              },
              "X-LitCal-Generated": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "Calculation",
                    "ClientCache",
                    "ServerCache"
                  ]
                },
                "description": "Indicates whether the current response was produced from: a fresh calculation since the response to the given request had not yet been calculated, or from client cache since the response has not changed since last request, or from server cache since the client had not yet made this same request but the calculation had already been done formerly on the server"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/LitCal.json"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/LitCal.json"
                }
              },
              "text/calendar": {
                "schema": {
                  "type": "string"
                },
                "example": "BEGIN:VCALENDAR\nPRODID:-//John Romano D'Orazio//Liturgical Calendar V1.0//EN\nVERSION:2.0\nCALSCALE:GREGORIAN\nMETHOD:PUBLISH\nX-MS-OLK-FORCEINSPECTOROPEN:FALSE\nX-WR-CALNAME:Roman Catholic Universal Liturgical Calendar LA\nX-WR-TIMEZONE:Europe/Vatican\nX-PUBLISHED-TTL:PT1D\nBEGIN:VEVENT\nCLASS:PUBLIC\nDTSTART;VALUE=DATE:20291231\nDTSTAMP:20240422T062620Z\nUID:c0e7126a841a70761e4057e58b5e2d52\nCREATED:\nDESCRIPTION:\\nSOLLEMNITAS\\nalbus\nLAST-MODIFIED:\nSUMMARY;LANGUAGE=la:SOLLEMNITAS SANCTÆ DEI GENITRICIS MARIÆ Missa in Vigi\n  lia\nTRANSP:TRANSPARENT\nX-MICROSOFT-CDO-ALLDAYEVENT:TRUE\nX-MICROSOFT-DISALLOW-COUNTER:TRUE\nX-ALT-DESC;FMTTYPE=text/html:<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.\n  2//EN\">\\n<HTML>\\n<BODY>\\n\\n<P DIR=LTR><BR><B>SOLLEMNITAS</B><BR><B><I><\n  SPAN LANG=la><FONT FACE=\"Calibri\" COLOR=\"#AAAAAA\">albus</FONT></SPAN></\n  I></B><BR>ANNUM B</P>\\n\\n</BODY>\\n</HTML>\nEND:VEVENT\nEND:VCALENDAR"
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalXML"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "description": "Bad Request: invalid parameters or malformed data in request body"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable: Accept header requests a response Content Type which this API cannot produce"
          },
          "415": {
            "description": "Unsupported Media Type: Content Type of request not valid"
          },
          "418": {
            "description": "I'm a teapot: request in this case must be an AJAX request, but AJAX request not detected"
          }
        }
      }
    },
    "/calendar/nation/{calendar_id}": {
      "get": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [{}],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given nation for each day of the current year",
        "operationId": "retrieveNationalCalendarGET",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year",
        "parameters": [
          {
            "in": "header",
            "name": "Accept-Language",
            "schema": {
              "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/CommonDef.json#/definitions/Locale"
            }
          },
          {
            "in": "header",
            "name": "Accept",
            "schema": {
              "type": "string",
              "enum": [
                "application/json",
                "application/xml",
                "application/yaml",
                "text/calendar"
              ],
              "default": "application/json"
            }
          },
          {
            "in": "path",
            "name": "calendar_id",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "IT",
                "US",
                "NL",
                "VA"
              ],
              "summary": "uppercase two letter ISO 3166 code of a nation for which the liturgical calendar has been defined"
            }
          },
          {
            "in": "query",
            "name": "parameters",
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/CivilOrLiturgicalYear"
            },
            "examples": {
              "LiturgicalYearCalendar":
                {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
              "CivilYearCalendar":
                {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK: liturgical events for a given year according to the requested criteria",
            "headers": {
              "X-LitCal-Starttime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "High resolution timestamp in nanoseconds that indicates the start time of the calculation of the current liturgical calendar response"
              },
              "X-LitCal-Endtime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "High resolution timestamp in nanoseconds that indicates the end time of the calculation of the current liturgical calendar response"
              },
              "X-LitCal-Executiontime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "Total time in nanoseconds in which the calculation of the current liturgical calendar response was produced (difference between X-LitCal-Starttime and X-LitCal-Endtime, average is usually about 5ms!)"
              },
              "X-LitCal-Generated": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "Calculation",
                    "ClientCache",
                    "ServerCache"
                  ]
                },
                "description": "Indicates whether the current response was produced from: a fresh calculation since the response to the given request had not yet been calculated, or from client cache since the response has not changed since last request, or from server cache since the client had not yet made this same request but the calculation had already been done formerly on the server"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/LitCal.json"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/LitCal.json"
                }
              },
              "text/calendar": {
                "schema": {
                  "type": "string"
                },
                "example": "BEGIN:VCALENDAR\nPRODID:-//John Romano D'Orazio//Liturgical Calendar V1.0//EN\nVERSION:2.0\nCALSCALE:GREGORIAN\nMETHOD:PUBLISH\nX-MS-OLK-FORCEINSPECTOROPEN:FALSE\nX-WR-CALNAME:Roman Catholic Universal Liturgical Calendar LA\nX-WR-TIMEZONE:Europe/Vatican\nX-PUBLISHED-TTL:PT1D\nBEGIN:VEVENT\nCLASS:PUBLIC\nDTSTART;VALUE=DATE:20291231\nDTSTAMP:20240422T062620Z\nUID:c0e7126a841a70761e4057e58b5e2d52\nCREATED:\nDESCRIPTION:\\nSOLLEMNITAS\\nalbus\nLAST-MODIFIED:\nSUMMARY;LANGUAGE=la:SOLLEMNITAS SANCTÆ DEI GENITRICIS MARIÆ Missa in Vigi\n  lia\nTRANSP:TRANSPARENT\nX-MICROSOFT-CDO-ALLDAYEVENT:TRUE\nX-MICROSOFT-DISALLOW-COUNTER:TRUE\nX-ALT-DESC;FMTTYPE=text/html:<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.\n  2//EN\">\\n<HTML>\\n<BODY>\\n\\n<P DIR=LTR><BR><B>SOLLEMNITAS</B><BR><B><I><\n  SPAN LANG=la><FONT FACE=\"Calibri\" COLOR=\"#AAAAAA\">albus</FONT></SPAN></\n  I></B><BR>ANNUM B</P>\\n\\n</BODY>\\n</HTML>\nEND:VEVENT\nEND:VCALENDAR"
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalXML"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "description": "Bad Request: invalid parameters or malformed data in request body"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable: Accept header requests a response Content Type which this API cannot produce"
          },
          "415": {
            "description": "Unsupported Media Type: Content Type of request not valid"
          },
          "418": {
            "description": "I'm a teapot: request in this case must be an AJAX request, but AJAX request not detected"
          }
        }
      },
      "post": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [{}],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given nation for each day of the current year",
        "operationId": "retrieveNationalCalendarPOST",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year",
        "parameters": [
          {
            "in": "header",
            "name": "Accept-Language",
            "schema": {
              "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/CommonDef.json#/definitions/Locale"
            }
          },
          {
            "in": "header",
            "name": "Accept",
            "schema": {
              "type": "string",
              "enum": [
                "application/json",
                "application/xml",
                "application/yaml",
                "text/calendar"
              ],
              "default": "application/json"
            }
          },
          {
            "in": "path",
            "name": "calendar_id",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "IT",
                "US",
                "NL",
                "VA"
              ],
              "summary": "uppercase two letter ISO 3166 code of a nation for which the liturgical calendar has been defined"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar":
                  {
                    "$ref": "#/components/examples/LiturgicalYearRequestBody"
                  },
                "CivilYearCalendar":
                  {
                    "$ref": "#/components/examples/CivilYearRequestBody"
                  }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar":
                  {
                    "$ref": "#/components/examples/LiturgicalYearRequestBody"
                  },
                "CivilYearCalendar":
                  {
                    "$ref": "#/components/examples/CivilYearRequestBody"
                  }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK: liturgical events for a given year according to the requested criteria",
            "headers": {
              "X-LitCal-Starttime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "High resolution timestamp in nanoseconds that indicates the start time of the calculation of the current liturgical calendar response"
              },
              "X-LitCal-Endtime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "High resolution timestamp in nanoseconds that indicates the end time of the calculation of the current liturgical calendar response"
              },
              "X-LitCal-Executiontime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "Total time in nanoseconds in which the calculation of the current liturgical calendar response was produced (difference between X-LitCal-Starttime and X-LitCal-Endtime, average is usually about 5ms!)"
              },
              "X-LitCal-Generated": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "Calculation",
                    "ClientCache",
                    "ServerCache"
                  ]
                },
                "description": "Indicates whether the current response was produced from: a fresh calculation since the response to the given request had not yet been calculated, or from client cache since the response has not changed since last request, or from server cache since the client had not yet made this same request but the calculation had already been done formerly on the server"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/LitCal.json"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/LitCal.json"
                }
              },
              "text/calendar": {
                "schema": {
                  "type": "string"
                },
                "example": "BEGIN:VCALENDAR\nPRODID:-//John Romano D'Orazio//Liturgical Calendar V1.0//EN\nVERSION:2.0\nCALSCALE:GREGORIAN\nMETHOD:PUBLISH\nX-MS-OLK-FORCEINSPECTOROPEN:FALSE\nX-WR-CALNAME:Roman Catholic Universal Liturgical Calendar LA\nX-WR-TIMEZONE:Europe/Vatican\nX-PUBLISHED-TTL:PT1D\nBEGIN:VEVENT\nCLASS:PUBLIC\nDTSTART;VALUE=DATE:20291231\nDTSTAMP:20240422T062620Z\nUID:c0e7126a841a70761e4057e58b5e2d52\nCREATED:\nDESCRIPTION:\\nSOLLEMNITAS\\nalbus\nLAST-MODIFIED:\nSUMMARY;LANGUAGE=la:SOLLEMNITAS SANCTÆ DEI GENITRICIS MARIÆ Missa in Vigi\n  lia\nTRANSP:TRANSPARENT\nX-MICROSOFT-CDO-ALLDAYEVENT:TRUE\nX-MICROSOFT-DISALLOW-COUNTER:TRUE\nX-ALT-DESC;FMTTYPE=text/html:<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.\n  2//EN\">\\n<HTML>\\n<BODY>\\n\\n<P DIR=LTR><BR><B>SOLLEMNITAS</B><BR><B><I><\n  SPAN LANG=la><FONT FACE=\"Calibri\" COLOR=\"#AAAAAA\">albus</FONT></SPAN></\n  I></B><BR>ANNUM B</P>\\n\\n</BODY>\\n</HTML>\nEND:VEVENT\nEND:VCALENDAR"
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalXML"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "description": "Bad Request: invalid parameters or malformed data in request body"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable: Accept header requests a response Content Type which this API cannot produce"
          },
          "415": {
            "description": "Unsupported Media Type: Content Type of request not valid"
          },
          "418": {
            "description": "I'm a teapot: request in this case must be an AJAX request, but AJAX request not detected"
          }
        }
      }
    },
    "/calendar/nation/{calendar_id}/{year}": {
      "get": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [{}],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given nation for each day of a given year",
        "operationId": "retrieveNationalCalendarForYearGET",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year",
        "parameters": [
          {
            "in": "header",
            "name": "Accept-Language",
            "schema": {
              "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/CommonDef.json#/definitions/Locale"
            }
          },
          {
            "in": "header",
            "name": "Accept",
            "schema": {
              "type": "string",
              "enum": [
                "application/json",
                "application/xml",
                "application/yaml",
                "text/calendar"
              ],
              "default": "application/json"
            }
          },
          {
            "in": "path",
            "name": "calendar_id",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "IT",
                "US",
                "NL",
                "VA"
              ],
              "summary": "when {category} is 'nation'"
            }
          },
          {
            "in": "path",
            "name": "year",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1970,
              "maximum": 9999
            }
          },
          {
            "in": "query",
            "name": "parameters",
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/CivilOrLiturgicalYear"
            },
            "examples": {
              "LiturgicalYearCalendar":
                {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
              "CivilYearCalendar":
                {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK: liturgical events for a given year according to the requested criteria",
            "headers": {
              "X-LitCal-Starttime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "High resolution timestamp in nanoseconds that indicates the start time of the calculation of the current liturgical calendar response"
              },
              "X-LitCal-Endtime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "High resolution timestamp in nanoseconds that indicates the end time of the calculation of the current liturgical calendar response"
              },
              "X-LitCal-Executiontime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "Total time in nanoseconds in which the calculation of the current liturgical calendar response was produced (difference between X-LitCal-Starttime and X-LitCal-Endtime, average is usually about 5ms!)"
              },
              "X-LitCal-Generated": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "Calculation",
                    "ClientCache",
                    "ServerCache"
                  ]
                },
                "description": "Indicates whether the current response was produced from: a fresh calculation since the response to the given request had not yet been calculated, or from client cache since the response has not changed since last request, or from server cache since the client had not yet made this same request but the calculation had already been done formerly on the server"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/LitCal.json"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/LitCal.json"
                }
              },
              "text/calendar": {
                "schema": {
                  "type": "string"
                },
                "example": "BEGIN:VCALENDAR\nPRODID:-//John Romano D'Orazio//Liturgical Calendar V1.0//EN\nVERSION:2.0\nCALSCALE:GREGORIAN\nMETHOD:PUBLISH\nX-MS-OLK-FORCEINSPECTOROPEN:FALSE\nX-WR-CALNAME:Roman Catholic Universal Liturgical Calendar LA\nX-WR-TIMEZONE:Europe/Vatican\nX-PUBLISHED-TTL:PT1D\nBEGIN:VEVENT\nCLASS:PUBLIC\nDTSTART;VALUE=DATE:20291231\nDTSTAMP:20240422T062620Z\nUID:c0e7126a841a70761e4057e58b5e2d52\nCREATED:\nDESCRIPTION:\\nSOLLEMNITAS\\nalbus\nLAST-MODIFIED:\nSUMMARY;LANGUAGE=la:SOLLEMNITAS SANCTÆ DEI GENITRICIS MARIÆ Missa in Vigi\n  lia\nTRANSP:TRANSPARENT\nX-MICROSOFT-CDO-ALLDAYEVENT:TRUE\nX-MICROSOFT-DISALLOW-COUNTER:TRUE\nX-ALT-DESC;FMTTYPE=text/html:<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.\n  2//EN\">\\n<HTML>\\n<BODY>\\n\\n<P DIR=LTR><BR><B>SOLLEMNITAS</B><BR><B><I><\n  SPAN LANG=la><FONT FACE=\"Calibri\" COLOR=\"#AAAAAA\">albus</FONT></SPAN></\n  I></B><BR>ANNUM B</P>\\n\\n</BODY>\\n</HTML>\nEND:VEVENT\nEND:VCALENDAR"
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalXML"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "description": "Bad Request: invalid parameters or malformed data in request body"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable: Accept header requests a response Content Type which this API cannot produce"
          },
          "415": {
            "description": "Unsupported Media Type: Content Type of request not valid"
          },
          "418": {
            "description": "I'm a teapot: request in this case must be an AJAX request, but AJAX request not detected"
          }
        }
      },
      "post": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [{}],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given nation for each day of a given year",
        "operationId": "retrieveNationalCalendarForYearPOST",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year",
        "parameters": [
          {
            "in": "header",
            "name": "Accept-Language",
            "schema": {
              "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/CommonDef.json#/definitions/Locale"
            }
          },
          {
            "in": "header",
            "name": "Accept",
            "schema": {
              "type": "string",
              "enum": [
                "application/json",
                "application/xml",
                "application/yaml",
                "text/calendar"
              ],
              "default": "application/json"
            }
          },
          {
            "in": "path",
            "name": "calendar_id",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "IT",
                "US",
                "NL",
                "VA"
              ]
            }
          },
          {
            "in": "path",
            "name": "year",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1970,
              "maximum": 9999
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar":
                  {
                    "$ref": "#/components/examples/LiturgicalYearRequestBody"
                  },
                "CivilYearCalendar":
                  {
                    "$ref": "#/components/examples/CivilYearRequestBody"
                  }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar":
                  {
                    "$ref": "#/components/examples/LiturgicalYearRequestBody"
                  },
                "CivilYearCalendar":
                  {
                    "$ref": "#/components/examples/CivilYearRequestBody"
                  }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK: liturgical events for a given year according to the requested criteria",
            "headers": {
              "X-LitCal-Starttime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "High resolution timestamp in nanoseconds that indicates the start time of the calculation of the current liturgical calendar response"
              },
              "X-LitCal-Endtime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "High resolution timestamp in nanoseconds that indicates the end time of the calculation of the current liturgical calendar response"
              },
              "X-LitCal-Executiontime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "Total time in nanoseconds in which the calculation of the current liturgical calendar response was produced (difference between X-LitCal-Starttime and X-LitCal-Endtime, average is usually about 5ms!)"
              },
              "X-LitCal-Generated": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "Calculation",
                    "ClientCache",
                    "ServerCache"
                  ]
                },
                "description": "Indicates whether the current response was produced from: a fresh calculation since the response to the given request had not yet been calculated, or from client cache since the response has not changed since last request, or from server cache since the client had not yet made this same request but the calculation had already been done formerly on the server"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/LitCal.json"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/LitCal.json"
                }
              },
              "text/calendar": {
                "schema": {
                  "type": "string"
                },
                "example": "BEGIN:VCALENDAR\nPRODID:-//John Romano D'Orazio//Liturgical Calendar V1.0//EN\nVERSION:2.0\nCALSCALE:GREGORIAN\nMETHOD:PUBLISH\nX-MS-OLK-FORCEINSPECTOROPEN:FALSE\nX-WR-CALNAME:Roman Catholic Universal Liturgical Calendar LA\nX-WR-TIMEZONE:Europe/Vatican\nX-PUBLISHED-TTL:PT1D\nBEGIN:VEVENT\nCLASS:PUBLIC\nDTSTART;VALUE=DATE:20291231\nDTSTAMP:20240422T062620Z\nUID:c0e7126a841a70761e4057e58b5e2d52\nCREATED:\nDESCRIPTION:\\nSOLLEMNITAS\\nalbus\nLAST-MODIFIED:\nSUMMARY;LANGUAGE=la:SOLLEMNITAS SANCTÆ DEI GENITRICIS MARIÆ Missa in Vigi\n  lia\nTRANSP:TRANSPARENT\nX-MICROSOFT-CDO-ALLDAYEVENT:TRUE\nX-MICROSOFT-DISALLOW-COUNTER:TRUE\nX-ALT-DESC;FMTTYPE=text/html:<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.\n  2//EN\">\\n<HTML>\\n<BODY>\\n\\n<P DIR=LTR><BR><B>SOLLEMNITAS</B><BR><B><I><\n  SPAN LANG=la><FONT FACE=\"Calibri\" COLOR=\"#AAAAAA\">albus</FONT></SPAN></\n  I></B><BR>ANNUM B</P>\\n\\n</BODY>\\n</HTML>\nEND:VEVENT\nEND:VCALENDAR"
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalXML"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "description": "Bad Request: invalid parameters or malformed data in request body"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable: Accept header requests a response Content Type which this API cannot produce"
          },
          "415": {
            "description": "Unsupported Media Type: Content Type of request not valid"
          },
          "418": {
            "description": "I'm a teapot: request in this case must be an AJAX request, but AJAX request not detected"
          }
        }
      }
    },
    "/calendar/diocese/{calendar_id}": {
      "get": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [{}],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given diocese for each day of the current year",
        "operationId": "retrieveDiocesanCalendarGET",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year",
        "parameters": [
          {
            "in": "header",
            "name": "Accept-Language",
            "schema": {
              "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/CommonDef.json#/definitions/Locale"
            }
          },
          {
            "in": "header",
            "name": "Accept",
            "schema": {
              "type": "string",
              "enum": [
                "application/json",
                "application/xml",
                "application/yaml",
                "text/calendar"
              ],
              "default": "application/json"
            }
          },
          {
            "in": "path",
            "name": "calendar_id",
            "required": true,
            "schema": {
              "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/CommonDef.json#/definitions/DiocesanCalendarId"
            }
          },
          {
            "in": "query",
            "name": "parameters",
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/CivilOrLiturgicalYear"
            },
            "examples": {
              "LiturgicalYearCalendar":
                {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
              "CivilYearCalendar":
                {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK: liturgical events for a given year according to the requested criteria",
            "headers": {
              "X-LitCal-Starttime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "High resolution timestamp in nanoseconds that indicates the start time of the calculation of the current liturgical calendar response"
              },
              "X-LitCal-Endtime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "High resolution timestamp in nanoseconds that indicates the end time of the calculation of the current liturgical calendar response"
              },
              "X-LitCal-Executiontime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "Total time in nanoseconds in which the calculation of the current liturgical calendar response was produced (difference between X-LitCal-Starttime and X-LitCal-Endtime, average is usually about 5ms!)"
              },
              "X-LitCal-Generated": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "Calculation",
                    "ClientCache",
                    "ServerCache"
                  ]
                },
                "description": "Indicates whether the current response was produced from: a fresh calculation since the response to the given request had not yet been calculated, or from client cache since the response has not changed since last request, or from server cache since the client had not yet made this same request but the calculation had already been done formerly on the server"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/LitCal.json"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/LitCal.json"
                }
              },
              "text/calendar": {
                "schema": {
                  "type": "string"
                },
                "example": "BEGIN:VCALENDAR\nPRODID:-//John Romano D'Orazio//Liturgical Calendar V1.0//EN\nVERSION:2.0\nCALSCALE:GREGORIAN\nMETHOD:PUBLISH\nX-MS-OLK-FORCEINSPECTOROPEN:FALSE\nX-WR-CALNAME:Roman Catholic Universal Liturgical Calendar LA\nX-WR-TIMEZONE:Europe/Vatican\nX-PUBLISHED-TTL:PT1D\nBEGIN:VEVENT\nCLASS:PUBLIC\nDTSTART;VALUE=DATE:20291231\nDTSTAMP:20240422T062620Z\nUID:c0e7126a841a70761e4057e58b5e2d52\nCREATED:\nDESCRIPTION:\\nSOLLEMNITAS\\nalbus\nLAST-MODIFIED:\nSUMMARY;LANGUAGE=la:SOLLEMNITAS SANCTÆ DEI GENITRICIS MARIÆ Missa in Vigi\n  lia\nTRANSP:TRANSPARENT\nX-MICROSOFT-CDO-ALLDAYEVENT:TRUE\nX-MICROSOFT-DISALLOW-COUNTER:TRUE\nX-ALT-DESC;FMTTYPE=text/html:<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.\n  2//EN\">\\n<HTML>\\n<BODY>\\n\\n<P DIR=LTR><BR><B>SOLLEMNITAS</B><BR><B><I><\n  SPAN LANG=la><FONT FACE=\"Calibri\" COLOR=\"#AAAAAA\">albus</FONT></SPAN></\n  I></B><BR>ANNUM B</P>\\n\\n</BODY>\\n</HTML>\nEND:VEVENT\nEND:VCALENDAR"
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalXML"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "description": "Bad Request: invalid parameters or malformed data in request body"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable: Accept header requests a response Content Type which this API cannot produce"
          },
          "415": {
            "description": "Unsupported Media Type: Content Type of request not valid"
          },
          "418": {
            "description": "I'm a teapot: request in this case must be an AJAX request, but AJAX request not detected"
          }
        }
      },
      "post": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [{}],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given diocese for each day of the current year",
        "operationId": "retrieveDiocesanCalendarPOST",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year",
        "parameters": [
          {
            "in": "header",
            "name": "Accept-Language",
            "schema": {
              "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/CommonDef.json#/definitions/Locale"
            }
          },
          {
            "in": "header",
            "name": "Accept",
            "schema": {
              "type": "string",
              "enum": [
                "application/json",
                "application/xml",
                "application/yaml",
                "text/calendar"
              ],
              "default": "application/json"
            }
          },
          {
            "in": "path",
            "name": "calendar_id",
            "required": true,
            "schema": {
              "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/CommonDef.json#/definitions/DiocesanCalendarId"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar":
                  {
                    "$ref": "#/components/examples/LiturgicalYearRequestBody"
                  },
                "CivilYearCalendar":
                  {
                    "$ref": "#/components/examples/CivilYearRequestBody"
                  }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar":
                  {
                    "$ref": "#/components/examples/LiturgicalYearRequestBody"
                  },
                "CivilYearCalendar":
                  {
                    "$ref": "#/components/examples/CivilYearRequestBody"
                  }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK: liturgical events for a given year according to the requested criteria",
            "headers": {
              "X-LitCal-Starttime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "High resolution timestamp in nanoseconds that indicates the start time of the calculation of the current liturgical calendar response"
              },
              "X-LitCal-Endtime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "High resolution timestamp in nanoseconds that indicates the end time of the calculation of the current liturgical calendar response"
              },
              "X-LitCal-Executiontime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "Total time in nanoseconds in which the calculation of the current liturgical calendar response was produced (difference between X-LitCal-Starttime and X-LitCal-Endtime, average is usually about 5ms!)"
              },
              "X-LitCal-Generated": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "Calculation",
                    "ClientCache",
                    "ServerCache"
                  ]
                },
                "description": "Indicates whether the current response was produced from: a fresh calculation since the response to the given request had not yet been calculated, or from client cache since the response has not changed since last request, or from server cache since the client had not yet made this same request but the calculation had already been done formerly on the server"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/LitCal.json"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/LitCal.json"
                }
              },
              "text/calendar": {
                "schema": {
                  "type": "string"
                },
                "example": "BEGIN:VCALENDAR\nPRODID:-//John Romano D'Orazio//Liturgical Calendar V1.0//EN\nVERSION:2.0\nCALSCALE:GREGORIAN\nMETHOD:PUBLISH\nX-MS-OLK-FORCEINSPECTOROPEN:FALSE\nX-WR-CALNAME:Roman Catholic Universal Liturgical Calendar LA\nX-WR-TIMEZONE:Europe/Vatican\nX-PUBLISHED-TTL:PT1D\nBEGIN:VEVENT\nCLASS:PUBLIC\nDTSTART;VALUE=DATE:20291231\nDTSTAMP:20240422T062620Z\nUID:c0e7126a841a70761e4057e58b5e2d52\nCREATED:\nDESCRIPTION:\\nSOLLEMNITAS\\nalbus\nLAST-MODIFIED:\nSUMMARY;LANGUAGE=la:SOLLEMNITAS SANCTÆ DEI GENITRICIS MARIÆ Missa in Vigi\n  lia\nTRANSP:TRANSPARENT\nX-MICROSOFT-CDO-ALLDAYEVENT:TRUE\nX-MICROSOFT-DISALLOW-COUNTER:TRUE\nX-ALT-DESC;FMTTYPE=text/html:<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.\n  2//EN\">\\n<HTML>\\n<BODY>\\n\\n<P DIR=LTR><BR><B>SOLLEMNITAS</B><BR><B><I><\n  SPAN LANG=la><FONT FACE=\"Calibri\" COLOR=\"#AAAAAA\">albus</FONT></SPAN></\n  I></B><BR>ANNUM B</P>\\n\\n</BODY>\\n</HTML>\nEND:VEVENT\nEND:VCALENDAR"
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalXML"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "description": "Bad Request: invalid parameters or malformed data in request body"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable: Accept header requests a response Content Type which this API cannot produce"
          },
          "415": {
            "description": "Unsupported Media Type: Content Type of request not valid"
          },
          "418": {
            "description": "I'm a teapot: request in this case must be an AJAX request, but AJAX request not detected"
          }
        }
      }
    },
    "/calendar/diocese/{calendar_id}/{year}": {
      "get": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [{}],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given diocese for each day of a given year",
        "operationId": "retrieveDiocesanCalendarForYearGET",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year",
        "parameters": [
          {
            "in": "header",
            "name": "Accept-Language",
            "schema": {
              "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/CommonDef.json#/definitions/Locale"
            }
          },
          {
            "in": "header",
            "name": "Accept",
            "schema": {
              "type": "string",
              "enum": [
                "application/json",
                "application/xml",
                "application/yaml",
                "text/calendar"
              ],
              "default": "application/json"
            }
          },
          {
            "in": "path",
            "name": "calendar_id",
            "required": true,
            "schema": {
              "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/CommonDef.json#/definitions/DiocesanCalendarId"
            }
          },
          {
            "in": "path",
            "name": "year",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1970,
              "maximum": 9999
            }
          },
          {
            "in": "query",
            "name": "parameters",
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/CivilOrLiturgicalYear"
            },
            "examples": {
              "LiturgicalYearCalendar":
                {
                  "$ref": "#/components/examples/LiturgicalYearRequestBody"
                },
              "CivilYearCalendar":
                {
                  "$ref": "#/components/examples/CivilYearRequestBody"
                }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK: liturgical events for a given year according to the requested criteria",
            "headers": {
              "X-LitCal-Starttime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "High resolution timestamp in nanoseconds that indicates the start time of the calculation of the current liturgical calendar response"
              },
              "X-LitCal-Endtime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "High resolution timestamp in nanoseconds that indicates the end time of the calculation of the current liturgical calendar response"
              },
              "X-LitCal-Executiontime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "Total time in nanoseconds in which the calculation of the current liturgical calendar response was produced (difference between X-LitCal-Starttime and X-LitCal-Endtime, average is usually about 5ms!)"
              },
              "X-LitCal-Generated": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "Calculation",
                    "ClientCache",
                    "ServerCache"
                  ]
                },
                "description": "Indicates whether the current response was produced from: a fresh calculation since the response to the given request had not yet been calculated, or from client cache since the response has not changed since last request, or from server cache since the client had not yet made this same request but the calculation had already been done formerly on the server"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/LitCal.json"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/LitCal.json"
                }
              },
              "text/calendar": {
                "schema": {
                  "type": "string"
                },
                "example": "BEGIN:VCALENDAR\nPRODID:-//John Romano D'Orazio//Liturgical Calendar V1.0//EN\nVERSION:2.0\nCALSCALE:GREGORIAN\nMETHOD:PUBLISH\nX-MS-OLK-FORCEINSPECTOROPEN:FALSE\nX-WR-CALNAME:Roman Catholic Universal Liturgical Calendar LA\nX-WR-TIMEZONE:Europe/Vatican\nX-PUBLISHED-TTL:PT1D\nBEGIN:VEVENT\nCLASS:PUBLIC\nDTSTART;VALUE=DATE:20291231\nDTSTAMP:20240422T062620Z\nUID:c0e7126a841a70761e4057e58b5e2d52\nCREATED:\nDESCRIPTION:\\nSOLLEMNITAS\\nalbus\nLAST-MODIFIED:\nSUMMARY;LANGUAGE=la:SOLLEMNITAS SANCTÆ DEI GENITRICIS MARIÆ Missa in Vigi\n  lia\nTRANSP:TRANSPARENT\nX-MICROSOFT-CDO-ALLDAYEVENT:TRUE\nX-MICROSOFT-DISALLOW-COUNTER:TRUE\nX-ALT-DESC;FMTTYPE=text/html:<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.\n  2//EN\">\\n<HTML>\\n<BODY>\\n\\n<P DIR=LTR><BR><B>SOLLEMNITAS</B><BR><B><I><\n  SPAN LANG=la><FONT FACE=\"Calibri\" COLOR=\"#AAAAAA\">albus</FONT></SPAN></\n  I></B><BR>ANNUM B</P>\\n\\n</BODY>\\n</HTML>\nEND:VEVENT\nEND:VCALENDAR"
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalXML"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "description": "Bad Request: invalid parameters or malformed data in request body"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable: Accept header requests a response Content Type which this API cannot produce"
          },
          "415": {
            "description": "Unsupported Media Type: Content Type of request not valid"
          },
          "418": {
            "description": "I'm a teapot: request in this case must be an AJAX request, but AJAX request not detected"
          }
        }
      },
      "post": {
        "tags": [
          "Main API endpoint"
        ],
        "security": [{}],
        "summary": "Retrieve liturgical events from the liturgical calendar for a given diocese for each day of a given year",
        "operationId": "retrieveDiocesanCalendarForYearPOST",
        "description": "By passing in the appropriate options, you can retrieve data for the liturgical calendar for any given year",
        "parameters": [
          {
            "in": "header",
            "name": "Accept-Language",
            "schema": {
              "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/CommonDef.json#/definitions/Locale"
            }
          },
          {
            "in": "header",
            "name": "Accept",
            "schema": {
              "type": "string",
              "enum": [
                "application/json",
                "application/xml",
                "application/yaml",
                "text/calendar"
              ],
              "default": "application/json"
            }
          },
          {
            "in": "path",
            "name": "calendar_id",
            "required": true,
            "schema": {
              "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/CommonDef.json#/definitions/DiocesanCalendarId"
            }
          },
          {
            "in": "path",
            "name": "year",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1970,
              "maximum": 9999
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar":
                  {
                    "$ref": "#/components/examples/LiturgicalYearRequestBody"
                  },
                "CivilYearCalendar":
                  {
                    "$ref": "#/components/examples/CivilYearRequestBody"
                  }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CivilOrLiturgicalYear"
              },
              "examples": {
                "LiturgicalYearCalendar":
                  {
                    "$ref": "#/components/examples/LiturgicalYearRequestBody"
                  },
                "CivilYearCalendar":
                  {
                    "$ref": "#/components/examples/CivilYearRequestBody"
                  }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK: liturgical events for a given year according to the requested criteria",
            "headers": {
              "X-LitCal-Starttime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "High resolution timestamp in nanoseconds that indicates the start time of the calculation of the current liturgical calendar response"
              },
              "X-LitCal-Endtime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "High resolution timestamp in nanoseconds that indicates the end time of the calculation of the current liturgical calendar response"
              },
              "X-LitCal-Executiontime": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "Total time in nanoseconds in which the calculation of the current liturgical calendar response was produced (difference between X-LitCal-Starttime and X-LitCal-Endtime, average is usually about 5ms!)"
              },
              "X-LitCal-Generated": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "Calculation",
                    "ClientCache",
                    "ServerCache"
                  ]
                },
                "description": "Indicates whether the current response was produced from: a fresh calculation since the response to the given request had not yet been calculated, or from client cache since the response has not changed since last request, or from server cache since the client had not yet made this same request but the calculation had already been done formerly on the server"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/LitCal.json"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/LitCal.json"
                }
              },
              "text/calendar": {
                "schema": {
                  "type": "string"
                },
                "example": "BEGIN:VCALENDAR\nPRODID:-//John Romano D'Orazio//Liturgical Calendar V1.0//EN\nVERSION:2.0\nCALSCALE:GREGORIAN\nMETHOD:PUBLISH\nX-MS-OLK-FORCEINSPECTOROPEN:FALSE\nX-WR-CALNAME:Roman Catholic Universal Liturgical Calendar LA\nX-WR-TIMEZONE:Europe/Vatican\nX-PUBLISHED-TTL:PT1D\nBEGIN:VEVENT\nCLASS:PUBLIC\nDTSTART;VALUE=DATE:20291231\nDTSTAMP:20240422T062620Z\nUID:c0e7126a841a70761e4057e58b5e2d52\nCREATED:\nDESCRIPTION:\\nSOLLEMNITAS\\nalbus\nLAST-MODIFIED:\nSUMMARY;LANGUAGE=la:SOLLEMNITAS SANCTÆ DEI GENITRICIS MARIÆ Missa in Vigi\n  lia\nTRANSP:TRANSPARENT\nX-MICROSOFT-CDO-ALLDAYEVENT:TRUE\nX-MICROSOFT-DISALLOW-COUNTER:TRUE\nX-ALT-DESC;FMTTYPE=text/html:<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.\n  2//EN\">\\n<HTML>\\n<BODY>\\n\\n<P DIR=LTR><BR><B>SOLLEMNITAS</B><BR><B><I><\n  SPAN LANG=la><FONT FACE=\"Calibri\" COLOR=\"#AAAAAA\">albus</FONT></SPAN></\n  I></B><BR>ANNUM B</P>\\n\\n</BODY>\\n</HTML>\nEND:VEVENT\nEND:VCALENDAR"
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalXML"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified: client should use cached results seeing that the response has not changed"
          },
          "400": {
            "description": "Bad Request: invalid parameters or malformed data in request body"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable: Accept header requests a response Content Type which this API cannot produce"
          },
          "415": {
            "description": "Unsupported Media Type: Content Type of request not valid"
          },
          "418": {
            "description": "I'm a teapot: request in this case must be an AJAX request, but AJAX request not detected"
          }
        }
      }
    },
    "/calendars": {
      "get": {
        "tags": [
          "Metadata API endpoint"
        ],
        "security": [{}],
        "summary": "Retrieve an index of current supported national and diocesan calendars and relative locales, settings, etc.",
        "operationId": "retrieveMetadataGET",
        "responses": {
          "200": {
            "description": "OK: An index of currently supported national and diocesan calendars and relative locales",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalMetadata"
                }
              }
            }
          },
          "304": {
            "description": "304 Not Modified"
          },
          "404": {
            "description": "404 Not Found: index file resource not found"
          },
          "503": {
            "description": "503 Service Unavailable: could not read index file resource"
          }
        }
      },
      "post": {
        "tags": [
          "Metadata API endpoint"
        ],
        "security": [{}],
        "summary": "Retrieve an index of current supported national and diocesan calendars and relative locales, settings, etc.",
        "operationId": "retrieveMetadataPOST",
        "responses": {
          "200": {
            "description": "OK: An index of currently supported national and diocesan calendars and relative locales",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalMetadata"
                }
              }
            }
          },
          "304": {
            "description": "304 Not Modified"
          },
          "404": {
            "description": "404 Not Found: index file resource not found"
          },
          "503": {
            "description": "503 Service Unavailable: could not read index file resource"
          }
        }
      }
    },
    "/events": {
      "get": {
        "tags": [
          "All possible liturgical events endpoint"
        ],
        "security": [{}],
        "summary": "Retrieve all possible liturgical events from the General Roman Calendar even if they won't appear in the Liturgical Calendar one year or the other; useful mostly for frontend select inputs to choose an `event_key` that corresponds with an actual liturgical event",
        "operationId": "retrieveEventsGET",
        "parameters": [
          {
            "in": "header",
            "name": "Accept-Language",
            "schema": {
              "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/CommonDef.json#/definitions/Locale"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK: A collection of all possible liturgical events that can be found in a liturgical calendar produced by the LitCal API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalAllFestivitiesResponse"
                },
                "example": {
                  "litcal_events": {
                    "StsBasilGreg": {
                      "month": 1,
                      "day": 2,
                      "event_key": "StsBasilGreg",
                      "grade": 3,
                      "common": [
                        "Proper"
                      ],
                      "calendar": "GENERAL ROMAN",
                      "color": [
                        "white"
                      ],
                      "readings": {
                        "first_reading": "Ef 4, 1-7.11-13",
                        "responsorial_psalm": "Salmo 23",
                        "second_reading": "",
                        "alleluia_verse": "Mt 23, 9b.10b",
                        "gospel": "Mt 23, 8-12"
                      },
                      "name": "Sancti Basilii Magni et Gregorii Nazianzeni, episcoporum et Ecclesiæ doctorum",
                      "missal": "VATICAN_1970"
                    },
                    "StRayPenyafort": {
                      "month": 1,
                      "day": 7,
                      "event_key": "StRayPenyafort",
                      "grade": 2,
                      "common": [
                        "Pastors:For One Pastor"
                      ],
                      "calendar": "GENERAL ROMAN",
                      "color": [
                        "white"
                      ],
                      "readings": {
                        "first_reading": "2 Cor 5, 14-20",
                        "responsorial_psalm": "Salmo 103",
                        "second_reading": "",
                        "alleluia_verse": "Mt 24, 42a.44",
                        "gospel": "Lc 12, 35-40"
                      },
                      "name": "Sancti Raimundi de Penyafort, presbyteri",
                      "missal": "VATICAN_1970"
                    }
                  },
                  "settings": {
                    "locale": "en",
                    "national_calendar": "US",
                    "diocesan_calendar": "boston_us"
                  }
                }
              }
            }
          },
          "304": {
            "description": "304 Not Modified"
          },
          "404": {
            "description": "404 Not Found: resource file not found"
          },
          "503": {
            "description": "503 Service Unavailable: could not decode resource files"
          }
        }
      },
      "post": {
        "tags": [
          "All possible liturgical events endpoint"
        ],
        "security": [{}],
        "summary": "Retrieve all possible liturgical events from the General Roman Calendar even if they won't appear in the Liturgical Calendar one year or the other; useful mostly for frontend select inputs to choose an `event_key` that corresponds with an actual liturgical event",
        "operationId": "retrieveEventsPOST",
        "parameters": [
          {
            "in": "header",
            "name": "Accept-Language",
            "schema": {
              "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/CommonDef.json#/definitions/Locale"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK: A collection of all possible liturgical events that can be found in a liturgical calendar produced by the LitCal API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalAllFestivitiesResponse"
                },
                "example": {
                  "litcal_events": {
                    "StsBasilGreg": {
                      "month": 1,
                      "day": 2,
                      "event_key": "StsBasilGreg",
                      "grade": 3,
                      "common": [
                        "Proper"
                      ],
                      "calendar": "GENERAL ROMAN",
                      "color": [
                        "white"
                      ],
                      "readings": {
                        "first_reading": "Ef 4, 1-7.11-13",
                        "responsorial_psalm": "Salmo 23",
                        "second_reading": "",
                        "alleluia_verse": "Mt 23, 9b.10b",
                        "gospel": "Mt 23, 8-12"
                      },
                      "name": "Sancti Basilii Magni et Gregorii Nazianzeni, episcoporum et Ecclesiæ doctorum",
                      "missal": "VATICAN_1970"
                    },
                    "StRayPenyafort": {
                      "month": 1,
                      "day": 7,
                      "event_key": "StRayPenyafort",
                      "grade": 2,
                      "common": [
                        "Pastors:For One Pastor"
                      ],
                      "calendar": "GENERAL ROMAN",
                      "color": [
                        "white"
                      ],
                      "readings": {
                        "first_reading": "2 Cor 5, 14-20",
                        "responsorial_psalm": "Salmo 103",
                        "second_reading": "",
                        "alleluia_verse": "Mt 24, 42a.44",
                        "gospel": "Lc 12, 35-40"
                      },
                      "name": "Sancti Raimundi de Penyafort, presbyteri",
                      "missal": "VATICAN_1970"
                    }
                  },
                  "settings": {
                    "locale": "la",
                    "national_calendar": null,
                    "diocesan_calendar": null
                  }
                }
              }
            }
          },
          "304": {
            "description": "304 Not Modified"
          },
          "404": {
            "description": "404 Not Found: resource file not found"
          },
          "503": {
            "description": "503 Service Unavailable: could not decode resource files"
          }
        }
      }
    },
    "/events/nation/{calendar_id}": {
      "get": {
        "tags": [
          "All possible liturgical events endpoint"
        ],
        "security": [{}],
        "summary": "Retrieve all possible liturgical events from the given national calendar even if they won't appear in the Liturgical Calendar one year or the other; useful mostly for frontend select inputs to choose an `event_key` that corresponds with an actual liturgical event",
        "operationId": "retrieveEventsForNationalCalendarGET",
        "parameters": [
          {
            "in": "header",
            "name": "Accept-Language",
            "schema": {
              "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/CommonDef.json#/definitions/Locale"
            }
          },
          {
            "in": "path",
            "name": "calendar_id",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "IT",
                "US",
                "NL",
                "VA"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK: A collection of all possible liturgical events that can be found in a liturgical calendar produced by the LitCal API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalAllFestivitiesResponse"
                },
                "example": {
                  "litcal_events": {
                    "StsBasilGreg": {
                      "month": 1,
                      "day": 2,
                      "event_key": "StsBasilGreg",
                      "grade": 3,
                      "common": [
                        "Proper"
                      ],
                      "calendar": "GENERAL ROMAN",
                      "color": [
                        "white"
                      ],
                      "readings": {
                        "first_reading": "Ef 4, 1-7.11-13",
                        "responsorial_psalm": "Salmo 23",
                        "second_reading": "",
                        "alleluia_verse": "Mt 23, 9b.10b",
                        "gospel": "Mt 23, 8-12"
                      },
                      "name": "Sancti Basilii Magni et Gregorii Nazianzeni, episcoporum et Ecclesiæ doctorum",
                      "missal": "VATICAN_1970"
                    },
                    "StRayPenyafort": {
                      "month": 1,
                      "day": 7,
                      "event_key": "StRayPenyafort",
                      "grade": 2,
                      "common": [
                        "Pastors:For One Pastor"
                      ],
                      "calendar": "GENERAL ROMAN",
                      "color": [
                        "white"
                      ],
                      "readings": {
                        "first_reading": "2 Cor 5, 14-20",
                        "responsorial_psalm": "Salmo 103",
                        "second_reading": "",
                        "alleluia_verse": "Mt 24, 42a.44",
                        "gospel": "Lc 12, 35-40"
                      },
                      "name": "Sancti Raimundi de Penyafort, presbyteri",
                      "missal": "VATICAN_1970"
                    }
                  },
                  "settings": {
                    "locale": "en",
                    "national_calendar": "US",
                    "diocesan_calendar": "boston_us"
                  }
                }
              }
            }
          },
          "304": {
            "description": "304 Not Modified"
          },
          "404": {
            "description": "404 Not Found: resource file not found"
          },
          "503": {
            "description": "503 Service Unavailable: could not decode resource files"
          }
        }
      },
      "post": {
        "tags": [
          "All possible liturgical events endpoint"
        ],
        "security": [{}],
        "summary": "Retrieve all possible liturgical events from the given national calendar even if they won't appear in the Liturgical Calendar one year or the other; useful mostly for frontend select inputs to choose an `event_key` that corresponds with an actual liturgical event",
        "operationId": "retrieveEventsForNationalCalendarPOST",
        "parameters": [
          {
            "in": "header",
            "name": "Accept-Language",
            "schema": {
              "$ref": "https://litcal.johnromanodorazio.com/api/dev/schemas/CommonDef.json#/definitions/Locale"
            }
          },
          {
            "in": "path",
            "name": "calendar_id",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "IT",
                "US",
                "NL",
                "VA"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK: A collection of all possible liturgical events that can be found in a liturgical calendar produced by the LitCal API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LitCalAllFestivitiesResponse"
                },
                "example": {
                  "litcal_events": {
                    "StsBasilGreg": {
                      "month": 1,
                      "day": 2,
                      "event_key": "StsBasilGreg",
                      "grade": 3,
                      "common": [
                        "Proper"
                      ],
                      "calendar": "GENERAL ROMAN",
                      "color": [
                        "white"
                      ],
                      "readings": {
[...]
